<div class="container">


<div class="span-12 append-bottom">
  <% if @job %>
    <%= form.label :job_id, "Job" %><br>
    <%= aaa_highlight("##{@job.id}") %>,&nbsp&nbsp<%= aaa_highlight @job.name %>
    <%#= form.select :job_id, @jobs.map {|u| [job_label(u),u.id]}, :include_blank => true %>
  <% end %>
</div>

<div class="span-12 append-bottom">
  <%= form.label :created_at, "Date:" %><br>
  <%= form.text_field "created_at", 'data-role' => 'datepicker', :required => true, :class => "span-6" %>
</div>

<div class="span-4">
  <div style="height:110px;width:110px;overflow:hidden;">
    <img src="/assets/aaa-striping-logo.png">
  </div>
</div>


<br class="clear">

<div class="span-12 append-bottom">
  <%= form.label :start_time, "Start Time:" %><br>
  <%= form.text_field "start_time", 'data-role' => 'datetimepicker', :required => true, :class => "span-6" %>
</div>

<div class ="span-12 append-bottom">
 <%= form.label :end_time, "End Time:" %><br>
 <%= form.text_field "end_time", 'data-role' => 'datetimepicker', :required => true, :class => "span-6" %>
</div>

<br class="clear">

<div class="span-12 append-bottom">
  <%= form.label :completed_by, "Completed By:" %><br>
  <%= form.text_field "completed_by", :required => true, :class => "span-6" %>
</div>

<br class="clear">

<div class="span-12 append-bottom">
  <%= form.label :report_type, "Repaint:" %><br>
  <%= form.radio_button :report_type, "true" %> Repair & Maintanance 
  <%= form.radio_button :report_type, "false" %> New Construction
</div>

<br class="clear">

<table class="guns span-26 table-striped table-hover">
  <tr class="spacer">
    <th class="span-6">Type</th>
    <th class="span-3">Each</th>
    <th class="span-3">L.M</th>
    <th class="span-1">&nbsp</th>
    <th class="span-6">Type</th>
    <th class="span-3">Each</th>
    <th class="span-3">L.M</th>
  </tr>
  <tr class="spacer">
    <th>&nbsp</th>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
  <tr class="spacer">
    <th>10cm Parking Lot Line Standard</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
    <td>&nbsp</td>
    <th>20-40 cm Stop Bar</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr class="spacer">
    <th>10cm Parking Lot Line Angle</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Arrow- Single</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>10cm Parking Lot Line Parallel</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Arrow- Double</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>10cm Cross Hatching</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Speed Bump- Regular</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>20cm Crosswalk Line</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Speed Bump- Large</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>60cm Zebra Bar Crosswalk- Lump Sum</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Parking Stall #'s</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>60cm Zebra Bar (Each Bar)</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Parking Stall #'s</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>Handicap Symbol- /W Blue Back</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Sweeping- Lump Sum</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>Handicap Symbol- W/O Blue Back</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Sweeping- Hourly</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>NO PARKING</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Scrubbing- Lump Sum</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>STOP</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
    <td>&nbsp</td>
    <th>Black Out Line</th>
    <td><%= form.text_field "type_each_1", :class => "span-3" %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>DRIVE THRU</th>
    <td><%= form.text_field "type_each_1", :class => "span-3"  %></td>
    <td><%= form.text_field "type_lm_1", :class => "span-3"  %></td>
  </tr>

</table>


<br class="clear">

<div class="span-12 append-bottom">
  <%= form.label :notes, "Notes:" %><br>
  <%= form.text_area "notes", :required => true, :class => "span-12" , cols: "30", rows: "6"%>
</div>


</div>
