<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Settings', private_settings_path %></li>
    <li>»</li>
    <li><%= link_to 'Locations', private_locations_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% form_for @location, :url => private_location_path(@location), :method => :put do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Save Location" %> or <%= link_to 'Cancel', private_locations_path %>
<% end %>
