
<% st = 0 %>
<% ot = 0 %>
<% entries.each do |entry| %>
<% st += entry.straight_time %>
<% ot += entry.over_time %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      <% @link = "/admin/reports/user_time/"+user.id.to_s %>
        <%= link_to user.name, @link %>
    </td>
    <td ><%= if entry.straight_time != 0 : "#{sprintf("%.2f", entry.straight_time)}" else '-' end %></td>
    <td ><%= if entry.over_time != 0 : "#{sprintf("%.2f", entry.over_time)}" else '-' end %></td>

  </tr>
<% end%>
  <tr>
    <th></th>
    <th ><%= st %></th>
    <th ><%= ot %></th>

