<h3><%= @back.to_date.strftime('%b-%d-%y') %> to <%= (@front.to_date - 1.day).strftime('%b-%d-%y') %></h3>
<p class="center">
  <%= link_to '<< Previous Pay Period', report_decrease_offset_path(:id => @crew.id) %> |
  <%= link_to 'Today', report_reset_offset_path(:id => @crew.id) %> |
  <%= link_to 'Next Pay Period >>', report_increase_offset_path(:id => @crew.id) %>
</p>

<table>
      <tr>
    <th>User</th>
    <th >S/T</th>
    <th >OT</th>
  </tr>
<% @users.each do |user| %>
  <% @entries = TimeEntry.where(:clock_in => @back.to_date...@front.to_date, :user_id => user.id).includes(:time_sheet => :estimates).order('clock_in ASC')

<%= render :partial => 'display_table', :locals => {:user => user, :back => @back, :front => @front, :entries => @entries } %>

<% end %>
</table>
