<% content_for :versions do %>
<ol id="versions" class="noprint">
    <li><%= link_to '<< Previous Pay Period', report_decrease_offset_path %></li>
    <li><%= link_to 'Today', report_reset_offset_path %></li>
    <li><%= link_to 'Next Pay Period >>', report_increase_offset_path %></li>
</ol>
<% end %>

<h1>Pay Period Report</h1>

<p>From <%= @back.to_date %> to <%= @front.to_date - 1.day %></p>

<table>
  <tr>
    <th>Date</th>
    <th>Job</th>
    <th>Sheet</th>
    <th>Clock In</th>
    <th>Clock Out</th>
    <th class="right">S/T</th>
    <th class="right">O/T</th>
    <th class="right">OT</th>
    <th class="right">Rate</th>
    <th class="right">Earnings</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.clock_in.strftime('%a, %b %d, %Y') %></td>
    <td><%= entry.job.label %></td>
    <td><%= entry.time_sheet_id %></td>
    <td class="right"><%= if entry.clock_in : entry.clock_in.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.clock_out : entry.clock_out.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.straight_time != 0 : "#{sprintf("%.2f", entry.straight_time)} H" else '-' end %></td>
    <td class="right"><%= if entry.over_time != 0 : "#{sprintf("%.2f", entry.over_time)} H" else '-' end %></td>
    <td class="right"><%= if entry.bank_overtime_hours : "Bank" else "Pay" end %></td>
    <td class="right"><%= if entry.rate : "$#{entry.rate}" end %></td>
    <td class="right"><%= "$#{sprintf("%.2f", entry.cost)}" %></td>
  </tr>
<% end%>
</table>