<%= content_for :versions do %>
<ol id="versions" class="noprint">
    <li><%= link_to '&lt;&lt; Previous Pay Period', report_decrease_offset_path(@user.id) %></li>
    <li><%= link_to 'Today', report_reset_offset_path(:id => @user.id) %></li>
    <li><%= link_to 'Next Pay Period &gt;&gt;', report_increase_offset_path(@user.id) %></li>
</ol>
<% end %>

<%= content_for :submenu do %>
  <%= render :partial => 'menus/users_menu', :layout => false %>
<% end %>

<%= render :partial => 'display_table', :locals => {:user => @user, :back => @back, :front => @front, :entries => @entries } %>
