<ul>
  <li><a <%= active_menu(1) %> href="/">Home</a></li>
  <li><a <%= active_menu(2) %> href="/about">About Us</a></li>
  <li><a <%= active_menu(3) %> href="/services">Services</a></li>
  <li><a <%= active_menu(4) %> href="/products">Products</a></li>
  <li><a <%= active_menu(5) %> href="/suppliers">Suppliers</a></li>
  <li><a <%= active_menu(6) %> href="/careers">Careers</a></li>
  <li><a <%= active_menu(7) %> href="/remove-paint-on-a-car">Remove Paint on a Car</a></li>
  <li><a <%= active_menu(8) %> href="/equipment-for-sale">Equipment for Sale</a></li>
  <li><a <%= active_menu(9) %> href="/contacts">Contact</a></li>
</ul>