<div id="menu" class="noprint">
<% authenticated_only do %>
  <%= link_to 'Dashboard', private_home_path %> |
  <% if permitted_to? :create, :private_jobs -%>
    <%= active_link_to 'New Job on Hand', new_private_job_path %> |
  <% end %>
  <%= link_to "My Hours", report_user_time_path(:id => current_user.id) %> |
  <% if permitted_to? :update, :users -%>
    <%= active_link_to "My Account", edit_user_path(current_user.id) %> |
  <% end %>
  <% if permitted_to? :index, :private_directory -%>
    <%= link_to 'Directory', directory_path %> |
  <% end %>
  <%= link_to "Logout", logout_path, :method => :delete %>
<% end %>
</div>