<div id="sidebar">
  <h3>Services</h3>
  <ul>
    <li><a <%= active_menu(12) %>href="/services/aquaflex-intermix">AquaFlex Intermix</a></li>
    <li><a <%= active_menu(13) %>href="/services/highway-beacon">Highway Beacon</a></li>
    <li><a <%= active_menu(14) %>href="/services/hot-thermoplastic">Hot Thermoplastic Markings</a></li>
    <li><a <%= active_menu(15) %>href="/services/line-painting">Line Painting</a></li>
    <li><a <%= active_menu(16) %>href="/services/line-removal">Line Removal</a></li>
    <li><a <%= active_menu(17) %>href="/services/mma-durables">MMA Cold Plastic Markings</a></li>
    <li><a <%= active_menu(21) %>href="/services/parking-lot-maintenance">Parking Lot Maintenance</a></li>
    <li><a <%= active_menu(18) %>href="/services/seal-coating">Seal Coating</a></li>
    <li><a <%= active_menu(19) %>href="/services/fast-dry-paint-with-the-twin-dry-system">Fast Dry Paint</a></li>
    <li id="wetlink">
      <a <%= active_menu(20) %>href="#">Wet Night Visibility</a>
      <ul id="wetmenu" style="display: none;">
        <li><a href="/services/wet-night-visibility/agglomerate-structured-marking">Agglomerate Structured Marking</a></li>
        <li><a href="/services/wet-night-visibility/dotflex-mma-cold-plastic">DOTFlex MMA Cold Plastic</a></li>
        <li><a href="/services/wet-night-visibility/droponlinetm-hot-thermoplastic">DropOnLineTM Hot Thermoplastic</a></li>
      </ul>
    </li>
  </ul>
</div>

<script type="text/javascript">
  Event.observe($('wetlink'), 'mouseover', function(event){ $('wetmenu').show(); });
  Event.observe($('wetlink'), 'mouseout', function(event){ $('wetmenu').hide(); });
</script>