<ul>
<% has_role? :admin do %>
  <li><%= active_link_to 'Clients', private_clients_path %></li>
  <li><%= active_link_to 'Equipment', private_equipments_path %></li>
  <li><%= active_link_to 'Manufacturers', private_manufacturers_path %></li>
  <li><%= active_link_to 'Materials', private_materials_path %></li>
  <li><%= active_link_to 'Job Completion Levels', private_completions_path %></li>
  <li><%= active_link_to 'Job Locations', private_locations_path %></li>
<% end %>
</ul>