<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Manufacturers', private_manufacturer_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% form_for @manufacturer, :url => private_manufacturer_path(@manufacturer), :method => :put do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Save Manufacturer" %> or <%= link_to 'Cancel', private_manufacturer_path %>
<% end %>
