<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Settings', private_settings_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Manufacturer', new_private_manufacturer_path %></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Litres or KG</th>
    <th class="actions nosort"></th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr>
    <td><%= manufacturer.name %></td>
    <td><%= manufacturer.abbreviation %></td>
    <td><%= manufacturer.amount %></td>
    <td class="actions">
    <%= link_to 'Delete', private_manufacturer_path(manufacturer), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_manufacturer_path(manufacturer), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>
