<div class="span-6 append-bottom">
  <%= form.label :name, "Name" %><br>
  <%= form.text_field :name, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :value, "Value" %><br>
  <%= form.text_field :value, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :description, "Description" %><br>
  <%= form.text_field :description, :class => "span-6" %>
</div>

<hr>