<div class="container">
<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= link_to 'Costs', private_costs_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= form_for @cost, :url => private_cost_path(@cost), :method => :put do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Save Cost" %> or <%= link_to 'Cancel', private_costs_path %>
<% end %>
    </div>
