<%= content_for :breadcrumb do %>
    <ul id="breadcrumb">
      <li><%= link_to 'Dashboard', private_home_path %></li>
      <li>»</li>
      <li><%= @page_title %></li>
    </ul>
<% end %>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %><br>
    <em>Searches within Job Name</em>
  </td></tr>
<% end %>
</table>

<p class="hint">To create a new material report, view the related Job and choose 'New Material Report' from the sub-menu. The Job must have at least 1 Load Sheet and Gun Sheet.</p>

<%= will_paginate @material_reports %>

<table class="sortable">
  <tr>
    <th class="center number">#</th>
    <th class="number">Job</th>
    <th class="number">Load Sheet</th>
    <th class="number">Gun Sheet</th>
    <th class="actions nosort"></th>
  </tr>

<% @material_reports.each do |m| %>
  <tr>
    <td><%= m.id %></td>
    <td>
      <%= aaa_highlight(job_label(m.job)) %>
      <%= link_to image_tag("open-link.png"), private_job_path(m.job_id) %>
    </td>
    <td><%= m.load_sheet ? m.load_sheet.label : "-" %></td>
    <td><%= m.gun_sheet ? m.gun_sheet.label : "-" %></td>
    <td class="actions">
      <%= link_to "Delete", private_material_report_path(m), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
      <%= link_to "Edit", edit_private_material_report_path(m), :class => "edit" %>
      <%= link_to "Show", private_material_report_path(m), :class => "show" %>
      <% if !m.job_id.blank? && m.load_sheet %>
        <%= link_to image_tag('pdf-download.png', :class => "show", :title => "Download report"), private_mat_download_pdf_path(m.id) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @material_reports %>
