<style type="text/css">
.table {
	border:1px solid black;
}
td{
	border:1px solid black;
}
tr{
	border:1px solid black;
}
</style>
<%= @page_title %>
<table>
	<tr><td>
<table>
  <th>Equipment Used:</th>

  <% @material_report.gun_sheets.each do |gun| %>
      <% if gun.try(:equipment_id) %>
          <% hold = Equipment.find(gun.equipment_id) %>
          <Tr>
            <td> <%= hold.name %></td>
          </Tr>

      <% end %>
  <% end %>

  <% @material_report.load_sheets.each do |load| %>
      <% if load.try(:equipment_id) %>
          <% hold = Equipment.find(load.equipment_id) %>
          <tr>
            <td><%= hold.name %></td>
          </tr>
      <% end %>
  <% end %>

</table>
</td>
<td>
<table>
  <th>
    Location:
  </th>

  <% @material_report.gun_sheets.each do |gun| %>
      <Tr>
        <td> <%= if gun.job_location :
            gun.job_location.name
        end %> / <%= gun.location_name %>  </td>
      </Tr>
  <% end %>

  <% @material_report.load_sheets.each do |load| %>
      <% if not load.location_id.nil? %>
          <% hold = JobLocation.find(load.location_id) %>
          <tr>
            <td> <%= hold.name %></td>
          </tr>
      <% end %>
  <% end %>

</table>

<table>
  <th>
    Created By:
  </th>

  <tr>
    <Td>
      <% if @material_report.try(:created_by) %>
          <% hold = User.find(@material_report.created_by) %>
          <%= hold.first_name + ' ' + hold.last_name %>
      <% end %>

    </Td>
  </tr>
</table>
</td>
</tr>
<tr>
<td>
<h4>Tank Level</h4>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="span-3 right">Start cm</th>
    <th class="span-3 right">End cm</th>
    <th class="span-3 right">Used cm</th>
    <th class="span-3 right">Calculation</th>
    <th class="span-3 right">Total Used</th>
  </tr>

  <%
     @total_yellow_used = 0
     @total_white_used = 0
  	 @adjusted_total_yellow_used = 0
     @adjusted_total_white_used = 0
 %>

  <% if @material_report.load_sheets %>
      <% @material_report.load_sheets.each do |load| %>
          <%
             @total_yellow_used += (@material_report.yellow_rate * load.yellow_dip_used)
             @total_white_used += (@material_report.white_rate * load.white_dip_used)
			 @adjusted_total_yellow_used += (@material_report.yellow_rate * load.adjusted_yellow_dip_used)
             @adjusted_total_white_used += (@material_report.white_rate * load.adjusted_white_dip_used)
          %>
          <tr>
            <th class="right">Original Yellow</th>
            <td class="right"><%= load.yellow_dip_start %></td>
            <td class="right"><%= load.yellow_dip_end %></td>
            <td class="right"><%= load.yellow_dip_used %></td>
            <td class="right"><%= @material_report.yellow_rate %></td>
            <td class="right"><%= @total_yellow_used %></td>
          </tr>
          <tr>
            <th class="right">Adjusted Yellow</th>
            <td class="right"><%= load.adjusted_yellow_dip_start %></td>
            <td class="right"><%= load.adjusted_yellow_dip_end %></td>
            <td class="right"><%= load.adjusted_yellow_dip_used %></td>
            <td class="right"><%= @material_report.yellow_rate %></td>
            <td class="right"><%= @adjusted_total_yellow_used %></td>
	      </tr>
          <tr>
            <th class="right">White</th>
            <td class="right"><%= load.white_dip_start %></td>
            <td class="right"><%= load.white_dip_end %></td>
            <td class="right"><%= load.white_dip_used %></td>
            <td class="right"><%= @material_report.white_rate %></td>
            <td class="right"><%= @total_white_used %></td>
          </tr>
          <tr>
            <th class="right">Adjusted White</th>
            <td class="right"><%= load.adjusted_white_dip_start %></td>
            <td class="right"><%= load.adjusted_white_dip_end %></td>
            <td class="right"><%= load.adjusted_white_dip_used %></td>
            <td class="right"><%= @material_report.white_rate %></td>
            <td class="right"><%= @adjusted_total_white_used %></td>
	      </tr>
          <tr>
            <th class="right">Bead</th>
            <td class="right">-</td>
            <td class="right">-</td>
            <td class="right">-</td>
            <td class="right">-</td>
            <td class="right">-</td>
          </tr>
      <% end %>
  <% end %>
</table>
</td>

<td>
<h4>Meters</h4>
<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="span-3 right">Y-1</th>
    <th class="span-3 right">Y-2</th>
    <th class="span-3 right">Y-3</th>
    <th class="span-3 right">W-4</th>
    <th class="span-3 right">W-5</th>
    <th class="span-3 right">W-6</th>
    <th class="span-3 right last">W-7</th>
  </tr>
  <%
     @yellow_l_km = 0
     @white_l_km = 0
  %>
  <% if @material_report.gun_sheets %>
      <% @material_report.gun_sheets.each do |gun| %>
          <% @yellow_l_km += (gun.solid_y1 + gun.solid_y2 + gun.solid_y3 + gun.skip_y1 + gun.skip_y2 + gun.skip_y3) %>
          <% @white_l_km += (gun.solid_w4 + gun.solid_w5 + gun.solid_w6 + gun.solid_w7 + gun.skip_w4 + gun.skip_w5 + gun.skip_w6 + gun.skip_w7) %>
          <tr>
            <th class="right">Solid</th>
            <td class="right"><%= gun.solid_y1 %></td>
            <td class="right"><%= gun.solid_y2 %></td>
            <td class="right"><%= gun.solid_y3 %></td>
            <td class="right"><%= gun.solid_w4 %></td>
            <td class="right"><%= gun.solid_w5 %></td>
            <td class="right"><%= gun.solid_w6 %></td>
            <td class="right"><%= gun.solid_w7 %></td>
          </tr>
          <tr>
            <th class="right">Skip</th>
            <td class="right"><%= gun.skip_y1 %></td>
            <td class="right"><%= gun.skip_y2 %></td>
            <td class="right"><%= gun.skip_y3 %></td>
            <td class="right"><%= gun.skip_w4 %></td>
            <td class="right"><%= gun.skip_w5 %></td>
            <td class="right"><%= gun.skip_w6 %></td>
            <td class="right"><%= gun.skip_w7 %></td>
          </tr>
          <tr>
            <th class="right">Total</th>
            <td class="right"><%= gun.solid_y1 + gun.skip_y1 %></td>
            <td class="right"><%= gun.solid_y2 + gun.skip_y2 %></td>
            <td class="right"><%= gun.solid_y3 + gun.skip_y3 %></td>
            <td class="right"><%= gun.solid_w4 + gun.skip_w4 %></td>
            <td class="right"><%= gun.solid_w5 + gun.skip_w5 %></td>
            <td class="right"><%= gun.solid_w6 + gun.skip_w6 %></td>
            <td class="right"><%= gun.solid_w7 + gun.skip_w7 %></td>
          </tr>
      <% end %>
  <% end %>
</table>
</td>
</tr>
<tr>
<td>
<h4>Summary</h4>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Batch #</th>
    <th class="right">Litres</th>
    <th class="right">L.KM</th>
    <th class="right">L/KM</th>
    <th class="right">Target</th>
  </tr>
  <% if @material_report.load_sheets && @material_report.gun_sheets %>
      <tr>
        <th>Yellow</th>
        <td class="right">&nbsp;</td>
        <td class="right"><%= if @total_yellow_used != 0 then
            sprintf("%.3f", @total_yellow_used)
        else
            "-"
        end %></td>
        <td class="right"><%= if @yellow_l_km != 0 then
            sprintf("%.3f", @yellow_l_km)
        else
            "-"
        end %></td>
        <td class="right">
          <% if @yellow_l_km != 0 %>
              <%= sprintf("%.3f", (@total_yellow_used / @yellow_l_km)) %>
          <% else %>
              -
          <% end %>
        </td>
        <td class="right">38 L/KM</td>
      </tr>

      <tr>
        <th>White</th>
        <td class="right">&nbsp;</td>
        <td class="right"><%= sprintf("%.3f", @total_white_used) %></td>
        <td class="right"><%= sprintf("%.3f", @white_l_km) %></td>
        <td class="right">
          <% if @white_l_km != 0 %>
              <%= sprintf("%.3f", (@total_white_used / @white_l_km)) %>
          <% else %>
              -
          <% end %>
        </td>
        <td class="right">38 L/KM</td>
      </tr>

      <tr>
        <th>Bead</th>
        <td class="right">&nbsp;</td>
        <td class="right">-</td>
        <td class="right">-</td>
        <td class="right">-</td>
        <td class="right">22.2 KG/KM</td>
      </tr>
  <% end %>
</table>
<h4>Equipment</h4>
<table>
  <tr>
    <th>Load Sheet</th>
    <th>Equipment</th>
  </tr>
  <% @load_sheets.each do |load_sheet|      %>
    <tr>
      <td><%= load_sheet.try(:label) %></td>
      <td><%= load_sheet.equipment.try(:name) %></td>
    </tr>
  <% end %>
</table>
</td>
<td>
<h4>Markings</h4>
<table>
  <tr>
    <th>Gun Sheet</th>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <% @gun_sheets.each do |gun_sheet|      %>
  <% gun_sheet.gun_markings.each do |marking| %>
    <tr>
      <td><%= gun_sheet.try(:label) %></td>
      <td><%= marking.gun_marking_category.try(:name) %></td>
      <td><%= marking.amount %></td>
    </tr>
  <% end %>
  <% end %>
</table>

<h4>Interchanges and Intersections</h4>
<table>
  <tr>
    <th>Gun Sheet</th>
    <th>Interchanges</th>
    <th>Intersections</th>
  </tr>
  <% @gun_sheets.each do |gun_sheet|      %>
    <tr>
      <td><%= gun_sheet.try(:label) %></td>
      <td><%= gun_sheet.try(:interchanges) %></td>
      <td><%= gun_sheet.try(:sides)  %></td>
    </tr>
  <% end %>
</table>
</td>
</tr>
<tr>
<td>


</td>
</tr>
</table>
