<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Material Reports', private_material_reports_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/material_reports_menu', :layout => false %>
<% end %>

<% content_for :versions do %>
<ol id="versions">
    <li><%= link_to "Printer Friendly Page", private_mat_print_url %></li>
</ol>


<% end %>

<table>
  <tr>
    <th class="span-3">Gun Sheet</th>
    <td>
      <% if @material_report.gun_sheet %>
        <%= @material_report.gun_sheet.label %>
        <%= link_to image_tag("open-link.png"), edit_private_gun_sheet_path(@material_report.gun_sheet) %>
      <% end %>
    </td>
    <td>
    <% if @material_report.gun_sheet %>
      <% if @material_report.gun_sheet.equipment_id %>
        <%= @material_report.gun_sheet.equipment.name %>
        <%= link_to image_tag("open-link.png"), edit_private_equipment_path(@material_report.gun_sheet.equipment) %><br />
      <% end %>
    <% end %>
    </td>
  </tr>
  <tr>
    <th class="span-3">Load Sheet</th>
    <td>
      <% if @material_report.load_sheet %>
        <%= @material_report.load_sheet.label %>
        <%= link_to image_tag("open-link.png"), edit_private_load_sheet_path(@material_report.load_sheet) %>
      <% end %>
    </td>
    <td>
    <% if @material_report.load_sheet %>
      <% if @material_report.load_sheet.equipment %>
        <%= @material_report.load_sheet.equipment.name %>
        <%= link_to image_tag("open-link.png"), edit_private_equipment_path(@material_report.load_sheet.equipment) %><br />
      <% end %>
    <% end %>
    </td>
    </tr>
  </td>

  <tr>
    <th>Location:</th>
    <td colspan="2"><%= @material_report.gun_sheet ? @material_report.gun_sheet.location_name : "Unknown" %></td>
  </tr>

  <tr>
    <th>Created By:</th>
    <td colspan="2">
      <% if @material_report.created_by %>
        <%= User.find_by_id(@material_report.created_by).name %>
        <%= link_to image_tag("open-link.png"), edit_user_path(@material_report.created_by) %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Tank Start</th>
    <th class="right">Tank End</th>
    <th class="right">Tank Used</th>
    <th class="right">Truck Calculation Rate</th>
    <th class="right">Total Used</th>
  </tr>

  <% if @material_report.load_sheet %>
  <form id="adjusted_dips" action="#">
    <tr>
      <th class="right">Yellow</th>
      <td class="right" id="yellow_start">
        <%= @material_report.load_sheet.yellow_dip_start %>
        <%= text_field_tag 'adjusted_yellow_start', @material_report.load_sheet.yellow_dip_start, :class => "span-2" %>
      </td>
      <td class="right" id="yellow_end">
        <%= @material_report.load_sheet.yellow_dip_end %>
        <%= text_field_tag 'adjusted_yellow_end', @material_report.load_sheet.yellow_dip_end, :class => "span-2" %>
      </td>
      <td class="right"><span id="yellow_used"><%= @material_report.load_sheet.yellow_dip_used %></span> cm</td>
      <td class="right"><span id="yellow_rate"><%= @material_report.yellow_rate %></span> L/cm</td>
      <td class="right"><span id="tank_yellow_calc"></span> L</td>
    </tr>
    <tr>

    <tr>
      <th class="right">White</th>
      <td class="right" id="white_start">
        <%= @material_report.load_sheet.white_dip_start %>
        <%= text_field_tag 'adjusted_white_start', @material_report.load_sheet.white_dip_start, :class => "span-2" %>
      </td>
      <td class="right" id="white_end">
        <%= @material_report.load_sheet.white_dip_end %>
        <%= text_field_tag 'adjusted_white_end', @material_report.load_sheet.white_dip_end, :class => "span-2" %>
      </td>
      <td class="right"><span id="white_used"><%= @material_report.load_sheet.white_dip_used %></span> cm</td>
      <td class="right"><span id="white_rate"><%= @material_report.white_rate %></span> L/cm</td>
      <td class="right"><span id="tank_white_calc"></span> L</td>
    </tr>
  </form>
    <tr>
      <th class="right">Bead</th>
      <td class="right"></td>
      <td class="right"></td>
      <td class="right"></td>
      <td class="right"></td>
      <td class="right"><span id="bead_used"></span> KG</td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Y-1</th>
    <th class="right">Y-2</th>
    <th class="right">Y-3</th>
    <th class="right">W-4</th>
    <th class="right">W-5</th>
    <th class="right">W-6</th>
    <th class="right last">W-7</th>
  </tr>
  <%
     @yellow_l_km = 0
     @white_l_km = 0
  %>
  <% if @material_report.gun_sheet %>
  <% @yellow_l_km = @material_report.gun_sheet.yellow_length %>
  <% @white_l_km = @material_report.gun_sheet.white_length %>
    <tr>
      <th class="right span-3">Solid</th>
      <td class="right"><%= @material_report.gun_sheet.solid_y1 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y2 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y3 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w4 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w5 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w6 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w7 %></td>
    </tr>
    <tr>
      <th class="right span-3">Skip</th>
      <td class="right"><%= @material_report.gun_sheet.skip_y1 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_y2 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_y3 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w4 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w5 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w6 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w7 %></td>
    </tr>
    <tr>
      <th class="right span-3">Total</th>
      <td class="right"><%= @material_report.gun_sheet.solid_y1 + @material_report.gun_sheet.skip_y1 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y2 + @material_report.gun_sheet.skip_y2 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y3 + @material_report.gun_sheet.skip_y3 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w4 + @material_report.gun_sheet.skip_w4 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w5 + @material_report.gun_sheet.skip_w5 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w6 + @material_report.gun_sheet.skip_w6 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w7 + @material_report.gun_sheet.skip_w7 %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Total Used</th>
    <th class="right">Solid+Skip KM</th>
    <th class="right">Litres/Line KM</th>
    <th class="right">Target</th>
  </tr>
  <tr>
    <th class="right">Yellow</th>
    <td class="right"><span id="summary_total_yellow_used"></span> L</td>
    <td class="right" id="summary_yellow_length"><%= @material_report.gun_sheet.yellow_length %></td>
    <td class="right" id="summary_yellow_calculation"></td>
    <td class="right">38 L/KM</td>
  </tr>

  <tr>
    <th class="right">White</th>
    <td class="right"><span id="summary_total_white_used"></span> L</td>
    <td class="right" id="summary_white_length"><%= @material_report.gun_sheet.white_length %></td>
    <td class="right" id="summary_white_calculation"></td>
    <td class="right">38 L/KM</td>
  </tr>

  <tr>
    <th class="right">Bead</th>
    <td class="right"><span id="summary_bead_used"></span> KG</td>
    <td class="right" id="summary_bead_length"></td>
    <td class="right" id="summary_bead_calculation"></td>
    <td class="right">22.2 KG/KM</td>
  </tr>
</table>

<% if @material_report.gun_sheet %>
<h3>Markings</h3>
<table>
  <tr>
    <th>Category</th>
    <th>Amount</th>
  </tr>
    <% @material_report.gun_sheet.gun_markings.each do |marking| %>
      <tr>
        <td><%= marking.gun_marking_category ? marking.gun_marking_category.name : "Unknown Category" %></td>
        <td><%= marking.amount %></td>
      </tr>
    <% end %>
</table>

<h3>Interchanges and Sides</h3>
<table>
  <tr>
    <th>Interchanges</th>
    <th>sides</th>
  </tr>
    <tr>
      <td><%= @material_report.gun_sheet.try(:interchanges) %></td>
      <td><%= @material_report.gun_sheet.try(:sides)  %></td>
    </tr>
</table>
<% end %>

<script type="text/javascript" language="javascript">
  function updateTable() {
    $('white_used').innerHTML = ($('adjusted_white_start').getValue() - $('adjusted_white_end').getValue()).toFixed(2)
    $('yellow_used').innerHTML = ($('adjusted_yellow_start').getValue() - $('adjusted_yellow_end').getValue()).toFixed(2)
    $('tank_white_calc').innerHTML = ($('white_rate').innerHTML * $('white_used').innerHTML).toFixed(2)
    $('tank_yellow_calc').innerHTML = ($('yellow_rate').innerHTML * $('yellow_used').innerHTML).toFixed(2)
    $('bead_used').innerHTML = (($('tank_white_calc').innerHTML * 1) + ($('tank_yellow_calc').innerHTML * 1) * 0.6).toFixed(2)

    $('summary_total_white_used').innerHTML = ($('white_rate').innerHTML * $('white_used').innerHTML).toFixed(2)
    $('summary_total_yellow_used').innerHTML = ($('yellow_rate').innerHTML * $('yellow_used').innerHTML).toFixed(2)
    $('summary_yellow_calculation').innerHTML = ($('summary_total_yellow_used').innerHTML / $('summary_yellow_length').innerHTML).toFixed(3)
    $('summary_white_calculation').innerHTML = ($('summary_total_white_used').innerHTML / $('summary_white_length').innerHTML).toFixed(3)

    $('summary_bead_used').innerHTML = (($('tank_white_calc').innerHTML * 1) + ($('tank_yellow_calc').innerHTML * 1) * 0.6).toFixed(2)
    $('summary_bead_length').innerHTML = (($('summary_yellow_length').innerHTML * 1) + ($('summary_white_length').innerHTML * 1)).toFixed(2)
    $('summary_bead_calculation').innerHTML = ($('summary_bead_used').innerHTML / $('summary_bead_length').innerHTML).toFixed(2)
    };

    $('adjusted_white_end').observe('keyup', updateTable);
    $('adjusted_white_start').observe('keyup', updateTable);
    $('adjusted_yellow_end').observe('keyup', updateTable);
    $('adjusted_yellow_start').observe('keyup', updateTable);
</script>

<script language="javascript">
  updateTable();
</script>