<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Material Reports', private_material_reports_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/material_reports_menu', :layout => false %>
<% end %>

<table>
  <tr>
    <th class="span-3">Job</th>
    <td colspan="2" style="border-top: solid 1px #ccc">
      <%= @material_report.job.label %>
      <%= link_to image_tag("open-link.png"), private_job_path(@material_report.job), :class => "noprint" %>
    </td>
  </tr>
  <tr>
    <th class="span-3">Gun Sheet</th>
    <td>
      <% if @material_report.gun_sheet %>
        <%= @material_report.gun_sheet.label %>
        <%= link_to image_tag("open-link.png"), edit_private_gun_sheet_path(@material_report.gun_sheet), :class => "noprint" %>
      <% else %>
        Unknown
      <% end %>
    </td>
    <td>
      <% if @material_report.gun_sheet %>
        <% if @material_report.gun_sheet.equipment_id %>
          <%= @material_report.gun_sheet.equipment.name %>
          <%= link_to image_tag("open-link.png"), edit_private_equipment_path(@material_report.gun_sheet.equipment), :class => "noprint" %><br />
        <% end %>
      <% else %>
        Unknown
      <% end %>
    </td>
  </tr>
  <tr>
    <th class="span-3">Load Sheet</th>
    <td>
      <% if @material_report.load_sheet %>
        <%= @material_report.load_sheet.label %>
        <%= link_to image_tag("open-link.png"), edit_private_load_sheet_path(@material_report.load_sheet), :class => "noprint" %>
      <% else %>
        Unknown
      <% end %>
    </td>
    <td>
      <% if @material_report.load_sheet %>
        <% if @material_report.load_sheet.equipment %>
          <%= @material_report.load_sheet.equipment.name %>
          <%= link_to image_tag("open-link.png"), edit_private_equipment_path(@material_report.load_sheet.equipment), :class => "noprint" %><br />
        <% end %>
      <% else %>
        Unknown
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Location</th>
    <td colspan="2">
      <% if @material_report.gun_sheet %>
        <%= @material_report.gun_sheet.location_name %>
      <% else %>
        <%= "Unknown" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Created By</th>
    <td colspan="2">
      <% if @material_report.created_by %>
        <%= User.find_by_id(@material_report.created_by).name %>
        <%= link_to image_tag("open-link.png"), edit_user_path(@material_report.created_by), :class => "noprint" %>
      <% else %>
        Unknown
      <% end %>
    </td>
  </tr>
</table>

<br>

<% if @material_report.load_sheet %>
  <% form_for [:private, @material_report.load_sheet], :url => private_update_dips_path do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <th class="span-3">&nbsp;</th>
        <th class="right">Prev End</th>
        <th class="right">Tank Start</th>
        <th class="right">Tank End</th>
        <th class="right">Next Start</th>
        <th class="right">Tank Used</th>
        <th class="right">Truck Calculation Rate</th>
        <th class="right">Total Used</th>
      </tr>

      <tr>
        <th>Yellow</th>
        <td class="right">
          <%= @material_report.prev_report.load_sheet.printable_yellow_dip_end if @material_report.prev_report && @material_report.prev_report.load_sheet %>
        </td>
        <td class="right">
          <span class="noprint">
            <%= @material_report.load_sheet.yellow_dip_start %>
            <%= f.text_field "adjusted_yellow_dip_start", :class => "span-2" %>
          </span>
          <span class="onlyprint"><%= @material_report.load_sheet.adjusted_yellow_dip_start %></span>
        </td>
        <td class="right">
          <span class="noprint">
            <%= @material_report.load_sheet.yellow_dip_end %>
            <%= f.text_field "adjusted_yellow_dip_end", :class => "span-2" %>
          </span>
          <span class="onlyprint"><%= @material_report.load_sheet.adjusted_yellow_dip_end %></span>
        </td>
        <td class="right">
          <%= @material_report.next_report.load_sheet.printable_yellow_dip_start if @material_report.next_report && @material_report.next_report.load_sheet %>
        </td>
        <td class="right"><span id="yellow_used"><%= @material_report.load_sheet.yellow_dip_used %></span> cm</td>
        <td class="right"><span id="yellow_rate"><%= @material_report.yellow_rate %></span> L/cm</td>
        <td class="right"><span id="tank_yellow_calc"></span> L</td>
      </tr>

      <tr>
        <th>White</th>
        <td class="right">
          <%= @material_report.prev_report.load_sheet.printable_white_dip_end if @material_report.prev_report && @material_report.prev_report.load_sheet %>
        </td>
        <td class="right">
          <span class="noprint">
            <%= @material_report.load_sheet.white_dip_start %>
            <%= f.text_field "adjusted_white_dip_start", :class => "span-2" %>
          </span>
          <span class="onlyprint"><%= @material_report.load_sheet.adjusted_white_dip_start %></span>
        </td>
        <td class="right">
          <span class="noprint">
            <%= @material_report.load_sheet.white_dip_end %>
            <%= f.text_field "adjusted_white_dip_end", :class => "span-2" %>
          </span>
          <span class="onlyprint"><%= @material_report.load_sheet.adjusted_white_dip_end %></span>
        </td>
        <td class="right">
          <%= @material_report.next_report.load_sheet.printable_white_dip_start if @material_report.next_report && @material_report.next_report.load_sheet %>
        </td>
        <td class="right"><span id="white_used"><%= @material_report.load_sheet.white_dip_used %></span> cm</td>
        <td class="right"><span id="white_rate"><%= @material_report.white_rate %></span> L/cm</td>
        <td class="right"><span id="tank_white_calc"></span> L</td>
      </tr>

      <tr>
        <th>Bead</th>
        <td class="right" colspan="5"><span id="bead_used"></span> KG</td>
      </tr>
    </table>

    <p class="right noprint"><%= f.submit "Save Dip Levels" %></p>
  <% end %>
<% end %>

<br>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Y-1</th>
    <th class="right">Y-2</th>
    <th class="right">Y-3</th>
    <th class="right">W-4</th>
    <th class="right">W-5</th>
    <th class="right">W-6</th>
    <th class="right last">W-7</th>
  </tr>
  <% @yellow_l_km = 0 %>
  <% @white_l_km = 0 %>

  <% if @material_report.gun_sheet %>
  <% @yellow_l_km = @material_report.gun_sheet.yellow_length %>
  <% @white_l_km = @material_report.gun_sheet.white_length %>
    <tr>
      <th class="span-3">Solid</th>
      <td class="right"><%= @material_report.gun_sheet.solid_y1 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y2 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y3 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w4 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w5 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w6 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w7 %></td>
    </tr>
    <tr>
      <th class="span-3">Skip</th>
      <td class="right"><%= @material_report.gun_sheet.skip_y1 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_y2 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_y3 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w4 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w5 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w6 %></td>
      <td class="right"><%= @material_report.gun_sheet.skip_w7 %></td>
    </tr>
    <tr>
      <th class="span-3">Total</th>
      <td class="right"><%= @material_report.gun_sheet.solid_y1 + @material_report.gun_sheet.skip_y1 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y2 + @material_report.gun_sheet.skip_y2 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_y3 + @material_report.gun_sheet.skip_y3 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w4 + @material_report.gun_sheet.skip_w4 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w5 + @material_report.gun_sheet.skip_w5 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w6 + @material_report.gun_sheet.skip_w6 %></td>
      <td class="right"><%= @material_report.gun_sheet.solid_w7 + @material_report.gun_sheet.skip_w7 %></td>
    </tr>
  <% end %>
</table>

<br>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Total Used</th>
    <th class="right">Solid+Skip Line KM</th>
    <th class="right">Used/Line KM</th>
    <th class="right">Target</th>
  </tr>
  <tr>
    <th>Yellow</th>
    <td class="right"><span id="summary_total_yellow_used"></span> L</td>
    <td class="right" id="summary_yellow_length"><%= @material_report.gun_sheet.yellow_length if @material_report.gun_sheet %></td>
    <td class="right" id="summary_yellow_calculation"></td>
    <td class="right">38 L/KM</td>
  </tr>

  <tr>
    <th>White</th>
    <td class="right"><span id="summary_total_white_used"></span> L</td>
    <td class="right" id="summary_white_length"><%= @material_report.gun_sheet.white_length if @material_report.gun_sheet  %></td>
    <td class="right" id="summary_white_calculation"></td>
    <td class="right">38 L/KM</td>
  </tr>

  <tr>
    <th>Bead</th>
    <td class="right"><span id="summary_bead_used"></span> KG</td>
    <td class="right" id="summary_bead_length"></td>
    <td class="right" id="summary_bead_calculation"></td>
    <td class="right">22.2 KG/KM</td>
  </tr>
</table>

<br>

<% if @material_report.gun_sheet %>
  <table>
    <tr>
      <th>Production</th>
      <th class="right">Amount</th>
    </tr>
    <tr>
      <td>Interchanges</td>
      <td class="right"><%= @material_report.gun_sheet.interchanges.blank? ? "0" : @material_report.gun_sheet.interchanges %></td>
    </tr>
    <tr>
      <td>Intersections</td>
      <td class="right"><%= @material_report.gun_sheet.sides.blank? ? "0" : @material_report.gun_sheet.sides %></td>
    </tr>
    <% @material_report.gun_sheet.gun_markings.each do |marking| %>
      <tr>
        <td><%= marking.gun_marking_category ? marking.gun_marking_category.name : "Unknown Category" %></td>
        <td class="right"><%= marking.amount %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @material_report.comments.present? %>
  <table>
    <tr>
      <th>Comments</th>
    </tr>
    <tr>
      <td><%= @material_report.comments %></td>
    </tr>
  </table>
<% end %>

<script type="text/javascript" language="javascript">
  function updateTable() {
    $('white_used').innerHTML = Math.abs(($('load_sheet_adjusted_white_dip_start').getValue() - $('load_sheet_adjusted_white_dip_end').getValue())).toFixed(2)
    $('yellow_used').innerHTML = Math.abs(($('load_sheet_adjusted_yellow_dip_start').getValue() - $('load_sheet_adjusted_yellow_dip_end').getValue())).toFixed(2)
    $('tank_white_calc').innerHTML = Math.abs(($('white_rate').innerHTML * $('white_used').innerHTML)).toFixed(2)
    $('tank_yellow_calc').innerHTML = Math.abs(($('yellow_rate').innerHTML * $('yellow_used').innerHTML)).toFixed(2)
    $('bead_used').innerHTML = Math.abs(((($('tank_white_calc').innerHTML * 1) + ($('tank_yellow_calc').innerHTML * 1)) * 0.6)).toFixed(2)

    $('summary_total_white_used').innerHTML = ($('white_rate').innerHTML * $('white_used').innerHTML).toFixed(2)
    $('summary_total_yellow_used').innerHTML = ($('yellow_rate').innerHTML * $('yellow_used').innerHTML).toFixed(2)
    $('summary_yellow_calculation').innerHTML = ($('summary_total_yellow_used').innerHTML / $('summary_yellow_length').innerHTML).toFixed(3)
    $('summary_white_calculation').innerHTML = ($('summary_total_white_used').innerHTML / $('summary_white_length').innerHTML).toFixed(3)

    $('summary_bead_used').innerHTML = ((($('tank_white_calc').innerHTML * 1) + ($('tank_yellow_calc').innerHTML * 1)) * 0.6).toFixed(2)
    $('summary_bead_length').innerHTML = (($('summary_yellow_length').innerHTML * 1) + ($('summary_white_length').innerHTML * 1)).toFixed(2)
    $('summary_bead_calculation').innerHTML = ($('summary_bead_used').innerHTML / $('summary_bead_length').innerHTML).toFixed(2)

    };

    $('load_sheet_adjusted_white_dip_end').observe('keyup', updateTable);
    $('load_sheet_adjusted_white_dip_start').observe('keyup', updateTable);
    $('load_sheet_adjusted_yellow_dip_end').observe('keyup', updateTable);
    $('load_sheet_adjusted_yellow_dip_start').observe('keyup', updateTable);
</script>

<script language="javascript">
  updateTable();
</script>

<% if @material_report.load_sheet && @material_report.load_sheet.equipment %>
<% content_for :versions do %>
<ul id="versions">
  <% if @material_report.prev_report %>
    <li><%= link_to "<< Prev", private_material_report_path(@material_report.prev_report) %></li>
  <% end %>
  <li><%= @material_report.load_sheet.equipment.name %></li>

  <% if @material_report.next_report %>
    <li><%= link_to "Next >>", private_material_report_path(@material_report.next_report) %></li>
  <% end %>
</ul>
<% end %>
<% end %>
