<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Job Sheets', private_job_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/job_sheets_menu', :layout => false %>
<% end %>

<% form_for [:private, @job, @job_sheet] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <hr>
  <%= f.submit "Save Job Sheet" %> or <%= link_to 'Cancel', private_job_sheets_path %>
<% end %>