<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %><br>
    <em>Searches within job</em>
  </td></tr>
<% end %>
</table>

<%= will_paginate @job_sheets %>

<table class="sortable">
  <tr>
    <th class="center number">#</th>
    <th class="span-2 center">Date</th>
    <th class="number">Job</th>
    <th class="actions nosort"></th>
  </tr>

<% @job_sheets.each do |job_sheet| %>
  <tr>
    <td><%= job_sheet.id %></td>
    <td><%= (job_sheet.gun_sheets.first.started_on.strftime('%b-%d-%y') rescue '') %></td>
    <td>
      <%= aaa_highlight(job_label(job_sheet.job)) %>
      <%= link_to image_tag("open-link.png"), private_job_path(job_sheet.job_id) %>
    </td>
    <td class="actions">
    <%= link_to 'Delete', private_job_sheet_path(job_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_job_sheet_path(job_sheet), :class => "edit" %>
    <%= link_to "Show", private_job_sheet_path(job_sheet), :class => "show" %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @job_sheets %>
