<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<table class="sortable">
  <tr>
    <th class="span-2">#</th>
    <th class="span-2">Date</th>
    <th>Job</th>
    <th class="actions nosort"></th>
  </tr>

<% @job_sheets.each do |job_sheet| %>
  <tr>
    <td><%= link_to job_sheet.id, private_job_sheet_path(job_sheet), :class => "show" %></td>
    <td></td>
    <td><%= link_to job_label(job_sheet.job), private_job_path(job_sheet.job), :class => "show" %></td>
    <td class="actions">
    <%= link_to 'Delete', private_job_sheet_path(job_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_job_sheet_path(job_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>