<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Job Sheets', private_job_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<h2><%= job_label(@job_sheet.job) %></h2>
<p>Time Entries from <b><%= @job_sheet.time_sheets.length %></b> Time Sheets:</p>
<table>
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Name</th>
    <th>Per Diem</th>
    <th>S/T</th>
    <th>O/T</th>
    <th>Total</th>
    <th>Rate</th>
    <th>Cost</th>
  </tr>
  <% @job_sheet.time_sheets.each do |time_sheet| %>
    <% time_sheet.time_entries.each do |entry| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= entry.time_sheet.id %></td>
      <td><%= entry.time_sheet.started_at.strftime("%B %d, %Y") %></td>
      <td><%= entry.user.name %></td>
      <td>$<%= entry.per_diem %></td>
      <td><%= entry.straight_time %> Hours</td>
      <td><%= entry.over_time %> Hours</td>
      <td><%= entry.hours %> Hours</td>
      <td>$<%= entry.rate %></td>
      <td>$<%= entry.cost %></td>
    </tr>
    <% end %>
  <% end %>
  <tr>
    <th colspan="3">&nbsp;</th>
    <th>$<%= @job_sheet.total_per_diem %></th>
    <th><%= @job_sheet.total_straight_time %> Hours</th>
    <th><%= @job_sheet.total_over_time %> Hours</th>
    <th><%= @job_sheet.total_hours %> Hours</th>
    <th>&nbsp;</th>
    <th>$<%= @job_sheet.total_cost %></th>
  </tr>
</table>

<div class="span-8">
<h2>Equipment Usage</h2>
<table>
  <tr>
    <th>Unit</th>
    <th>Name</th>
    <th>Rate</th>
    <th>Cost</th>
  </tr>
<% @job_sheet.job.equipments.each do |equipment| %>
  <tr>
    <td><%= equipment.unit %></td>
    <td><%= equipment.name %></td>
    <td>$<%= equipment.rate %></td>
    <td>$<%= equipment.cost(@job_sheet) %></td>
  </tr>
<% end %>
  <tr>
    <th colspan="3">&nbsp;</th>
    <th>$<%= @job_sheet.total_equipment_cost %></th>
  </tr>
</table>
<p>* Equipment Cost is Rate x Time Sheets</p>

</div>

<div class="span-8">
<h2>Material Usage</h2>
<table>
  <tr>
    <th>Material</th>
    <th>Distance</th>
  </tr>
  <tr>
    <td>Yellow Paint</td>
    <td><%= if @job_sheet.total_yellow_paint != 0 : "#{@job_sheet.total_yellow_paint} m" else "None" end %></td>
  </tr>
  <tr>
    <td>White Paint</td>
    <td><%= if @job_sheet.total_white_paint != 0 : "#{@job_sheet.total_white_paint} m" else "None" end %></td>
  </tr>
  <tr>
    <td>Beads</td>
    <td><%= if @job_sheet.total_beads != 0 : "#{@job_sheet.total_beads} kg" else "None" end %></td>
  </tr>
</table>
</div>

<div class="span-8 last">
<h2>Production</h2>
<table>
  <tr>
    <th>Category</th>
    <th>Ordered</th>
    <th>Tally</th>
  </tr>
  <% @job_marking_cats = [] %>

  <% @job_sheet.job.job_markings.each do |marking| %>
  <% @job_marking_cats << marking.gun_marking_category_id %>
    <tr>
      <td><%= marking.gun_marking_category.name %></td>
      <td><%= marking.amount %></td>
      <td><%= @job_sheet.total_markings(marking.gun_marking_category) %></td>
    </tr>
  <% end %>

  <% @job_sheet.gun_sheets.each do |gun| %>
    <% gun.gun_markings.each do |marking| %>
      <% unless @job_marking_cats.include?(marking.gun_marking_category_id.to_i) %>
        <tr>
          <td><%= marking.gun_marking_category.name %></td>
          <td>Was Not Ordered</td>
          <td><%= @job_sheet.total_markings(marking.gun_marking_category) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>

</table>

</div>



