<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= form_tag :controller => 'private/clock_out', :action => "create", :method => :post do -%>

<input type="button" onclick="toggleCheckboxes(true)" value="Select All"/>
<input type="button" onclick="toggleCheckboxes(false)" value="Select None"/>

    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Clocked in at</th>
        <th>Clocked out at</th>
      </tr>
    <% for entry in @entries %>
      <tr class="<%= cycle('odd', 'even') %>">
      <% if entry.active -%>
        <% if entry.clock_out -%>
          <td><%= check_box_tag "user", "active", false, :disabled => true %></td>
          <td class="quiet"><%= entry.user.try(:name) %></td>
          <td class="quiet"><%= entry.clock_in.strftime('%b-%d-%y at %I:%M %p') %></td>
          <td class="quiet"><%= entry.clock_out.strftime('%b-%d-%y at %I:%M %p') %></td>
        <% else -%>
          <td><%= check_box_tag "users[]", entry.user.id, :checked => true %></td>
          <td><%= entry.user.try(:name) %></td>
          <td><%= entry.clock_in.strftime('%b-%d-%y at %I:%M %p')%></td>
          <td>-</td>
        <% end -%>
      <% else -%>
        <td><%= check_box_tag "user", "active", false, :disabled => true %></td>
        <td><%= entry.user.name %></td>
        <td>-</td>
        <td>-</td>
      <% end -%>
      </tr>
    <% end -%>
    </table>

    <% unless @clocked_in.empty? %>

    <p>
      <label>Clock out at...</label>
      <br>
      <%= text_field_tag 'job[started_on]', @job.started_on.strftime("%Y-%m-%d %H:%M"), 'data-role' => 'datetimepicker', :readonly => true %>
    </p>

    <p>
      <label>After clock out...</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "new_time_sheet", :checked => true %> Submit time sheet</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "home" %> Go to Home</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "clock_in" %> Clock in users</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "clock_out" %> Clock out users</label>
    </p>

    <p><%= submit_tag "Clock Out Selected Users" %></p>

  <% else %>

  <p>
    There are no users who can clock out! <%= link_to "Clock in", {:controller => "private/clock_in", :action => "new"} %> or
    <%= link_to "submit a time sheet", new_private_time_sheet_path %>.
  </p>
  <% end %>

<% end -%>
