<div class="span-10 append-bottom">
  <%= form.label :name, "Name" %><br>
  <%= form.text_field :name, :class => "span-10" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :position, "Display Position" %><br>
  <%= form.text_field :position, :class => "span-3" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :gun_marking_group, "Gun Marking Group" %><br>
  <%= form.select :gun_marking_group_id, GunMarkingGroup.all.map {|u| [u.title,u.id]}, :include_blank => false, :class => "span-6" %>
</div>


<br class="clear">
<% if !@gun_marking_category.new_record? && @gun_marking_category.gun_markings.count == 0 && @gun_marking_category.job_markings.count == 0  %>
<div class="span-16 append-bottom">
  <%= form.label :hide, "Display Status" %><br>
  <%= form.radio_button  :hide, true %> Hide
  <%= form.radio_button  :hide, false %> Display
</div>
<% end %>

<br class="clear">
