<div class="container">
<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Settings', private_settings_path %></li>
    <li>»</li>
    <li><%= link_to 'Gun Marking Categories', private_gun_marking_categories_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% form_for @gun_marking_category, :url => private_gun_marking_category_path(@gun_marking_category), :method => :put do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Save Gun Marking Category" %> or <%= link_to 'Cancel', private_gun_marking_categories_path %>
<% end %>
</div>