<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
<ol class="noprint">
  <li><%= link_to 'All Job Value', all_job_value_path %></li>
  <li><%= link_to 'All Marking Value', all_marking_value_path %></li>
</ol>
<% end %>

<hr>

<p class="hint">This report shows the value of all active jobs</p>

<p>Total active job value: <%= number_to_currency(@jobs.collect(&:total_job_value).sum) %></p>

<table class="sortable">
  <tr>
    <th class="center number">Job #</th>
    <th>Job Name</th>
    <th class="right currency">Total Job Value</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.name %> <%= link_to image_tag("open-link.png"), private_job_path(job) %></td>
    <td class="right"><%= number_to_currency(job.total_job_value) %></td>
  </tr>
<% end %>
</table>
