<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
<ol class="noprint">
  <li><%= link_to 'All Job Value', all_job_value_path %></li>
  <li><%= link_to 'All Marking Value', all_marking_value_path %></li>
</ol>
<% end %>

<hr>

<p class="hint">This report shows the value of each marking category in active jobs</p>

<p>Groups total value: <%= number_to_currency(@groups.collect(&:total_value).sum) %></p>

<h3>Summary</h3>
<table class="sortable">
  <tr>
    <th>Group</th>
    <th class="right">Total Value</th>
  </tr>
<% @groups.each do |group| %>
  <tr>
    <td><%= group.title %></td>
    <td class="right currency"><%= number_to_currency(group.total_value) %></td>
  </tr>
<% end %>
</table>
<br>

<% @groups.each do |group| %>
  <% @categories = @category_groups.shift %>

<h3><%= group.title %></h3>
<p>Total for group: <%= number_to_currency(group.total_value) %></p>
<table class="sortable">
  <tr>
    <th class="center number">Category #</th>
    <th>Category Name</th>
    <th class="right currency">Total Category Value</th>
  </tr>

  <% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td class="right currency"><%= number_to_currency(category.total_value) %></td>
  </tr>
  <% end %>
</table>
<br>

<% end %>
