<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Settings', private_settings_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Material', new_private_material_path %></p>

<table class="sortable">
  <tr>
    <th>Archived</th>
    <th>Manufacturer</th>
    <th>Batch Number</th>
    <th>Category</th>
    <th class="actions nosort"></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.is_archived ? "Yes" : "No" %></td>
    <td><%= if material.manufacturer : material.manufacturer.name end %></td>
    <td><%= material.batch %></td>
    <td><%= material.category %></td>
    <td class="actions">
    <%= link_to 'Delete', private_material_path(material), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_material_path(material), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>
