<div class="container">
<div class="span-12 colborder">

<% if permitted_to? :manage, :users -%>
  <div class="span-6 append-bottom">
    <%= form.label :first_name, "First Name" %><br>
    <%= form.text_field :first_name, :class => "span-6", :required => true %>
  </div>

  <div class="span-6 append-bottom last">
    <%= form.label :last_name, "Last Name" %><br />
    <%= form.text_field :last_name, :class => "span-6", :required => true %>
  </div>

  <div class="span-6 append-bottom">
    <%= form.label :login %><br />
    <%= form.text_field :login, :class => "span-6", :required => true %>
  </div>
<% end %>

  <div class="span-6 append-bottom last">
    <%= form.label :email %><br />
    <%= form.text_field :email, :class => "span-6", :required => true, :type => 'email' %>
  </div>

  <br class="clear">

  <div class="span-6 append-bottom">
    <%= form.label :home_phone, "Home Phone" %><br />
    <%= form.text_field :home_phone, :class => "span-6" %>
  </div>

  <div class="span-6 append-bottom last">
    <%= form.label :cell_phone, "Cell Phone" %><br />
    <%= form.text_field :cell_phone, :class => "span-6" %>
  </div>

  <br class="clear">
<% if permitted_to? :manage, :users -%>
  <div class="span-6 append-bottom">
    <%= form.label :address %>
    <%= form.text_field :address, :class => "span-6" %>
  </div>

  <div class="span-3 append-bottom">
    <%= form.label :city %>
    <%= form.text_field :city, :class => "span-3" %>
  </div>

  <div class="span-1 append-bottom">
    <%= form.label :province, "Prov" %>
    <%= form.text_field :province, :class => "span-1" %>
  </div>

  <div class="span-2 last append-bottom">
    <%= form.label :postal_code, "PC" %>
    <%= form.text_field :postal_code, :class => "span-2" %>
  </div>

  <br class="clear">
<% end %>
  <div class="span-6 append-bottom">
    <%= form.label :password, form.object.new_record? ? nil : "Change Password" %><br />
    <%= form.password_field :password, :class => "span-6" %>
  </div>

  <div class="span-6 append-bottom last">
    <%= form.label :password_confirmation, "Password Confirmation" %><br />
    <%= form.password_field :password_confirmation, :class => "span-6" %>
  </div>
<% if permitted_to? :manage, :users -%>
  <div class="span-6 append-bottom">
  	<% grouped_options = ["Employed", "Laid Off", "Fired", "Quit"] %>
  	<%= form.label :employment_state %><br />
  	<%= form.select(:employment_state, grouped_options)%>
  </div>
  <div class="span-6 append-bottom">
  	<%= form.label :employment_start_date %><br />
  	<%= form.text_field :employment_start_date, 'data-role' => 'datepicker', :readonly => true %>
  </div>
  <div class="span-6 append-bottom last">
  	<%= form.label :employment_end_date %><br />
  	<%= form.text_field :employment_end_date, 'data-role' => 'datepicker' %>
  </div>
  <div class="span-6 append-bottom">
  	<%= form.label :employment_notes %><br />
  	<%= form.text_area :employment_notes, :rows => 5, :cols => 73 %>
  </div>
<% end %>
  <br class="clear">
</div>
<% if permitted_to? :manage, :users -%>
<div class="span-6">
  <div class="span-6 last append-bottom">
    <%= form.label :rate, "Hourly Rate" %><br>
    <%= form.text_field :rate, :class => "span-2" %>
  </div>

  <div class="span-6 last append-bottom">
    <%= form.label :bank_overtime_hours, "Overtime Structure" %><br>
    <%= form.radio_button "bank_overtime_hours", true, :required => true %> Bank Overtime<br>
    <%= form.radio_button "bank_overtime_hours", false, :required => true %> Pay Overtime
  </div>

  <label>Roles</label>
  <ul class="habtm">
  <% roles = [ 'superadmin', 'admin', 'office', 'supervisor', 'foreman', 'crewman' ].reverse %>
  <% for role in roles %>
    <% role = Role.where(:name => role).first %>
    <li>
      <label style="line-height: 100%">
        <% disabled = role.is_high_access_role? ? (!permitted_to?(:assign, :high_access_user_roles)) : false %>
        <% disabled = false if @user.roles.include?(role) %>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :disabled => disabled %>
        <strong><%= role.name.humanize %></strong>
        <br>
        <%= Authorization::Engine.instance.role_descriptions[role.name.to_sym].to_s.gsub('+', "<span class='text-emphasize'>+</span>").html_safe %>
        <br>
        <br>
      </label>
    </li>
  <% end %>
  </ul>
</div>

<% end %>
<hr>
    </div>
