<div class="append-bottom">
  <%= form.label :first_name %><br>
  <%= form.text_field :first_name %>
</div>

<div class="append-bottom">
  <%= form.label :last_name %><br />
  <%= form.text_field :last_name %>
</div>

<div class="append-bottom">
  <%= form.label :login %><br />
  <%= form.text_field :login %>
</div>

<div class="append-bottom">
  <%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
  <%= form.password_field :password %>
</div>

<div class="append-bottom">
  <%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation %>
</div>

<div class="append-bottom">
  <%= form.label :email %><br />
  <%= form.text_field :email %>
</div>

<div class="append-bottom">
  <%= form.label :time_zone %><br />
  <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
</div>
