<% form_for @user do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :home_phone, "Home Phone" %><br />
  <%= f.text_field :home_phone %></p>

  <p><%= f.label :cell_phone, "Cell Phone" %><br />
  <%= f.text_field :cell_phone %></p>

  <p><%= f.label :password, f.object.new_record? ? nil : "Change Password" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Password Confirmation" %><br />
  <%= f.password_field :password_confirmation %></p>

<hr>

  <%= f.submit "Save Changes" %> or <%= link_to 'Cancel', users_path %>
<% end %>