<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <% if permitted_to? :manage, :users -%>
  <ol>
    <li><%= active_link_to 'New User', new_user_path %></li>
    <li><%= active_link_to 'Active Users', "/admin/users", :active => @showing_active %></li>
    <li><%= active_link_to 'Inactive Users', "/admin/users?showonly=inactive", :active => !@showing_active %></li>
  </ol>
  <% end %>
<% end %>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %><br>
    <em>Searches within name and login</em>
  </td></tr>
<% end %>
</table>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Roles</th>
    <th>Rate</th>
    <th>O/T</th>
    <th>Last Activity</th>
    <th>Emploment State</th>
    <th class="actions nosort"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to aaa_highlight(user.name), user_path(user), :class => "show" %></td>
    <td><%= aaa_highlight(user.login) %></td>
    <td><%= user.role_list %></td>
    <td><%= if user.rate then number_to_currency(user.rate) end %></td>
    <td><%= if user.bank_overtime_hours then "Bank" else "Pay Out" end %></td>
    <td><%=h time_ago_in_words(user.last_request_at) + " ago" if user.last_request_at? %></td>
    <td><%= user.try(:employment_state) %></td>
    <td class="right">
      <%= link_to "Edit", edit_user_path(user), :class => "edit" %>
      <%= link_to "Pay Report", report_user_time_path(:id => user.id), :class => "new" %>
      <% if permitted_to? :destroy, :users -%>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <small>
          <%= link_to 'DELETE', user_path(user), :method => 'delete', :class => 'delete', :confirm => 'Are you sure?' %>
        </small>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
