<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New User', new_user_path %></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Roles</th>
    <th>Last Login</th>
    <th class="actions nosort"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_user_path(user), :class => "show" %></td>
    <td><%= user.login %></td>
    <td><%= user.role_list %></td>
    <td><%=h time_ago_in_words(user.last_login_at) + " ago" if user.last_login_at? %></td>
    <td class="actions"><%= link_to 'Delete', user, :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %></td>
  </tr>
<% end %>
</table>