<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Home', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Users', users_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Create User" %> or <%= link_to 'Cancel', users_path %>
<% end %>