<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Users', users_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <% if permitted_to? :manage, :users -%>
  <ol>
    <li><%= active_link_to 'Show', user_path(@user), :active => { :when => :self_only } %></li>
    <li><%= active_link_to 'Edit', edit_user_path(@user) %></li>
    <li><%= active_link_to 'New User', new_user_path %></li>
  </ol>
  <% end %>
<% end %>

<% content_for :versions do %>
<ol id="versions">
    <li>Version <%= @user.version %> of <%= @user.last_version %></li>
    <li><%= @user.versioned_at.strftime("%Y-%m-%d %H:%M") %></li>
  <% if @user.version > 1 %>
    <li><%= link_to "Older", :version => @user.version-1 %></li>
  <% else %>
    <li>Older</li>
  <% end %>
  <% if params[:version] %>
    <li><%= link_to "Newer", :version => @user.version+1 %></li>
    <li><%= link_to "Revert", revert_user_path(:version => @user.version) %></li>
  <% else %>
    <li>Newer</li>
    <li>Revert</li>
  <% end %>
</ol>
<% end %>

<div class="span-11 append-1">
<table>
  <tr>
    <td>Login:</td>
    <td><%=h @user.login %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%=h @user.email %></td>
  </tr>
  <tr>
    <td>Login count:</td>
    <td><%=h @user.login_count %></td>
  </tr>
  <tr>
    <td>Last request at:</td>
    <td><%=h @user.last_request_at.strftime('%Y-%m-%d %H:%m') %></td>
  </tr>
  <tr>
    <td>Last login at:</td>
    <td><%=h @user.last_login_at.strftime('%Y-%m-%d %H:%m') %></td>
  </tr>
  <tr>
    <td>Current login at:</td>
    <td><%=h @user.current_login_at.strftime('%Y-%m-%d %H:%m') %></td>
  </tr>
  <tr>
    <td>Last login ip:</td>
    <td><%=h @user.last_login_ip %></td>
  </tr>
  <tr>
    <td>Current login ip:</td>
    <td><%=h @user.current_login_ip %></td>
  </tr>
</table>
</div>

<div class="span-11">
  <table>
    <tr>
      <td>First Name</td>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Home Phone</td>
      <td><%= @user.home_phone %></td>
    </tr>
    <tr>
      <td>Cell Phone</td>
      <td><%= @user.cell_phone %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @user.city %></td>
    </tr>
    <tr>
      <td>Province</td>
      <td><%= @user.province %></td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td><%= @user.postal_code %></td>
    </tr>
    <tr>
      <td>Rate</td>
      <td>$<%= @user.rate %></td>
    </tr>
    <tr>
      <td>OT</td>
      <td><%= if @user.bank_overtime_hours : "Bank" else "Pay Out" end %></td>
    </tr>
    <tr>
      <td>Roles</td>
      <td><%= @roles.map {|role| role.name}.join(', ') %></td>
    </tr>
  </table>
</div>