<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Time Sheet Task Category', new_private_time_task_category_path %></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Display Position</th>
    <th class="actions nosort"></th>
  </tr>

<% @time_task_categories.each do |time_task_category| %>
  <tr>
    <td><%= time_task_category.name %></td>
    <td><%= time_task_category.position %></td>
    <td class="actions">
    <%= link_to 'Delete', private_time_task_category_path(time_task_category), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_time_task_category_path(time_task_category), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>
