<%= content_for :submenu do %>
  <%= render :partial => 'menus/dashboard_menu', :layout => false %>
<% end %>

<% if @crew %>
<p>You are part of <%= @crew.label %>: <%= @crew.user_list %></p>

<% elsif current_user.role_symbols.include?(:parking_lot) %>
<p>You are logged in as Parking lot</p>
<% else %>
<p>You are not assigned to a crew.</p>
<% end %>

<% if @jobs || current_user.role_symbols.include?(:admin) || current_user.role_symbols.include?(:office) %>
<div class="span-10">
<%= form_tag :controller => 'private', :action => "navigate" do %>

  <p><%= select_tag 'job[id]', options_from_collection_for_select(@jobs, 'id', 'label', cookies[:selected_job_id]) %></p>

  <ul class="jobs">
    <% if permitted_to? :create, :private_clock_in -%>
      <li><label class="normal"><%= radio_button_tag "navigate", "clock_in" %> Clock In</label></li>
    <% end %>
    <% if permitted_to? :create, :private_clock_out -%>
      <li><label class="normal"><%= radio_button_tag "navigate", "clock_out" %> Clock Out</label></li>
    <% end %>
    <% if permitted_to? :show, :private_jobs -%>
      <li><label class="normal"><%= radio_button_tag "navigate", "show_job", :selected => true %> Show Job</label></li>
    <% end %>
  </ul>

  <p><%= submit_tag "Go to Page" %></p>

<% end %>

  <% if permitted_to?(:index, :private_directory) %>
    <p><%= link_to "Clients list and directory", private_clients_path %></p>
  <% end %>
</div>
<% end %>
