<div class="span-8">
  <h2>Jobs on Hand</h2>
<% form_tag :controller => 'private', :action => "navigate" do -%>

  <p><%= select_tag 'job[id]', options_from_collection_for_select(@jobs, 'id', 'label', session[:navigate]) %></p>

  <ul class="jobs">
    <% if permitted_to? :create, :private_clock_in -%>
      <li><label class="edit-inline"><%= radio_button_tag "navigate", "clock_in" %> Clock In</label></li>
    <% end %>
    <% if permitted_to? :create, :private_clock_out -%>
      <li><label class="edit-inline"><%= radio_button_tag "navigate", "clock_out" %> Clock Out</label></li>
    <% end %>
    <% if permitted_to? :show, :private_job -%>
      <li><label class="show"><%= radio_button_tag "navigate", "show_job" %> Show Job</label></li>
    <% end %>
  </ul>

  <p><%= submit_tag "Go to Page" %></p>

<% end %>

</div>

<div class="span-16 last">
  <p>
    <%= link_to "New Load Sheet", new_private_load_sheet_path %>
    <br>
    <%= link_to "User Time Report", report_user_time_path %>
  </p>
  <hr>
  <h3>Changes for Tue Apr 13, 2010</h3>
  <ol>
    <li>Remember last selected job and select it when on dashboard</li>
    <li>User can modify @report#user_time pay period</li>
    <li>Add date worked including date named to pay period report</li>
    <li>Add date to @time_sheet#index, sort by newest first</li>
    <li>Cancel on @time_entry#edit returns to @time_sheet#edit</li>
    <li>Force bead price in @job_sheet#show to $0.45/kg</li>
    <li>Display all jobs to users with the office role</li>
    <li>allow office to edit settings</li>
    <li>move clockin/clockout to top of menu</li>
  </ol>
</div>

<hr>

<p>Last Update: 2010-04-09 8:26am</p>