<div class="span-6 append-1">
  <div id="sidebar">
    <%= render :partial => 'menus/dashboard_menu', :layout => false %>
  </div>
</div>

<div class="span-6">
  <h2>Active Jobs</h2>
  <ul class="jobs">
  <%- @jobs.each do |job| -%>
    <li>
      <h3><%= job_label(job) %></h3>
      <ul>
        <li><%= link_to "Show Job", private_job_path(job), :class => "show" %></li>
        <li><%= link_to "Edit Job", edit_private_job_path(job), :class => "edit" %></li>
        <li><%= link_to "New Time Sheet", new_private_job_time_sheet_path(:job_id => job.id), :class => "new" %></li>
        <li><%= link_to 'New Gun Sheet', new_private_job_gun_sheet_path(:job_id => job.id), :class => "new" %></li>
        <li><%= link_to 'New Job Sheet', new_private_job_job_sheet_path(:job_id => job.id), :class => "new" %></li>
      </ul>
    </li>
  <%- end -%>
  </ul>
</div>

<div class="span-11 last">
  <h2>History</h2>
</div>