<% content_for :submenu do %>
  <%= render :partial => 'menus/dashboard_menu', :layout => false %>
<% end %>

<div class="span-10">
  <h2>Jobs on Hand</h2>
<% form_tag :controller => 'private', :action => "navigate" do -%>

  <p><%= select_tag 'job[id]', options_from_collection_for_select(@jobs, 'id', 'label', session[:navigate]) %></p>

  <ul class="jobs">
    <% if permitted_to? :create, :private_clock_in -%>
      <li><label class="edit-inline"><%= radio_button_tag "navigate", "clock_in" %> Clock In</label></li>
    <% end %>
    <% if permitted_to? :create, :private_clock_out -%>
      <li><label class="edit-inline"><%= radio_button_tag "navigate", "clock_out" %> Clock Out</label></li>
    <% end %>
    <% if permitted_to? :show, :private_job -%>
      <li><label class="show"><%= radio_button_tag "navigate", "show_job" %> Show Job</label></li>
    <% end %>
  </ul>

  <p><%= submit_tag "Go to Page" %></p>

<% end %>

</div>

<hr>

<p>Last Update: 2010-04-15 7:45pm</p>