<% content_for :submenu do %>
  <%= render :partial => 'menus/dashboard_menu', :layout => false %>
<% end %>

<% if @crew %>
<p>You are part of <%= @crew.label %>: <%= @crew.user_list %></p>
<% else %>
<p>You are not assigned to a crew.</p>
<% end %>

<div class="span-10">
<% form_tag :controller => 'private', :action => "navigate" do -%>

  <p><%= select_tag 'job[id]', options_from_collection_for_select(@jobs, 'id', 'label', session[:navigate]) %></p>

  <ul class="jobs">
    <% if permitted_to? :create, :private_clock_in -%>
      <li><label class="normal"><%= radio_button_tag "navigate", "clock_in" %> Clock In</label></li>
    <% end %>
    <% if permitted_to? :create, :private_clock_out -%>
      <li><label class="normal"><%= radio_button_tag "navigate", "clock_out" %> Clock Out</label></li>
    <% end %>
    <% if permitted_to? :show, :private_jobs -%>
      <li><label class="normal"><%= radio_button_tag "navigate", "show_job", :selected => true %> Show Job</label></li>
    <% end %>
  </ul>

  <p><%= submit_tag "Go to Page" %></p>

<% end %>

</div>

<hr>