<div class="span-6 append-1">
  <div id="sidebar">
    <%= render :partial => 'menus/dashboard_menu', :layout => false %>
  </div>
</div>

<div class="span-6">
  <h2>Active Jobs</h2>
  <ul class="jobs">
  <%- @jobs.each do |job| -%>
    <li>
      <h3>Job #<%= job.id -%></h3>
      <ul>
        <li><%= link_to "Show Job", private_job_path(job), :class => "show" %></li>
        <li><%= link_to "Edit Job", edit_private_job_path(job), :class => "edit" %></li>
        <li><%= link_to "New Time Sheet", new_private_job_time_sheet_path(:job_id => job.id), :class => "new" %></li>
        <li><%= link_to "New Load Sheet", new_private_load_sheet_path, :class => "new" %></li>
        <li><a href="#" class="new">New Gun Sheet</a>
      </ul>
    </li>
  <%- end -%>
  </ul>
</div>

<div class="span-11 last">
  <h2>History</h2>
</div>