<div class="span-6 append-bottom">
  <%= form.label :name, "Name" %><br>
  <%= form.text_field :name, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :unit, "Unit Number" %><br />
  <%= form.text_field :unit, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :rate, "Daily Rate" %><br />
  <%= form.text_field :rate, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :yellow_rate, "Yellow Rate" %><br />
  <%= form.text_field :yellow_rate, :class => "span-6" %>
</div>


<div class="span-6 append-bottom">
  <%= form.label :white_rate, "White Rate" %><br />
  <%= form.text_field :white_rate, :class => "span-6" %>
</div>


<br class="clear">