<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Equipment', new_private_equipment_path %></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Unit Number</th>
    <th>Yellow Rate</th>
    <th>White Rate</th>
    <th>Daily Rate</th>
  </tr>

<% @equipment.each do |equipment| %>
  <tr onclick="window.location='<%= private_equipment_path(equipment.id) %>'">
    <td><%= equipment.name %></td>
    <td><%= equipment.unit %></td>
    <td><%= equipment.try(:yellow_rate)%> <%= "L/cm" if equipment.try(:yellow_rate) %></td>
    <td><%= equipment.try(:white_rate) %> <%= "L/cm" if equipment.try(:white_rate) %></td>
    <td><%= if equipment.rate then "$#{equipment.rate}" end %></td>
  </tr>
<% end %>
</table>
