<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Settings', private_settings_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Equipment', new_private_equipment_path %></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Unit Number</th>
    <th>Yellow Rate</th>
    <th>White Rate</th>
    <th>Daily Rate</th>
    <th class="actions nosort"></th>
  </tr>

<% @equipment.each do |equipment| %>
  <tr>
    <td><%= equipment.name %></td>
    <td><%= equipment.unit %></td>
    <td><%= equipment.try(:yellow_rate)%> <%= "L/cm" if equipment.try(:yellow_rate) %></td>
    <td><%= equipment.try(:white_rate) %> <%= "L/cm" if equipment.try(:white_rate) %></td>
    <td><%= if equipment.rate : "$#{equipment.rate}" end %></td>
    <td class="actions">
    <%= link_to 'Delete', private_equipment_path(equipment), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_equipment_path(equipment), :class => "edit"  %>
    </td>
  </tr>
<% end %>
</table>
