<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Equipment', new_private_equipment_path %></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Unit Number</th>
    <th>Plate Number</th>
    <th>VIN</th>
    <th>
      <abbr title="Gross Vehicle Weight">GVW</abbr>
    </th>
    <th>Registration Date</th>
    <th>CVIP Date</th>
    <th>Yellow Rate</th>
    <th>White Rate</th>
    <th>Daily Rate</th>
  </tr>

<% @equipment.each do |equipment| %>
  <tr onclick="window.location='<%= private_equipment_path(equipment.id) %>'" class="equipment-<%= equipment.color %>">
    <td>
      <%= image_tag 'black_flag.png', :size => '15x15', :title => 'CVIP Date is almost a year ago'         if equipment.black_flag? %>
      <%= image_tag 'red_flag.png',   :size => '15x15', :title => 'Registration Date is almost a year ago' if equipment.red_flag? %>
      <%= equipment.name %>
    </td>
    <td><%= equipment.unit %></td>
    <td><%= equipment.plate_number %></td>
    <td><%= equipment.vin %></td>
    <td><%= equipment.gvw %></td>
    <td><%= equipment.registration_date %></td>
    <td><%= equipment.cvip_date %></td>
    <td><%= equipment.try(:yellow_rate)%> <%= "L/cm" if equipment.try(:yellow_rate) %></td>
    <td><%= equipment.try(:white_rate) %> <%= "L/cm" if equipment.try(:white_rate) %></td>
    <td><%= if equipment.rate then "$#{equipment.rate}" end %></td>
  </tr>
<% end %>
</table>
