<div class="container">

<% if !is_not_single_specific_role?(current_user, :service_advisor) %>
    <%= content_for :submenu do %>
      <ol class="noprint">
        <% if permitted_to? :manage, :private_equipments -%>
          <li><%= active_link_to 'Equipment', private_equipments_path %></li>
        <% end %>
        <% if permitted_to? :manage, :private_work_orders -%>
          <li><%= active_link_to 'Work Orders', private_work_orders_path %></li>
        <% end %>
      </ol>
    <% end %>
<% end %>

<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= link_to 'Equipment', private_equipments_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= form_for @equipment, url: private_equipments_path(@equipment), html: {multipart: true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Create Equipment" %> or <%= link_to 'Cancel', private_equipments_path %>
<% end %>
    </div>
