<% if !is_not_single_specific_role?(current_user, :service_advisor) %>
    <%= content_for :submenu do %>
      <ol class="noprint">
        <% if permitted_to? :manage, :private_equipments -%>
          <li><%= active_link_to 'Equipment', private_equipments_path %></li>
        <% end %>
        <% if permitted_to? :manage, :private_work_orders -%>
          <li><%= active_link_to 'Work Orders', private_work_orders_path %></li>
        <% end %>
      </ol>
    <% end %>
<% end %>

<%= content_for :breadcrumb do %>
<% if is_not_single_specific_role?(current_user, :service_advisor) %>
    <ul id="breadcrumb">
      <li><%= link_to 'Dashboard', private_home_path %></li>
      <li>»</li>
      <li>Settings</li>
      <li>»</li>
      <li><%= link_to 'Equipment', private_equipments_path %></li>
      <li>»</li>
      <li><%= @page_title %></li>
    </ul>
  <% else %>
    <ul id="breadcrumb">
      <li><%= link_to 'Equipment', private_equipments_path %></li>
      <li>»</li>
      <li><%= @page_title %></li>
    </ul>
  <% end %>
<% end %>

<div class="show_actions">
  <%= link_to "New Work Order", new_private_work_order_path(:equipment_id => @equipment.id), 
  :class => "new" %>
  <%= link_to "Edit", edit_private_equipment_path(@equipment.id), :class => "edit" %>
  <% if permitted_to? :delete, :private_equipments -%>
   <%= link_to "Delete", private_equipment_path(@equipment.id), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
  <% end %>
</div>



<table>
  <tr><td></td><td></td></tr>
  <tr>
    <td>Make</td>
    <td><%= @equipment.equipment_make %></td>
  </tr>
  <tr>
    <td>Model</td>
    <td><%= @equipment.equipment_model %></td>
  </tr>
  <tr>
    <td>Year</td>
    <td><%= @equipment.equipment_year %></td>
  </tr>
  <tr>
    <td>Color</td>
    <td class="equipment-<%= @equipment.color %>"><%= @equipment.color %></td>
  </tr>
  <tr>
    <td>Unit Number</td>
    <td><%= @equipment.unit %></td>
  </tr>
  <tr>
    <td>Plate Number</td>
    <td><%= @equipment.plate_number %></td>
  </tr>
  <tr>
    <td>VIN</td>
    <td><%= @equipment.vin %></td>
  </tr>
  <tr>
    <td><abbr title="Gross Vehicle Weight">GVW</abbr></td>
    <td><%= @equipment.gvw %></td>
  </tr>
  <tr>
    <td>Registration Date</td>
    <td>
      <%= @equipment.registration_date %>
      <% if @equipment.red_flag? %>
        <%= image_tag 'red_flag.png', :size => '30x30', :title => 'Registration Date is almost a year ago' if @equipment.red_flag? %>
        <%= "Alert sent at <strong>#{I18n.l(@equipment.red_flag_alert_sent_at, :format => :long)}</strong>".html_safe if @equipment.red_flag_alert_sent_at.present? %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>CVIP Date</td>
    <td>
      <%= @equipment.cvip_date %>
      <% if @equipment.black_flag? %>
        <%= image_tag 'black_flag.png', :size => '30x30', :title => 'CVIP Date is almost a year ago' %>
        <%= "Alert sent at <strong>#{I18n.l(@equipment.black_flag_alert_sent_at, :format => :long)}</strong>".html_safe if @equipment.black_flag_alert_sent_at.present? %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Yellow Rate</td>
    <td><%= @equipment.try(:yellow_rate)%> <%= "L/cm" if @equipment.try(:yellow_rate) %></td>
  </tr>
  <tr>
    <td>White Rate</td>
    <td><%= @equipment.try(:white_rate) %> <%= "L/cm" if @equipment.try(:white_rate) %></td>
  </tr>
  <tr>
    <td>Daily Rate</td>
    <td><%= if @equipment.rate then "$#{@equipment.rate}" end %></td>
  </tr>
</table>

<h3>Documents</h3>
<% if @equipment.assets.blank? %>
  <p>No uploaded documents for this equipment.</p>
<% else %>
  <div class="span-12">
    <table>
      <tr>
        <th class="span-3">Preview</th>
        <th>File name</th>
        <th class="span-4"></th>
      </tr>
      <% @equipment.assets.each do |asset| %>
        <tr>
          <td><%=uploaded_asset(asset) %></td>
          <td><%= asset.image_file_name %></td>
          <td>
            <%= link_to "Download", asset.image.url, target: '_blank' %>
            <%= link_to "Delete", delete_document_private_equipment_path(@equipment, asset_id: asset.id), class: 'delete', confirm: "Are you sure?" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<div class="clear"></div>


<h3>Notes</h3>

<div class="span-12">
<%= form_for @equipment_note, url: private_equipment_add_note_path(@equipment) do |f| %>
  <%= f.error_messages %>
  <%= f.label :description, "Note" %><br />
  <%= f.text_area :description, cols: "30", rows: "5" %>
  <%= f.submit "Add note" %>
<% end %>
</div>


<div class="clear" style="padding-top:10px;"></div>
<% if @equipment.equipment_notes.blank? %>
  <p>No notes for this equipment.</p>
<% else %>
<div class="span-12">
  <table >
    <tr>
      <th >S.No </th>
      <th class="span-3">Created By </th>
      <th>Created On </th>
      <th class="span-6">Note</th>
    </tr>

  <% @equipment.equipment_notes.each_with_index do |equipment_note, index|%>
    <tr>
    <td> <%= index+1 %></td>
      <td><%= equipment_note.user.name %></td>
      <td><%= I18n.l(equipment_note.created_at, :format => :long) %> </td>
      <td><%= equipment_note.description %></td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>


<% if @equipment.crews.count > 0 %>
  <h3>Assigned to:</h3>
  <%= render :partial => 'private/crews/crews_table', :locals => {:crews => @equipment.crews} %>
<% end %>

<div class="clear" style="padding-top:10px;"></div>

<h3> Work Orders Associated with this Equipment: Total (<%= @equipment.work_orders.size %>)</h3>
<% if !@equipment.work_orders.blank? %>
<%= render :partial => 'private/work_orders/index', :locals => {:work_orders => @equipment.work_orders } %>
<% else %>
No Work Order Associated with this Equipment
<% end %>
