<div class="show_actions">
  <%= link_to "Edit", edit_private_equipment_path(@equipment.id), :class => "edit" %>
  <%= link_to "Delete", private_equipment_path(@equipment.id), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
</div>

<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= link_to 'Equipment', private_equipments_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<table>
  <tr>
    <td>Make</td>
    <td><%= @equipment.equipment_make %></td>
  </tr>
  <tr>
    <td>Model</td>
    <td><%= @equipment.equipment_model %></td>
  </tr>
  <tr>
    <td>Year</td>
    <td><%= @equipment.equipment_year %></td>
  </tr>
  <tr>
    <td>Color</td>
    <td class="equipment-<%= @equipment.color %>"><%= @equipment.color %></td>
  </tr>
  <tr>
    <td>Unit Number</td>
    <td><%= @equipment.unit %></td>
  </tr>
  <tr>
    <td>Plate Number</td>
    <td><%= @equipment.plate_number %></td>
  </tr>
  <tr>
    <td>VIN</td>
    <td><%= @equipment.vin %></td>
  </tr>
  <tr>
    <td><abbr title="Gross Vehicle Weight">GVW</abbr></td>
    <td><%= @equipment.gvw %></td>
  </tr>
  <tr>
    <td>Registration Date</td>
    <td>
      <%= @equipment.registration_date %>
      <% if @equipment.red_flag? %>
        <%= image_tag 'red_flag.png', :size => '30x30', :title => 'Registration Date is almost a year ago' if @equipment.red_flag? %>
        <%= "Alert sent at <strong>#{I18n.l(@equipment.red_flag_alert_sent_at, :format => :long)}</strong>".html_safe if @equipment.red_flag_alert_sent_at.present? %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>CVIP Date</td>
    <td>
      <%= @equipment.cvip_date %>
      <% if @equipment.black_flag? %>
        <%= image_tag 'black_flag.png', :size => '30x30', :title => 'CVIP Date is almost a year ago' %>
        <%= "Alert sent at <strong>#{I18n.l(@equipment.black_flag_alert_sent_at, :format => :long)}</strong>".html_safe if @equipment.black_flag_alert_sent_at.present? %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Yellow Rate</td>
    <td><%= @equipment.try(:yellow_rate)%> <%= "L/cm" if @equipment.try(:yellow_rate) %></td>
  </tr>
  <tr>
    <td>White Rate</td>
    <td><%= @equipment.try(:white_rate) %> <%= "L/cm" if @equipment.try(:white_rate) %></td>
  </tr>
  <tr>
    <td>Daily Rate</td>
    <td><%= if @equipment.rate then "$#{@equipment.rate}" end %></td>
  </tr>
</table>

<h3>Documents</h3>
<% if @equipment.assets.blank? %>
  <p>No uploaded documents for this equipment.</p>
<% else %>
  <div class="span-12">
    <table>
      <tr>
        <th class="span-3">Preview</th>
        <th>File name</th>
        <th class="span-4"></th>
      </tr>
      <% @equipment.assets.each do |asset| %>
        <tr>
          <td><%=uploaded_asset(asset) %></td>
          <td><%= asset.image_file_name %></td>
          <td>
            <%= link_to "Download", asset.image.url, target: '_blank' %>
            <%= link_to "Delete", delete_document_private_equipment_path(@equipment, asset_id: asset.id), class: 'delete', confirm: "Are you sure?" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @equipment.crews.count > 0 %>
  <h3>Assigned to:</h3>
  <%= render :partial => 'private/crews/crews_table', :locals => {:crews => @equipment.crews} %>
<% end %>

