<div class="container">
<div class="span-6 append-bottom">
  <p><%= form.label :name, "Name" %><br>
  <%= form.text_field :name, :class => "span-6", :required => true %></p>
</div>
<br class="clear">
<div class="span-6 append-bottom">
  <%= form.label :color, 'Color - will be used in calendar.' %><br>
  <%= form.text_field :color, class: "span-6 colorpicker" %>
</div>
<br class="clear">
  <div class="span-6 append-bottom">
  <%= form.label :user_ids, "Assign Users" %><br>
  <ul class="habtm">
  <% for user in @users %>
    <li>
      <label>
      <%= check_box_tag "crew[user_ids][]", user.id, @crew.users.include?(user) %>
      <%= user.name %>
      </label>
    </li>
  <% end %>
  </ul>
</div>

<div class="span-12 last append-bottom">
  <%= form.label :equipment_ids, "Assign Equipment" %><br>
  <ul class="habtm">
  <% for equipment in @equipment %>
    <li>
      <label>
        <%= check_box_tag "crew[equipment_ids][]", equipment.id, @crew.equipments.include?(equipment) %>
          <%= equipment.unit %> - <%= equipment.name %>
      </label>
    </li>
  <% end %>
  </ul>
</div>


<br class="clear">
    </div>
