<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Crews', private_crews_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/crews_menu', :layout => false %>
<% end %>

<% form_for @crew, :url => private_crew_path(@crew), :method => :put do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Save Crew" %> or <%= link_to 'Cancel', private_crews_path %>
<% end %>
