<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
<ol class="noprint">
  <li><%= link_to 'New crew', new_private_crew_path %></li>
</ol>
<% end %>

<p>A user can only be assigned to a one crew at a time. Assignment decides what jobs the user can view, and populates the Clock In / Clock Out forms.</p>

<p id="new"></p>

<%= render :partial => 'crews_table', :locals => {:crews => @crews} %>

<br>

<h1>Unassigned Equipment</h1>
<p>The following equipment has not been assigned to any crews</p>

<ul>
<% @unassigned_equipment.each do |e| %>
<li>
  <a class="equipment-<%= e.color %>" href="<%= private_equipment_path(e) %>"><%= "#{e.unit} — #{e.name}" %></a>
</li>
<% end %>
</ul>
