<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
<ol class="noprint">
  <li><%= link_to 'New crew', new_private_crew_path %></li>
</ol>
<% end %>

<p>A user can only be assigned to a one crew at a time. Assignment decides what jobs the user can view, and populates the Clock In / Clock Out forms.</p>

<p id="new"></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th class="nosort">Users</th>
    <th class="actions nosort"></th>
  </tr>

<% @crews.each do |crew| %>
  <tr>
    <td><%= crew.label %></td>
    <td><%= crew.user_list %></td>
    <td class="actions">
    <%= link_to 'Delete', private_crew_path(crew), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_crew_path(crew), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>