<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
<ol class="noprint">
  <li><%= link_to 'New crew', new_private_crew_path %></li>
</ol>
<% end %>

<p>A user can only be assigned to a one crew at a time. Assignment decides what jobs the user can view, and populates the Clock In / Clock Out forms.</p>

<p id="new"></p>

<table class="sortable">
  <tr>
    <th>Name</th>
    <th class="nosort">Users</th>
    <th class="nosort">Crew Hours</th>
    <th class="nosort">Assigned Equipment</th>
    <th class="actions nosort"></th>

  </tr>

<% @crews.each do |crew| %>
  <tr>
    <td><%= crew.label %></td>
    <td><%= crew.user_list %></td>
    <td><%=link_to 'Crew Hours', report_crew_time_path(crew.id) %></td>
    <td>
      <% crew.equipments.each do |e| %>
        <%= e.unit %><%= "," if e != crew.equipments.last %>
      <% end %>
    </td>
    <td class="actions">
    <%= link_to 'Delete', private_crew_path(crew), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_crew_path(crew), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>

<br>

<h1>Unassigned Equipment</h1>
<p>The following equipment has not been assigned to any crews</p>

<ul>
<% @unassigned_equipment.each do |e| %>
<li><%= e.unit + " - " + e.name %></li>
<% end %>
</ul>
