<table class="sortable" id="jobslist">
  <tr>
    <th class="center number">#</th>
    <th>Name</th>
    <th class="center">%</th>
    <th>Client</th>
	<th>Location</th>
	<th class="center">Value</th>
    <th class="actions nosort"></th>
  </tr>
<% i = 0 %>
<% jobs.each do |job| %>

  <% if i == 18 %>
    <tr class="hidden print-break">
      <th class="center">#</th>
      <th>Name</th>
      <th class="center">%</th>
      <th>Client</th>

      <th class="actions"></th>
    </tr>
    <% i = 0 %>
  <% else %>
    <% i += 1 %>
  <% end %>

  <tr class="<%= job.get_completion_color_class_name %>">
    <td><%= job.id %></td>
    <td><%= job.name %></td>
    <td class="right"><%= job.completion ? job.completion.name : "-" %></td>
    <td><%= job.client.name %></td>
  	<td><%= job.location_name ? job.location_name : '-' %></td>
    <td class="right"><%= number_to_currency(job.total_job_value) %></td>
    <td class="actions">
      <%= link_to "Delete", private_job_path(job), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
      <%= link_to "Edit", edit_private_job_path(job), :class => "edit" %>
      <%= link_to "Show", private_job_path(job), :class => "show" %>
    </td>
  </tr>
<% end %>
</table>
