<table class="sortable" id="jobslist">
  <tr>
    <th class="center number">#</th>
    <th>Name</th>
    <th class="center">%</th>
    <th>Client</th>
	<th>Location</th>
	<th class="center">Value</th>
    <th class="actions nosort"></th>
  </tr>
<% i = 0 %>
<% jobs.each do |job| %>

  <% if i == 18 %>
    <tr class="hidden print-break">
      <th class="center">#</th>
      <th>Name</th>
      <th class="center">%</th>
      <th>Client</th>

      <th class="actions"></th>
    </tr>
    <% i = 0 %>
  <% else %>
    <% i += 1 %>
  <% end %>

  <tr class="<%= job.get_completion_color_class_name %>" onclick="window.location='<%= private_job_path(job.id) %>'">
    <td><%= job.id %></td>
    <td><%= aaa_highlight(job.name) %></td>
    <td class="right"><%= job.completion ? job.completion.name : "-" %></td>
    <td><%= aaa_highlight(job.client.try(:name)) %></td>
  	<td><%= aaa_highlight(job.location_name || '-') %></td>
    <td class="right"><%= number_to_currency(job.total_job_value) %></td>
  </tr>
<% end %>
</table>
