<table class="sortable" id="jobslist">
  <tr>
    <th class="center number">#</th>
    <th>Name</th>
    <th class="center">Completion Status</th>
    <th class="center">Crews</th>
    <th>Client</th>
    <th>Location</th>
    <% if permitted_to? :read, :jobs_value %>
      <th class="center">Value</th>
    <% end %>
    <th>Reference/Contract #</th>
    <th>Pay Status</th>
    <th>Zoho Details</th>
    <th>AR Error</th>
  </tr>
<% i = 0 %>

<% jobs.each do |job| %>

  <% if i == 18 %>
    <tr class="hidden print-break">
      <th class="center">#</th>
      <th>Name</th>
      <th class="center">%</th>
      <th>Client</th>

      <th class="actions"></th>
    </tr>
    <% i = 0 %>
  <% else %>
    <% i += 1 %>
  <% end %>

  <tr class="<%= job.get_completion_color_class_name %>">
    <td><%= link_to "##{job.id}", private_job_path(job) %></td>
    <td><%= aaa_highlight job.name %></td>
    <td class="right"><%= aaa_highlight(job.completion.name) rescue '' %></td>
    <td>
      <%- job.crews.each do |crew| %>
        <span style="white-space:nowrap"><%= link_to aaa_highlight(crew.name.html_safe), edit_private_crew_path(crew) %></span style="white-space:nowrap">
        <br>
      <% end %>
    </td>
    <td><%= aaa_highlight(job.client.try(:name)) %></td>
  	<td><%= aaa_highlight(job.location_name || '-') %></td>
    <% if permitted_to? :read, :jobs_value %>
      <td class="right"><%= number_to_currency(job.total_job_value) %></td>
    <% end %>
    <td><%= aaa_highlight job.reference_code %></td>
    <td><%= aaa_highlight job.pay_status %></td>
    <td><%= aaa_highlight truncate(job.zoho_details) %></td>
    <td>
      <% if job.ar_error == true %>
        <span class="ar_error jobs_index">AR Error</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if permitted_to? :read, :jobs_value %>

<table style="margin-top: 57px; width: 400px;">
<tr> <td colspan="2"> <b>Total Amount for Jobs</b>   </td> </tr>
<tr>
  <td>
    Completed 
  </td>
  <td width="200px">
    <b><%= number_to_currency(Job.jobs_total_value('Completed')) %></b> 
  </td>
</tr>

<tr>
  <td>
    Work in Progress 
  </td>
  <td width="200px">
    <b><%= number_to_currency(Job.jobs_total_value('Work in Progress')) %></b> 
  </td>
</tr>

<tr>
  <td>
    Scheduled 
  </td>
  <td width="200px">
    <b><%= number_to_currency(Job.jobs_total_value('Scheduled')) %></b> 
  </td>
</tr>


<tr>
  <td>
    Awarded 
  </td>
  <td width="200px">
    <b><%= number_to_currency(Job.jobs_total_value('Awarded')) %></b> 
  </td>
</tr>

<tr>
  <td>
    Ongoing 
  </td>
  <td width="200px">
    <b><%= number_to_currency(Job.jobs_total_value('Ongoing')) %></b> 
  </td>
</tr>

</table>
<% end %>

