<table class="sortable" id="jobslist">
  <tr>
    <th class="center number">#</th>
    <th>Name</th>
    <th class="center">Completion Status</th>
    <th class="center">Crews</th>
    <th>Client</th>
    <th>Location</th>
    <th class="center">Value</th>
    <th>Reference/Contract #</th>
    <th>Pay Status</th>
    <th>Zoho Details</th>
    <th>AR Error</th>
  </tr>
<% i = 0 %>
<% jobs.each do |job| %>

  <% if i == 18 %>
    <tr class="hidden print-break">
      <th class="center">#</th>
      <th>Name</th>
      <th class="center">%</th>
      <th>Client</th>

      <th class="actions"></th>
    </tr>
    <% i = 0 %>
  <% else %>
    <% i += 1 %>
  <% end %>

  <tr class="<%= job.get_completion_color_class_name %>">
    <td><%= link_to "##{job.id}", private_job_path(job) %></td>
    <td><%= aaa_highlight(job.name) %></td>
    <td class="right"><%= job.completion.name rescue "-" %></td>
    <td>
      <%- job.crews.each do |crew| %>
        <span style="white-space:nowrap"><%= link_to crew.name.html_safe, edit_private_crew_path(crew) %></span style="white-space:nowrap">
        <br>
      <% end %>
    </td>
    <td><%= aaa_highlight(job.client.try(:name)) %></td>
  	<td><%= aaa_highlight(job.location_name || '-') %></td>
    <td class="right"><%= number_to_currency(job.total_job_value) %></td>
    <td><%= job.reference_code %></td>
    <td><%= job.pay_status %></td>
    <td><%= truncate(job.zoho_details) %></td>
    <td>
      <% if job.ar_error == true %>
        <span class="ar_error jobs_index">AR Error</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
