<div class="span-7 append-1">

  <div class="append-bottom">
    <%= form.label :client_id %><br>
    <%= select ("job", "client_id", @clients.map {|u| [u.name,u.id]}) %>
  </div>

  <div class="append-bottom">
    <%= form.label :name, "Project Name" %><br>
    <%= form.text_field "name", :class => "span-7" %>
  </div>

  <div class="append-bottom">
    <%= form.label :started_on, "Started On" %><br>
    <%= form.date_select :started_on %>
  </div>

  <div class="append-bottom">
    <%= form.label :completion_id, "Completion Level" %><br>
    <%= select ("job", "completion_id", @completions.map {|u| [u.name,u.id]}) %>
  </div>

  <div class="append-bottom">
    <%= form.label :completed_on, "Completed On" %><br>
    <%= form.date_select :completed_on, :include_blank => true %>
  </div>

  <div class="append-bottom">
    <%= form.label :notes, "Notes" %><br>
    <%= form.text_area "notes", :class => "span-7", :rows => 4 %>
  </div>

<div class="append-bottom">
  
	<% grouped_options = [true,false] %>
	<%= form.label :is_archived, "Archived" %><br />
	<%= form.check_box(:is_archived)%>
    <p style=font-size:10px;>Will remove from Jobs on Hand and remove all crew assignments if checked.</p>
</div>

</div>
<% if @job.is_archived == false %>
<div class="span-5 append-1 append-bottom">
  <%= form.label :crew_ids, "Assign Crew" %><br>
  <ul class="habtm">
  <% for crew in @crews %>
    <li style="margin-bottom: 1em">
      <label>
        <%= check_box_tag "job[crew_ids][]", crew.id, @job.crews.include?(crew) %>
        <%= crew.label %>
      </label><br>
      <%= crew.user_list %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="span-8 append-bottom">
  <%= form.label :equipment_ids, "Assign Equipment" %><br>
  <ul class="habtm">
  <% for equipment in @equipments %>
    <li>
      <label>
        <%= check_box_tag "job[equipment_ids][]", equipment.id, @job.equipments.include?(equipment) %>
        <%= equipment.unit %> - <%= equipment.name %>
      </label>
    </li>
  <% end %>
  </ul>
</div>

<hr>

<% form.fields_for :job_markings do |builder| %>
  <%= render 'job_marking_fields', :form => builder %>
<% end %>

<p><%= link_to_add_fields "Add Another Marking Quantity", form, :job_markings %></p>

<hr>

<p>
  <%= form.label :location_name, "General Location Name" %><br>
  <%= form.text_field "location_name", :class => "span-14" %>
</p>

<% form.fields_for :job_locations do |builder| %>
  <%= render 'job_location_fields', :form => builder %>
<% end %>

<p><%= link_to_add_fields "Add Another Location", form, :job_locations %></p>
<hr>