<div class="span-6">

  <div class="append-bottom">
    <%= form.label :client_id %><br>
    <%= select ("job", "client_id", @clients.map {|u| [u.name,u.id]}) %>
  </div>

  <div class="append-bottom">
    <%= form.label :name, "Project Name" %><br>
    <%= form.text_field "name", :class => "span-6" %>
  </div>

  <div class="append-bottom">
    <%= form.label :started_on, "Started On" %><br>
    <%= form.date_select :started_on, :class => "span-6" %>
  </div>

  <div class="append-bottom">
    <%= form.label :completion_id, "Completion Level" %><br>
    <%= select ("job", "completion_id", @completions.map {|u| [u.name,u.id]}) %>
  </div>

  <div class="append-bottom">
    <%= form.label :completed_on, "Completed On" %><br>
    <%= form.date_select :completed_on, :class => "span-6", :include_blank => true %>
  </div>

  <div class="append-bottom">
    <%= form.label :notes, "Notes" %><br>
    <%= form.text_area "notes", :class => "span-6" %>
  </div>

</div>

<div class="span-5 append-bottom">
  <%= form.label :user_ids, "Assign Users" %><br>
  <ul class="habtm">
  <% for user in @users %>
    <li>
      <label>
      <%= check_box_tag "job[user_ids][]", user.id, @job.users.include?(user) %>
      <%= user.name %>
      </label>
    </li>
  <% end %>
  </ul>
</div>

<div class="span-7 append-bottom">
  <%= form.label :equipment_ids, "Assign Equipment" %><br>
  <ul class="habtm">
  <% for equipment in @equipments %>
    <li>
      <label>
        <%= check_box_tag "job[equipment_ids][]", equipment.id, @job.equipments.include?(equipment) %>
        <%= equipment.unit %> - <%= equipment.name %>
      </label>
    </li>
  <% end %>
  </ul>
</div>

<div class="span-6 append-bottom last">
  <div class="append-bottom">
    <%= form.label :location_name, "Location Name" %><br>
    <%= form.text_field "location_name", :class => "span-6" %>
  </div>

  <%= form.label :location_ids, "Assign Location(s)" %><br>

  <ul class="habtm">
  <% for location in @locations %>
    <li>
      <label>
        <%= check_box_tag "job[location_ids][]", location.id, @job.locations.include?(location) %>
        <%= location.name %>
      </label>
    </li>
  <% end %>
  </ul>
</div>

<hr>

<h3>Marking Quantities</h3>

<% form.fields_for :job_markings do |builder| %>
  <%= render 'job_marking_fields', :form => builder %>
<% end %>

<br class="clear">

<p><%= link_to_add_fields "Add Another Marking Quantity", form, :job_markings %></p>
<hr>