<div class="span-24 last">

  <div class="fields">
    
    <div class="span-4 append-bottom">
      <%= form.label :gun_marking_category_id, "Marking Category" %>
      <br>
      <%= form.select ("gun_marking_category_id", @gun_marking_categories.map {|u| [u.name,u.id]}, :class => "span-4", :include_blank => true) %>
    </div>
    <div class="span-2 append-bottom">
      <%= form.label :amount, "Quantity" %><br>
      <%= form.text_field "amount", :class => "span-2" %>
    </div>
    <div class="span-2 append-bottom">
      <%= form.label :rate, "Rate" %><br>
      <%= form.text_field "rate", :class => "span-2" %>
    </div>
    <div class="span-2 last append-bottom">
      <br>
      <p><%= link_to_remove_fields "Remove", form %></p>
    </div>
  
  </div>

</div>