<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to 'New Job on Hand', new_private_job_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_load_sheets -%>
    <%= link_to "New Load Sheet", new_private_load_sheet_path %>
  <% end %>
  <% if permitted_to? :create, :private_jobs -%>
    <%= link_to "Archived Jobs", '/admin/archived_jobs' %>
  <% end %>
<% end %>


<hr>
<table>
<% form_for @search do |f| %>
  <tr class="no-border"><td class="no-border">
    <%= f.label :name_like, "Name" %><br />
    <%= f.text_field :name_like %>
  </td>
  <td class="no-border">
    <%= f.label :location_name_like, "Location" %><br />
    <%= f.text_field :location_name_like %>
  </td>
  <td class="no-border">
    <%= f.label :client_name_like , "Client" %><br />
    <%= f.text_field :client_name_like %>
  </td>
  <td class="no-border right">
    <%= link_to "Clear Search", private_jobs_path %><br />
    <%= f.submit "Search" %>
  </td></tr>
<% end %>

</table>
<% if @jobs != @search.all %>
<%= render :partial => "private/jobs/display", :locals => {:jobs => @searched_jobs} %>
<% end %>
