<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to 'New Job on Hand', new_private_job_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_load_sheets -%>
    <li><%= active_link_to "New Load Sheet", new_private_load_sheet_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to "Archived Jobs", private_archived_jobs_path %></li>
  <% end %>
<% end %>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
		<%= text_field_tag :query, params[:query] %>
		<%= submit_tag "Search" %><br>
		<em>Searches within name, client and location</em>
  </td></tr>
<% end %>
</table>

<%= render :partial => "display", :locals => {:jobs => @searched_jobs} %>
