<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to 'New Job on Hand', new_private_job_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_load_sheets -%>
    <li><%= active_link_to "New Load Sheet", new_private_load_sheet_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to "Archived Jobs", private_archived_jobs_path %></li>
  <% end %>
<% end %>

<hr>
<%= render 'jobs_search_form' %>

<% if @jobs.present? %>
  <%= render :partial => "display", :locals => {:jobs => @jobs} %>
<% end %>


<% if @active_jobs.present? %>
  <h2>Active Jobs</h2>
  <%= render :partial => "display", :locals => {:jobs => @active_jobs} %>
<% end %>

<br>
<br>
<hr>

<% if @archived_jobs.present? %>
  <h2>Archived Jobs</h2>
  <%= render :partial => "display", :locals => {:jobs => @archived_jobs} %>
<% end %>
