<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to 'New Job on Hand', new_private_job_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_load_sheets -%>
    <li><%= link_to "New Load Sheet", new_private_load_sheet_path %></li>
  <% end %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= link_to "Archived Jobs", '/admin/archived_jobs' %></li>
  <% end %>
<% end %>

<hr>

<table>
<% form_for @search do |f| %>
  <tr class="no-border"><td class="no-border right">
		<%= f.text_field :name_like_or_location_name_like_or_client_name_like %>
		<%= f.submit "Search" %><br>
		<em>Searches within name, client and location</em>
  </td></tr>
<% end %>
</table>

<% if @jobs != @search.all %>
<%= render :partial => "private/jobs/display", :locals => {:jobs => @searched_jobs} %>
<% end %>
