<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Jobs', private_jobs_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <% if permitted_to? :create, :private_jobs -%>
    <li><%= active_link_to 'New Job on Hand', new_private_job_path %></li>
  <% end %>
<% end %>

<% form_for @job, :url => private_jobs_path(@job) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Create Job" %> or <%= link_to 'Cancel', private_jobs_path %>
<% end %>