<% if in_mobile_view? %>
  <%= form_tag private_navigate_path do -%>
    <p>
      <% if permitted_to? :create, :private_clock_in -%>
        <label><%= radio_button_tag "navigate", "clock_in" %> Clock in</label><br />
      <% end %>
      <% if permitted_to? :create, :private_clock_out -%>
        <label><%= radio_button_tag "navigate", "clock_out" %> Clock out</label><br />
      <% end %>
      <% if permitted_to? :create, :private_time_sheets -%>
        <label><%= radio_button_tag "navigate", "new_time_sheet" %> Submit Daily Progress Report</label><br />
      <% end %>
      <% if permitted_to? :create, :private_gun_sheets -%>
        <label><%= radio_button_tag "navigate", "new_gun_sheet" %> New Gun Sheet</label><br />
      <% end %>
      <% if permitted_to? :create, :private_load_sheets -%>
        <label><%= radio_button_tag "navigate", "new_load_sheet" %> New Load Sheet</label><br />
      <% end %>
    </p>
    <%= hidden_field "job", "id" %>
    <% if permitted_to? :navigate, :private_jobs %>
      <p><%= submit_tag "Go to Page" %></p>
    <% end %>
  <% end %>
  <hr>
<% else %>
  <%= render 'jobs_search_form' %>
<% end %>

<div class="modal hide fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true"></div>

<% if @job.ar_error == true %>
  <h1 class="ar_error jobs_show">AR Error</h1>
<% end %>

<% if permitted_to?(:edit, :private_jobs) and !in_mobile_view? %>
  <div class="show_actions">
    <%= link_to "Edit", edit_private_job_path(@job.id), :class => "edit" %>
    <%= link_to "Delete", private_job_path(@job.id), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
  </div>
<% end %>


<div class="container">
<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Jobs', private_jobs_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <%= render :partial => 'menus/jobs_menu.html.erb', :layout => false %>
<% end %>

<div class="span-6 append-1">

  <h3>Schedule</h3>
  <p>
    Start: <%= @job.started_on %><br>
    Status: <%= @job.completion.try(:name) %><br>
    Complete: <%= @job.completed_on %><br>
    Pay Status: <%= @job.pay_status %><br>

    <b>Reminder on:</b> <%= @job.reminder_on %><br>
    <b>Reminder E-mail:</b> <%= @job.reminder_email %><br>
    <b>Reminder Notice:</b> <%= @job.reminder_notice %><br>
  </p>

  <hr>

  <h3>Client</h3>
  <p>
    <% if @job.client %>
      <%= if @job.client.contact.present?    then "#{@job.client.contact}" end %>
      <%= if @job.client.name.present?       then "<br>#{@job.client.name}".html_safe end %>
      <%= if @job.client.address.present?    then "<br>#{@job.client.address}".html_safe end %>
      <%= if @job.client.city.present?       then "<br>#{@job.client.city}".html_safe end %>
      <%= if @job.client.province.present?   then ", #{@job.client.province}" end %>
      <%= if @job.client.work_phone.present? then "<br>Work: #{@job.client.work_phone}".html_safe end %>
      <%= if @job.client.cell_phone.present? then "<br>Cell: #{@job.client.cell_phone}".html_safe end %>
      <%= if @job.client.fax.present?        then "<br>Fax: #{@job.client.fax}".html_safe end %>
      <%= if @job.client.email.present?      then "<br>Email: #{@job.client.email}".html_safe end %>
      <%= if @job.client.notes.present?      then "<br>#{@job.client.notes}".html_safe end %>
    <% end %>
  </p>

  <hr>

  <h3>Location</h3>
  <p><%= @job.location_name %></p>
  <ol>
  <% @job.job_locations.each do |location| %>
    <li><%= location.name %></li>
  <% end %>
  </ol>

</div><!-- span-6 -->

<div class="span-8 append-1">
  <h3>Crews</h3>

  <% if @job.is_archived == false %>
    <ol>
    <% @job.crews.each do |crew| %>
      <li>
        <b><%= crew.name.html_safe %></b>
        <% if crew.user_list.include?(current_user.name) -%>
          <span class="noprint"><%= link_to "Calendar", private_crew_path(crew), class: 'show' %></span>
        <% end %>
        <br>
        <%= crew.user_list %>
      </li>
    <% end %>
  </ol>
  <% else %>
  <p><b>Job is Archived</b><p>
  <% end %>

  <% if @job.crew_ids.size == 0 %>
    <p>No Crews Assigned</p>
  <% end %>
  <p class="noprint">
    <%= link_to 'Add Comment', '#',  data: {toggle: "modal", target: "#myModal"} %>
  </p>
  <hr>

  <h3>Equipment</h3>
    <ol>
      <% i = 0 %>
      <% @job.crews.each do |crew| %>
        <% crew.equipments.each do |e| %>
          <li><%= e.unit %> - <%= e.name %> <% i = i + 1 %></li>
        <% end %>
      <% end %>
    </ol>
    <% if i == 0 %>
      <p>No Equipment Assigned to Crew</p>
    <% end %>

  <hr>

  <h3>Marking Quantities</h3>
  <% if @job.job_markings.length != 0 %>
    <% @marking_sum = 0 %>
    <ol>
    <% @job.job_markings.each do |m| %>
      <li>
        <%= m.amount %> <%= m.gun_marking_category.try(:name) %>
        <br>
        <% if permitted_to? :manage, :private_job_sheets -%>
          (<%= number_to_currency(m.rate) %>/unit = <%= number_to_currency((m.amount || 0) * (m.rate || 0)) %>)
          <% @marking_sum += ((m.amount || 0) * (m.rate || 0)) %>
        <% end %>
      </li>
    <% end %>
    </ol>
    <% if permitted_to? :manage, :private_job_sheets -%>
      <p>Total: <%= number_to_currency(@marking_sum) %></p>
    <% end %>
  <% else %>
    <p>No markings assigned.</p>
  <% end %>

</div><!-- span-10 append-1 -->

<div class="span-8 noprint last">
  <% if permitted_to? :show, :private_time_sheets -%>
    <h3>Time Sheets</h3>
    <ol>
    <% @job.time_sheets.each do |time_sheet| %>
      <% if !time_sheet.is_archived? or @show_archived %>
        <li><%= link_to time_sheet.label, private_time_sheet_path(time_sheet), :class => "show plain" %></li>
      <% else %>
        <% @time_sheet_archived = true %>
      <% end %>
    <% end %>
    </ol>
    <%= link_to "view archived time sheets", "?show_archived=true" if @time_sheet_archived and !@show_archived %>
  <hr>
  <% end -%>

  <% if permitted_to? :show, :private_job_sheets -%>
    <h3>Job Sheets</h3>
    <% if @job.job_sheets.length != 0 %>
      <ol>
      <% @job.job_sheets.each do |job_sheet| %>
        <% if !job_sheet.is_archived? or @show_archived %>
          <li><%= link_to job_sheet.label, private_job_sheet_path(job_sheet), :class => "show plain" %></li>
        <% else %>
          <% @job_sheet_archived = true %>
        <% end %>
      <% end %>
      </ol>
      <%= link_to "view archived job sheets", "?show_archived=true" if @job_sheet_archived and !@show_archived %>
    <% else %>
      <p>No Job Sheets.</p>
    <% end %>

  <hr>
  <% end %>

  <% if permitted_to? :show, :private_material_reports -%>
    <h3>Material Reports</h3>
    <% if @job.material_reports.length > 0 %>
      <ol>
      <% @job.material_reports.each do |m| %>
        <% if !m.is_archived? or @show_archived %>
          <li><%= link_to m.label, private_material_report_path(m.id), :class => "show plain" %></li>
        <% else %>
          <% @material_reports_archived = true %>
        <% end %>
      <% end %>
      </ol>
      <%= link_to "view archived material reports", "?show_archived=true" if @material_reports_archived and !@show_archived %>
    <% else %>
      <p>No Material Reports.</p>
    <% end %>
  <% end %>
</div>

<hr>
<div class="span-12 noprint">
  <% if permitted_to? :show, :private_load_sheets -%>
    <h3>Load Sheets</h3>
    <ol>
    <% @job.load_sheets.each do |load_sheet| %>
      <% if !load_sheet.is_archived? or @show_archived %>
        <li><%= link_to load_sheet.label, private_load_sheet_path(load_sheet), :class => "show plain" %></li>
      <% else %>
        <% @load_sheets_archived = true %>
      <% end %>
    <% end %>
    </ol>
    <%= link_to "view archived load sheets", "?show_archived=true" if @load_sheets_archived and !@show_archived %>
  <% end %>
</div>

<div class="span-12 noprint last">
  <% if permitted_to? :show, :private_gun_sheets -%>
    <h3>Gun Sheets</h3>
    <ol>
    <% @job.gun_sheets.each do |gun_sheet| %>
      <% if !gun_sheet.is_archived? or @show_archived %>
        <li><%= link_to gun_sheet.label, private_gun_sheet_path(gun_sheet), :class => "show plain" %></li>
      <% else %>
        <% @gun_sheets_archived = true %>
      <% end %>
    <% end %>
    </ol>
    <%= link_to "view archived gun sheets", "?show_archived=true" if @gun_sheets_archived and !@show_archived %>
  <% end %>
</div>

<% if permitted_to? :manage, :private_jobs -%>
  <hr>
  <div class="span-12 noprint">
    <h3>Documents</h3>
    <% if @job.assets.blank? %>
      <p>No uploaded documents for this job.</p>
    <% else %>
      <table>
        <tr>
          <th>Preview</th>
          <th>File name</th>
          <th></th>
        </tr>
        <% @job.assets.each do |asset| %>
          <tr>
            <td><%=uploaded_asset(asset) %></td>
            <td><%= asset.image_file_name %></td>
            <td>
              <%= link_to "Download", asset.image.url, target: '_blank' %>
              <%= link_to "Delete", delete_document_private_job_path(@job, asset_id: asset.id), class: 'delete', confirm: "Are you sure?" %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
</div>
<br>
<hr>
<br>

<div class="span-12">
  <h3>Comments</h3>

  <% if @job.comments.size == 0 %>
    <p>No comments for this job.</p>
  <% else %>
    <table>
      <% @job.comments.sorted.each do |comment| %>
        <tr>
          <td class="span-5">
            <p>
              <strong><%= comment.user.name rescue '-' %></strong>
              <br>
              <%= I18n.l comment.created_at, :format => :long %>
            </p>
          </td>
          <td style="vertical-align: top;">
            <%= RedCloth.new(comment.text.to_s).to_html.html_safe %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="span-12 last">
  <h3>Zoho Details</h3>
  <%= @job.zoho_details.blank? ? "None." : RedCloth.new(@job.zoho_details).to_html.html_safe %>
</div>

<%= render 'private/comments/add_comment' %>
