<div class="container">
<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Jobs', private_jobs_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/jobs_menu', :layout => false %>
<% end %>

<div class="span-24"><h3>Notes</h3>
  <%= @job.notes.blank? ? "None." : raw(RedCloth.new(@job.notes).to_html) %>
</div>

<hr>

<div class="span-6 append-1">

  <h3>Schedule</h3>
  <p>
    Start: <%= @job.started_on %><br>
    Status: <%= if @job.completion : @job.completion.name end %><br>
    Complete: <%= @job.completed_on %>
  </p>

  <hr>

  <h3>Client</h3>
  <p>
    <% if @job.client %>
      <%= unless @job.client.contact.blank?    : "#{@job.client.contact}" end %>
      <%= unless @job.client.name.blank?       : "<br>#{@job.client.name}" end %>
      <%= unless @job.client.address.blank?    : "<br>#{@job.client.address}" end %>
      <%= unless @job.client.city.blank?       : "<br>#{@job.client.city}" end %>
      <%= unless @job.client.province.blank?   : ", #{@job.client.province}" end %>
      <%= unless @job.client.work_phone.blank? : "<br>Work: #{@job.client.work_phone}" end %>
      <%= unless @job.client.cell_phone.blank? : "<br>Cell: #{@job.client.cell_phone}" end %>
      <%= unless @job.client.fax.blank?        : "<br>Fax: #{@job.client.fax}" end %>
      <%= unless @job.client.email.blank?      : "<br>Email: #{@job.client.email}" end %>
      <%= unless @job.client.notes.blank?      : "<br>#{@job.client.notes}" end %>
    <% end %>
  </p>

  <hr>

  <h3>Location</h3>
  <p><%= @job.location_name %></p>
  <ol>
  <% @job.job_locations.each do |location| %>
    <li><%= location.name %></li>
  <% end %>
  </ol>

</div><!-- span-6 -->

<div class="span-8 append-1">
  <h3>Crews</h3>

  <% if @job.is_archived == false %>
    <ol>
    <% @job.crews.each do |crew| %>
      <li>
        <b><%= crew.name %></b>
        <br>
        <%= crew.user_list %>
      </li>
    <% end %>
  </ol>
  <% else %>
  <p><b>Job is Archived</b><br />
  No Crews Assigned</p>
  <% end %>

  <hr>

  <h3>Equipment</h3>
    <ol>
      <% i = 0 %>
      <% @job.crews.each do |crew| %>
        <% crew.equipments.each do |e| %>
          <li><%= e.unit %> - <%= e.name %> <% i = i + 1 %></li>
        <% end %>
      <% end %>
    </ol>
    <% if i == 0 %>
      <p>No Equipment Assigned to Crew</p>
    <% end %>

  <hr>

  <h3>Marking Quantities</h3>
  <% if @job.job_markings.length != 0 %>
    <% @marking_sum = 0 %>
    <ol>
    <% @job.job_markings.each do |m| %>
      <li>
        <%= m.amount %> <%= m.gun_marking_category.name if m.gun_marking_category %>
        <br>
        <% if permitted_to? :manage, :private_job_sheets -%>
          (<%= number_to_currency(m.rate) %>/unit = <%= number_to_currency(m.amount * m.rate) %>)
          <% @marking_sum += (m.amount * m.rate) %>
        <% end %>
      </li>
    <% end %>
    </ol>
    <% if permitted_to? :manage, :private_job_sheets -%>
      <p>Total: <%= number_to_currency(@marking_sum) %></p>
    <% end %>
  <% else %>
    <p>No markings assigned.</p>
  <% end %>

</div><!-- span-10 append-1 -->

<div class="span-8 noprint last">
  <% if permitted_to? :show, :private_time_sheets -%>
    <h3>Time Sheets</h3>
    <ol>
    <% @job.time_sheets.each do |time_sheet| %>
      <% if !time_sheet.is_archived? %>
        <li><%= link_to time_sheet.label, private_time_sheet_path(time_sheet), :class => "show plain" %></li>
      <% else %>
        <% @time_sheet_archived = true %>
      <% end %>
    <% end %>
    </ol>
    <%= link_to "view archived time sheets", private_job_show_all_path(@job) if @time_sheet_archived %>
  <hr>
  <% end -%>

  <% if permitted_to? :show, :private_job_sheets -%>
    <h3>Job Sheets</h3>
    <% if @job.job_sheets.length != 0 %>
      <ol>
      <% @job.job_sheets.each do |job_sheet| %>
        <% if !job_sheet.is_archived? %>
          <li><%= link_to job_sheet.label, private_job_sheet_path(job_sheet), :class => "show plain" %></li>
        <% else %>
          <% @job_sheet_archived = true %>
        <% end %>
      <% end %>
      </ol>
      <%= link_to "view archived job sheets", private_job_show_all_path(@job) if @job_sheet_archived %>
    <% else %>
      <p>No Job Sheets.</p>
    <% end %>

  <hr>
  <% end %>

  <% if permitted_to? :show, :private_material_reports -%>
    <h3>Material Reports</h3>
    <% if @job.material_reports.length > 0 %>
      <ol>
      <% @job.material_reports.each do |m| %>
        <% if !m.is_archived? %>
          <li><%= link_to m.label, private_material_report_path(m.id), :class => "show plain" %></li>
        <% else %>
          <% @material_reports_archived = true %>
        <% end %>
      <% end %>
      </ol>
      <%= link_to "view archived material reports", private_job_show_all_path(@job) if @material_reports_archived %>
    <% else %>
      <p>No Material Reports.</p>
    <% end %>
  <% end %>
</div>

<hr>

<div class="span-12 noprint">
  <% if permitted_to? :show, :private_load_sheets -%>
    <h3>Load Sheets</h3>
    <ol>
    <% @job.load_sheets.each do |load_sheet| %>
      <% if !load_sheet.is_archived? %>
        <li><%= link_to load_sheet.label, private_load_sheet_path(load_sheet), :class => "show plain" %></li>
      <% else %>
        <% @load_sheets_archived = true %>
      <% end %>
    <% end %>
    </ol>
    <%= link_to "view archived load sheets", private_job_show_all_path(@job) if @load_sheets_archived %>
  <% end %>
</div>

<div class="span-12 noprint last">
  <% if permitted_to? :show, :private_gun_sheets -%>
    <h3>Gun Sheets</h3>
    <ol>
    <% @job.gun_sheets.each do |gun_sheet| %>
      <% if !gun_sheet.is_archived? %>
        <li><%= link_to gun_sheet.label, private_gun_sheet_path(gun_sheet), :class => "show plain" %></li>
      <% else %>
        <% @gun_sheets_archived = true %>
      <% end %>
    <% end %>
    </ol>
    <%= link_to "view archived gun sheets", private_job_show_all_path(@job) if @gun_sheets_archived %>
  <% end %>
</div>

</div>
