<h3>Schedule</h3>
<p>
Start: <%= @job.started_on %><br />
Status: <%= @job.completion.name %><br />
Complete: <%= @job.completed_on %>
</p>

<hr />

<h3>Client</h3>
<p>
<%= @job.client.contact %><br />
<%= @job.client.name %><br />
<%= @job.client.address %><br />
<%= @job.client.city %>, <%= @job.client.province %> <%= @job.client.postal_code %><br />
Work: <%= @job.client.work_phone %><br />
Cell: <%= @job.client.cell_phone %><br />
Fax: <%= @job.client.fax %><br />
Email: <a href="mailto:<%= @job.client.email %>"><%= @job.client.email %></a>
<% if @job.client.notes %>
<br /><br />
<%= @job.client.notes %>
<% end %>
</p>

<hr />

<h3>Assigned Users</h3>
<ul>
  <% @job.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<hr />

<h3>Assigned Equipment</h3>
<ul>
<% @job.equipments.each do |equipment| %>
  <li><%= equipment.unit %> - <%= equipment.name %></li>
<% end %>
</ul>

<hr />

<h3>Assigned Locations</h3>
<ul>
<% @job.locations.each do |location| %>
  <li><%= location.name %></li>
<% end %>
</ul>

<hr />

<h3>Time Sheets</h3>
<ul>
  <li><%= link_to "Add a Time Sheet", new_private_job_time_sheet_path(:job_id => @job.id) %></li>
<% @job.time_sheets.each do |time_sheet| %>
  <li><%= link_to "Time Sheet ##{time_sheet.id}", private_time_sheet_path(time_sheet) %></li>
<% end %>
</ul>

<hr />

<h3>Load Sheets</h3>
<ul>
  <li><%= link_to "Add a Load Sheet", new_private_load_sheet_path %></li>
<% @job.load_sheets.each do |load_sheet| %>
  <li><%= link_to "Load Sheet ##{load_sheet.id}", private_load_sheet_path(load_sheet) %></li>
<% end %>
</ul>

<hr />

<h3>Gun Sheets</h3>
<ul>
  <li><%= link_to "Add a Gun Sheet", new_private_load_sheet_path %></li>
<% @job.gun_sheets.each do |gun_sheet| %>
  <li><%= link_to "Gun Sheet ##{gun_sheet.id}", private_gun_sheet_path(gun_sheet) %></li>
<% end %>
</ul>