<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Jobs', private_jobs_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<div class="span-6 append-1">
  <div id="sidebar" class="clearfix">
    <%= render :partial => 'menus/jobs_menu', :layout => false %>
    <br class="clear">
    <br class="clear">
  </div><!-- sidebar -->

  <h3>Notes</h3>
  <p>
    <%= if @job.notes : "#{@job.notes}" else "-" end %>
  </p>

  <hr>

  <h3>Schedule</h3>
  <p>
    Start: <%= @job.started_on %><br>
    Status: <%= if @job.completion : @job.completion.name end %><br>
    Complete: <%= @job.completed_on %>
  </p>

  <hr>

  <h3>Client</h3>
  <p>
    <% if @job.client %>
      <%= unless @job.client.contact.blank?    : "#{@job.client.contact}" end %>
      <%= unless @job.client.name.blank?       : "<br>#{@job.client.name}" end %>
      <%= unless @job.client.address.blank?    : "<br>#{@job.client.address}" end %>
      <%= unless @job.client.city.blank?       : "<br>#{@job.client.city}" end %>
      <%= unless @job.client.province.blank? : ", #{@job.client.province}" end %>
      <%= unless @job.client.work_phone.blank? : "<br>Work: #{@job.client.work_phone}" end %>
      <%= unless @job.client.cell_phone.blank? : "<br>Cell: #{@job.client.cell_phone}" end %>
      <%= unless @job.client.fax.blank?         : "<br>Fax: #{@job.client.fax}" end %>
      <%= unless @job.client.email.blank?      : "<br>Email: #{@job.client.email}" end %>
      <%= unless @job.client.notes.blank?       : "<br>#{@job.client.notes}" end %>
    <% end %>
  </p>

</div><!-- span-6 append-1 -->

<div class="span-10 append-1">
  <h3>Users</h3>
  <ol>
    <% @job.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ol>

  <hr>

  <h3>Equipment</h3>
  <ol>
  <% @job.equipments.each do |equipment| %>
    <li><%= equipment.unit %> - <%= equipment.name %></li>
  <% end %>
  </ol>

  <hr>

  <h3>Location</h3>
  <p><%= @job.location_name %></p>
  <ol>
  <% @job.job_locations.each do |location| %>
    <li><%= location.name %></li>
  <% end %>
  </ol>

  <hr>

  <h3>Marking Quantities</h3>
  <ol>
  <% @job.job_markings.each do |m| %>
    <li><%= m.amount %> <%= m.gun_marking_category.name %></li>
  <% end %>
  </ol>

</div><!-- span-10 append-1 -->

<div class="span-6 last">
  <% if permitted_to? :read, :private_time_sheets -%>
    <h3>Time Sheets</h3>
    <ol>
    <% @job.time_sheets.each do |time_sheet| %>
      <li><%= link_to "Time Sheet ##{time_sheet.id}", private_time_sheet_path(time_sheet), :class => "show" %></li>
    <% end %>
    </ol>

    <hr>
  <% end -%>

  <% if permitted_to? :read, :private_load_sheets -%>
    <h3>Load Sheets</h3>
    <ol>
    <% @job.load_sheets.each do |load_sheet| %>
      <li><%= link_to "Load Sheet ##{load_sheet.id}", private_load_sheet_path(load_sheet), :class => "show" %></li>
    <% end %>
    </ol>

    <hr>
  <% end %>

  <% if permitted_to? :read, :private_time_sheets -%>
    <h3>Gun Sheets</h3>
    <ol>
    <% @job.gun_sheets.each do |gun_sheet| %>
      <li><%= link_to "Gun Sheet ##{gun_sheet.id}", private_gun_sheet_path(gun_sheet), :class => "show" %></li>
    <% end %>
    </ol>

    <hr>
  <% end %>

  <% if permitted_to? :read, :private_job_sheets -%>
    <h3>Job Sheets</h3>
    <ol>
    <% @job.job_sheets.each do |job_sheet| %>
      <li><%= link_to "Job Sheet ##{job_sheet.id}", private_job_sheet_path(job_sheet), :class => "show" %></li>
    <% end %>
    </ol>
  <% end %>
</div><!-- span-6 last -->