<%= form_tag private_navigate_path do -%>

  <p>
    <% if permitted_to? :create, :private_clock_in -%>
      <label><%= radio_button_tag "navigate", "clock_in" %> Clock in</label><br />
    <% end %>
    <% if permitted_to? :create, :private_clock_out -%>
      <label><%= radio_button_tag "navigate", "clock_out" %> Clock out</label><br />
    <% end %>
    <% if permitted_to? :create, :private_time_sheets -%>
      <label><%= radio_button_tag "navigate", "new_time_sheet" %> Submit Daily Progress Report</label><br />
    <% end %>
    <% if permitted_to? :create, :private_gun_sheets -%>
      <label><%= radio_button_tag "navigate", "new_gun_sheet" %> New Gun Sheet</label><br />
    <% end %>
    <% if permitted_to? :create, :private_load_sheets -%>
      <label><%= radio_button_tag "navigate", "new_load_sheet" %> New Load Sheet</label><br />
    <% end %>
  </p>

  <%= hidden_field "job", "id" %>
  <% if permitted_to? :navigate, :private_jobs %>
    <p><%= submit_tag "Go to Page" %></p>
  <% end %>

<% end %>

<hr>

<% if @job.notes && @job.notes != '' %>
<h3>Notes</h3>
<p><%= @job.notes %></p>
<hr>
<% end %>

<h3>Schedule</h3>
<p>
Start: <%= @job.started_on %><br />
Status: <%= @job.completion.try(:name) %><br />
Complete: <%= @job.completed_on %>
</p>

<hr />

<h3>Client</h3>
<p>
  <% if @job.client %>
    <%= unless @job.client.contact.blank?    then "#{@job.client.contact}" end %>
    <%= unless @job.client.name.blank?       then "<br>#{@job.client.name}" end %>
    <%= unless @job.client.address.blank?    then "<br>#{@job.client.address}" end %>
    <%= unless @job.client.city.blank?       then "<br>#{@job.client.city}" end %>
    <%= unless @job.client.province.blank?   then ", #{@job.client.province}" end %>
    <%= unless @job.client.work_phone.blank? then "<br>Work: #{@job.client.work_phone}" end %>
    <%= unless @job.client.cell_phone.blank? then "<br>Cell: #{@job.client.cell_phone}" end %>
    <%= unless @job.client.fax.blank?        then "<br>Fax: #{@job.client.fax}" end %>
    <%= unless @job.client.email.blank?      then "<br>Email: #{@job.client.email}" end %>
    <%= unless @job.client.notes.blank?      then "<br>#{@job.client.notes}" end %>
  <% end %>
</p>

<hr />

<h3>Crews</h3>
<% unless @job.crews.length != 0 -%>
  <ol>
  <% @job.crews.each do |crew| -%>
    <li>
      <%=h crew.name %>
      <br>
      <%=h crew.user_list %>
    </li>
  <% end -%>
  </ol>
<% else -%>
  <p>There are no crews assigned.</p>
<% end -%>

<hr>

<h3>Equipment</h3>
<% unless @equipment.blank? %>
  <ol>
  <% @equipment.each do |e| %>
    <li><%= e.unit %> - <%= e.name %></li>
  <% end %>
  </ol>
<% else %>
  <p>There is no equipment assigned.</p>
<% end %>

<hr />

<h3>Locations</h3>
<p><%= @job.location_name %></p>
<ol>
<% @job.job_locations.each do |location| %>
  <li><%= location.name %></li>
<% end %>
</ol>

<hr />

<h3>Marking Quantities</h3>
<ol>
<% @job.job_markings.each do |m| %>
  <li><%= m.amount %> <%= m.gun_marking_category.try(:name) %> @ $<%= m.rate %></li>
<% end %>
</ol>

<hr>

<% if permitted_to? :show, :private_time_sheets -%>
  <h3>Time Sheets</h3>
  <ol>
  <% @job.time_sheets.each do |time_sheet| %>
    <li><%= link_to time_sheet.label, private_time_sheet_path(time_sheet) %></li>
  <% end %>
  </ol>

  <hr>
<% end -%>

<% if permitted_to? :show, :private_load_sheets -%>
  <h3>Load Sheets</h3>
  <ol>
  <% @job.load_sheets.each do |load_sheet| %>
    <li><%= link_to load_sheet.label, private_load_sheet_path(load_sheet) %></li>
  <% end %>
  </ol>

  <hr>
<% end %>

<% if permitted_to? :show, :private_gun_sheets -%>
  <h3>Gun Sheets</h3>
  <ol>
  <% @job.gun_sheets.each do |gun_sheet| %>
    <li><%= link_to gun_sheet.label, private_gun_sheet_path(gun_sheet) %></li>
  <% end %>
  </ol>

  <hr>
<% end %>
