<div class="span-12 append-bottom">
  <%= form.label :client_id, "Client" %><br>
  <%= form.select (:client_id, @clients.map {|u| [u.name,u.id]}, :include_blank => true) %>
</div>

<div class="span-12 last append-bottom">
  <%= form.label :note, "Comments" %><br>
  <%= form.text_field "note", :class => "span-12" %>
</div>

<br class="clear">

<div class="span-12 append-bottom">
  <%= form.label :job_location_id, "Location" %><br>
  <%= form.select (:job_location_id, @job_locations.map {|u| [u.name,u.id]}, :include_blank => false) %>
</div>

<div class="span-12 last append-bottom">
  <%= form.label :location_name, "Custom Location" %><br>
  <%= form.text_field "location_name", :class => "span-12" %>
</div>

<br class="clear">

<div class="span-6 append-bottom">
  <br>
  <%= form.radio_button :is_new_construction, "true" %> New Construction
  <%= form.radio_button :is_new_construction, "false" %> Repaint
</div>

<div class="span-6 append-bottom">
  <%= form.label :control_section, "Control Section" %><br>
  <%= form.text_field "control_section", :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :interchanges, "Interchanges" %><br>
  <%= form.text_field "interchanges", :class => "span-6" %>
</div>

<div class="span-6 last append-bottom">
  <%= form.label :sides, "Sides" %><br>
  <%= form.text_field "sides", :class => "span-6" %>
</div>

<br class="clear">

<div class="span-6 append-bottom">
  <%= form.label :date, "Date" %><br>
  <%= form.date_select :date %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :started_at, "Started at" %><br>
  <%= form.time_select :started_at %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :completed_at, "Completed at" %><br>
  <%= form.time_select :completed_at %>
</div>

<hr>

<h3>Guns</h3>

<table class="guns span-9">
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="span-3">Solid</th>
    <th class="span-3">Skip</th>
  </tr>
  <tr>
    <th>Y-1</th>
    <td><%= form.text_field "solid_y1", :class => "span-3" %></td>
    <td><%= form.text_field "skip_y1", :class => "span-3" %></td>
  </tr>
  <tr>
    <th>Y-2</th>
    <td><%= form.text_field "solid_y2", :class => "span-3"  %></td>
    <td><%= form.text_field "skip_y2", :class => "span-3"  %></td>
  </tr>
  <tr>
    <th>Y-3</th>
    <td><%= form.text_field "solid_y3", :class => "span-3"  %></td>
    <td><%= form.text_field "skip_y3", :class => "span-3"  %></td>
  </tr>
  <tr>
    <th>W-4</th>
    <td><%= form.text_field "solid_w4", :class => "span-3"  %></td>
    <td><%= form.text_field "skip_w4", :class => "span-3"  %></td>
  </tr>
  <tr>
    <th>W-5</th>
    <td><%= form.text_field "solid_w5", :class => "span-3"  %></td>
    <td><%= form.text_field "skip_w5", :class => "span-3"  %></td>
  </tr>
  <tr>
    <th>W-6</th>
    <td><%= form.text_field "solid_w6", :class => "span-3"  %></td>
    <td><%= form.text_field "skip_w6", :class => "span-3"  %></td>
  </tr>
  <tr>
    <th>W-7</th>
    <td><%= form.text_field "solid_w7", :class => "span-3"  %></td>
    <td><%= form.text_field "skip_w7", :class => "span-3"  %></td>
  </tr>
</table>

<hr>

<h3>Markings</h3>
<% form.fields_for :gun_markings do |builder| %>
  <%= render 'gun_markings_fields', :form => builder %>
<% end %>