<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %><br>
    <em>Searches within job and location</em>
  </td></tr>
<% end %>
</table>

<%= will_paginate @gun_sheets %>

<p class="hint">To create a new gun sheet, view the related Job and choose 'New Gun Sheet' from the sub-menu.</p>

<%= form_tag private_gun_sheets_print_selected_path, :method => :post, :target => '_blank' do -%>
<input type="button" onclick="toggleCheckboxes(true)" value="Select All"/>
<input type="button" onclick="toggleCheckboxes(false)" value="Select None"/>
  <%= submit_tag "Print Selected", :style => "margin-bottom:10px;" %>

  <%= render 'gun_sheets' %>

  <%= submit_tag "Print Selected" %>
<% end %>

<%= will_paginate @gun_sheets %>

<script type="text/javascript" language="javascript">
	function toggleCheckboxes(checked_status) {

		var checkboxes = [];
		checkboxes = $$('input').each(function(e){ if(e.type == 'checkbox') checkboxes.push(e) });

		if(checked_status == true)
			checkboxes.each(function(e){ e.checked = 1 });
		else
			checkboxes.each(function(e){ e.checked = 0 });
	}

</script>
