<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Gun Sheet', new_private_gun_sheet_path %></p>

<table class="sortable">
  <tr>
    <th class="span-3">Name</th>
    <th>Job</th>
    <th>Location</th>
    <th class="actions nosort"></th>
  </tr>

<% @gun_sheets.each do |gun_sheet| %>
  <tr>
    <td><%= link_to "Gun Sheet ##{gun_sheet.id}", private_gun_sheet_path(gun_sheet), :class => "show" %></td>
    <td><%= job_label(gun_sheet.job) %></td>
    <td></td>
    <td class="actions">
    <%= link_to 'Delete', private_gun_sheet_path(gun_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_gun_sheet_path(gun_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>