<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<hr>
<table>
<%= form_for @search do |f| %>
  <tr class="no-border"><td class="no-border right">
		<%= f.text_field :job_name_or_location_name_like %>
		<%= f.submit "Search" %><br>
		<em>Searched within job and location</em>
  </td></tr>
<% end %>
</table>

<%= will_paginate @time_sheets %>

<p class="hint">To create a new gun sheet, view the related Job and choose 'New Gun Sheet' from the sub-menu.</p>

<% form_tag private_gun_sheets_print_selected_path, :method => :post, :target => '_blank' do -%>
<input type="button" onclick="toggleCheckboxes(true)" value="Select All"/>
<input type="button" onclick="toggleCheckboxes(false)" value="Select None"/>
  <%= submit_tag "Print Selected", :style => "margin-bottom:10px;" %>
  <table class="sortable">
    <tr>
      <th></th>
      <th class="center number">#</th>
      <th class="span-2 center">Started</th>
      <th class="number">Job</th>
      <th class="number">Location</th>
      <th class="number">Created By</th>
      <th class="number">Truck</th>
      <th class="actions nosort"></th>
    </tr>

    <% @gun_sheets.each do |gun_sheet| %>
      <tr>
        <td>
          <%= check_box_tag 'gun_sheet_ids[]', gun_sheet.id %>
        </td>
        <td><%= gun_sheet.id %></td>
        <td><%= gun_sheet.started_on.strftime('%b-%d-%y') %></td>
        <td>
          <% if gun_sheet.job %>
            <%= job_label(gun_sheet.job) %>
            <%= link_to image_tag("open-link.png"), private_job_path(gun_sheet.job_id) %>
          <% end %>
        </td>
        <td><%= if gun_sheet.job_location : gun_sheet.job_location.name end %> <%= gun_sheet.location_name %></td>
        <td>
          <%= User.find(gun_sheet.created_by).name unless gun_sheet.created_by.blank? %>
        </td>
        <td><%= gun_sheet.equipment.try(:unit) { |u| u.unit } %></td>
        <td class="actions">
          <%= link_to "Delete", private_gun_sheet_path(gun_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
          <%= link_to "Edit", edit_private_gun_sheet_path(gun_sheet), :class => "edit" %>
          <%= link_to "Show", private_gun_sheet_path(gun_sheet), :class => "show" %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag "Print Selected" %>
<% end %>

<%= will_paginate @time_sheets %>

<script type="text/javascript" language="javascript">
	function toggleCheckboxes(checked_status) {

		var checkboxes = [];
		checkboxes = $$('input').each(function(e){ if(e.type == 'checkbox') checkboxes.push(e) });

		if(checked_status == true)
			checkboxes.each(function(e){ e.checked = 1 });
		else
			checkboxes.each(function(e){ e.checked = 0 });
	}

</script>
