<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Gun Sheets', private_gun_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <%= render :partial => 'menus/gun_sheets_menu', :layout => false %>
<% end %>

<table>
  <tr>
    <th colspan="2"><%= job_label(@gun_sheet.job) %></th>
  </tr>
  <tr class="odd">
    <td>Location</td>
    <td class="right"><%= @gun_sheet.job_location.try(:name) %> / <%= @gun_sheet.location_name %></td>
  </tr>
  <tr class="odd">
    <td>Started</td>
    <td class="right"><%= @gun_sheet.started_on.strftime("%B %d, %Y") rescue '' %>, <%= @gun_sheet.started_at.strftime("%H:%M") %></td>
  </tr>
  <tr class="even">
    <td>Completed</td>
    <td class="right"><%= @gun_sheet.completed_on.strftime("%B %d, %Y") rescue '' %>, <%= @gun_sheet.completed_at.strftime("%H:%M") rescue '' %></td>
  </tr>
  <tr class="odd">
    <td>Created On</td>
    <td class="right"><%= @gun_sheet.created_at.strftime("%B %d, %Y") %></td>
  </tr>
  <tr class="even">
    <td>Updated On</td>
    <td class="right"><%= @gun_sheet.updated_at.strftime("%B %d, %Y") %></td>
  </tr>
      <tr class="odd">
    <td>Created by</td>
    <td class="right"><%=  @name %></td>
  </tr>
    <tr class="even">
    <td>Equipment</td>
    <td class="right"><%= @gun_sheet.equipment.try(:name) {|p| p.name }  %></td>
  </tr>

</table>

<hr>

<h3>Comments</h3>
<p>
  <%= @gun_sheet.note %>
</p>

<hr>

<h3>Guns</h3>
<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="span-3 right">Y-1</th>
    <th class="span-3 right">Y-2</th>
    <th class="span-3 right">Y-3</th>
    <th class="span-3 right">W-4</th>
    <th class="span-3 right">W-5</th>
    <th class="span-3 right">W-6</th>
    <th class="span-3 right">W-7</th>
  </tr>
  <tr class="even">
    <td>Solid</td>
    <td class="right"><%= @gun_sheet.solid_y1 %> m</td>
    <td class="right"><%= @gun_sheet.solid_y2 %> m</td>
    <td class="right"><%= @gun_sheet.solid_y3 %> m</td>
    <td class="right"><%= @gun_sheet.solid_w4 %> m</td>
    <td class="right"><%= @gun_sheet.solid_w5 %> m</td>
    <td class="right"><%= @gun_sheet.solid_w6 %> m</td>
    <td class="right"><%= @gun_sheet.solid_w7 %> m</td>
  </tr>
  <tr class="odd">
    <td>Skip</td>
    <td class="right"><%= @gun_sheet.skip_y1 %> m</td>
    <td class="right"><%= @gun_sheet.skip_y2 %> m</td>
    <td class="right"><%= @gun_sheet.skip_y3 %> m</td>
    <td class="right"><%= @gun_sheet.skip_w4 %> m</td>
    <td class="right"><%= @gun_sheet.skip_w5 %> m</td>
    <td class="right"><%= @gun_sheet.skip_w6 %> m</td>
    <td class="right"><%= @gun_sheet.skip_w7 %> m</td>
  </tr>
</table>

<hr>

<h3>Markings</h3>
<table>
  <tr>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <% @gun_sheet.gun_markings.each do |marking| %>
    <tr>
      <td><%= marking.gun_marking_category.try(:name) %></td>
      <td><%= marking.amount %></td>
    </tr>
  <% end %>
</table>
