
<p><%= link_to "Edit This Gun Sheet", edit_private_gun_sheet_path(@gun_sheet) %></p>

<table>
  <tr>
    <th colspan="2"><%= job_label(@gun_sheet.job) %></th>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= if @gun_sheet.job_location : @gun_sheet.job_location.name end %> / <%= @gun_sheet.location_name %></td>
  </tr>
  <tr>
    <td>Started</td>
    <td class="right"><%= @gun_sheet.started_on.strftime("%B %d, %Y") %>, <%= @gun_sheet.started_at.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Completed</td>
    <td class="right"><%= if @gun_sheet.completed_on : @gun_sheet.completed_on.strftime("%B %d, %Y") end %>, <%= @gun_sheet.completed_at.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Created On</td>
    <td class="right"><%= @gun_sheet.created_at.strftime("%B %d, %Y") %></td>
  </tr>
  <tr>
    <td>Updated On</td>
    <td class="right"><%= @gun_sheet.updated_at.strftime("%B %d, %Y") %></td>
  </tr>
</table>

<% if @gun_sheet.note != '' %>
<hr />

<h3>Comments</h3>
<p>
  <%= @gun_sheet.note %>
</p>
<% end %>

<hr />

<h3>Guns</h3>

<table>
  <tr><th class="span-1">Solid</th><th class="span-1">Y1</th><td><%= @gun_sheet.solid_y1 %></td></tr>
  <tr class="even"><th>Skip</th><th>Y1</th><td><%= @gun_sheet.skip_y1 %></td></tr>

  <tr><th>Solid</th><th>Y2</th><td><%= @gun_sheet.solid_y2 %></td></tr>
  <tr class="even"><th>Skip</th><th>Y2</th><td><%= @gun_sheet.skip_y2 %></td></tr>

  <tr><th>Solid</th><th>Y3</th><td><%= @gun_sheet.solid_y3 %></td></tr>
  <tr class="even"><th>Skip</th><th>Y3</th><td><%= @gun_sheet.skip_y3 %></td></tr>

  <tr><th>Solid</th><th>W4</th><td><%= @gun_sheet.solid_w4 %></td></tr>
  <tr class="even"><th>Skip</th><th>W4</th><td><%= @gun_sheet.skip_w4 %></td></tr>

  <tr><th>Solid</th><th>W5</th><td><%= @gun_sheet.solid_w5 %></td></tr>
  <tr class="even"><th>Skip</th><th>W5</th><td><%= @gun_sheet.skip_w5 %></td></tr>

  <tr><th>Solid</th><th>W6</th><td><%= @gun_sheet.solid_w6 %></td></tr>
  <tr class="even"><th>Skip</th><th>W6</th><td><%= @gun_sheet.skip_w6 %></td></tr>

  <tr><th>Solid</th><th>W7</th><td><%= @gun_sheet.solid_w7 %></td></tr>
  <tr class="even"><th>Skip</th><th>W7</th><td><%= @gun_sheet.skip_w7 %></td></tr>
</table>

<% if @gun_sheet.gun_markings.length != 0 %>
<hr />

<h3>Markings</h3>
<table>
  <% @gun_sheet.gun_markings.each do |marking| %>
    <tr>
      <td><%= marking.gun_marking_category.try(:name) %>: <%= marking.amount %></td>
    </tr>
  <% end %>
</table>
<% end %>
