<tr class="item">
  <td class="title">
    <%= f.text_field :title, data: {autocomplete: @materials.map { |m| m.manufacturer.try(:name) }}, class: "span-7 autocomplete" %>
  </td>
  <td class="quantity">
    <%= f.number_field :quantity, class: "form-control", min: 0 %>
  </td>
  <td class="price">
    <%= f.number_field :price, class: "form-control estimate_unit_price", min: 0 %>
  </td>
  <td class="amount">
    <div class='total-price' style='text-align:center;width:80px;line-height: 30px;'></div>
    <%= f.hidden_field :total_price, min: 0 %>
  </td>
  <td>
    <a href="#" class="remove" data-confirm="Are you sure?">remove</a>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>
  </td>
</tr>
