<div class="container">
  <div class="span-11 append-1">
    <div class="append-bottom">
      <%= form.label :client_id %><br>
      <%= form.select :client_id, @clients.map {|u| [u.name,u.id]}, {}, class: "span-7" %>
    </div>

    <div class="append-bottom">
      <%= form.label :reference %><br>
      <%= form.text_field :reference, class: "span-7" %>
    </div>

    <div class="append-bottom">
      <%= form.label :estimate_date  %><br>
      <%= form.text_field :estimate_date, 'data-role' => 'datepicker' %>
    </div>

    <div class="append-bottom">
      <%= form.label :expiry_date  %><br>
      <%= form.text_field :expiry_date, 'data-role' => 'datepicker' %>
    </div>
    <div class="append-bottom">
      <label>Items Details</label>

      <table id="table_item">
        <thead>
        <tr>
          <th>Title&Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total price</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <%= form.nested_fields_for :estimate_items, show_empty: true do |f|
          if f
            render 'estimate_item', f: f
          else
            render 'estimate_item_none'
          end
        end -%>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3">Total Amount</th>
            <th colspan="2">
              <div class='total_amount'>0</div>
              <%= form.hidden_field :total_amount %>
            </th>
          </tr>
        </tfoot>
      </table>
      <a href="#" class="add">add Item</a>
    </div>
    <div class="append-bottom">
      <%= form.label :client_notes %><br>
      <%= form.text_area :client_notes, class: "span-10", rows: 4 %>
    </div>
    <div class="append-bottom">
      <%= form.label :terms_and_conditions %><br>
      <%= form.text_area :terms_and_conditions, class: "span-15", rows: 10 %>
    </div>
  </div>
</div>
<script type="text/javascript" language="javascript">
  function updateTable() {
    var sum = 0;
    jQuery("#table_item tbody tr").each(function(){
     el1 = Number(jQuery(this).find("td.quantity").find('input').val()) * Number(jQuery(this).find("td.price").find('input').val())
      jQuery(this).find("td").eq(3).find('input').val(el1);
      sum += Number(jQuery(this).find("td").eq(3).find('input').val());
    });
    jQuery('.total_amount').html(sum)
    jQuery('#job_estimate_total_amount').val(sum)
  };

  $$('tr.item input').each(function(element) {
    element.observe('keyup', updateTable);
  })
</script>

<script language="javascript">
  updateTable();
</script>
