<div class="form-group">
  <%= form.label :name_client %><br>
  <%= form.text_field :name_client, data: {autocomplete: @clients.map{|c| c.name }}, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :estimate %><br>
  <%= form.text_field :estimate, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :reference %><br>
  <%= form.text_field :reference, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :emails %><br>
  <%= form.text_field :emails, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :estimate_date  %><br>
  <%= form.text_field :estimate_date, 'data-role' => 'datepicker', class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :expiry_date  %><br>
  <%= form.text_field :expiry_date, 'data-role' => 'datepicker', class: 'form-control' %>
</div>
<div class="form-group">
  <label>Items Details</label>

  <table id="table_item" class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total price</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody class="nested_form">
    <%= form.nested_fields_for :estimate_items, show_empty: true do |f|
      if f
        render 'estimate_item', f: f
      else
        render 'estimate_item_none'
      end
    end -%>
    </tbody>
  </table>
  <a href="#" class="btn btn-primary add">Add Item</a>

  <table class="table total_amount_table">
    <tr>
      <td colspan="3" class="right span-14">Sub Total</td>
      <td colspan="2" class="right">
        <div class='sub_total'>0</div>
        <%= form.hidden_field :total_amount %>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="right span-14">Discount(%)</td>
      <td class="span-3 discount"><%= form.number_field :discount, class: 'span-3 right form-control', min: 0 %></td>
      <td class="center span-2"> - <span class='discount_sum'>0</span></td>
    </tr>
    <tr>
      <td colspan="3" class="right span-14">Shipping Charges</td>
      <td class="span-3"><%= form.number_field :shipping_charges, class: 'span-3 right form-control', min: 0 %></td>
      <td class="center span-2"><span class='shipping_sum'>0</span></td>
    </tr>
    <tr>
      <td colspan="3" class="right span-14">Total</td>
      <td colspan="2" class="right">
        <span class='total_sum'>0</span>
        <%= form.hidden_field :sub_total_amount %>
      </td>
    </tr>
  </table>
</div>
<p>
  <%= label_tag :job_estimate_assets, "Attachment" %><br>
  <%= file_field_tag('job_estimate_assets_image', multiple: true, name: "job_estimate[assets_attributes][][image]") %>
</p>

<div class="form-group">
  <%= form.label :client_notes %><br>
  <%= form.text_area :client_notes, class: 'form-control', rows: 4 %>
</div>
<div class="form-group">
  <%= form.label :terms_and_conditions %><br>
  <%= form.text_area :terms_and_conditions, class: 'form-control', rows: 10 %>
</div>
