<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= content_for :breadcrumb do %>
      <ul id="breadcrumb">
        <li><%= link_to 'Dashboard', private_home_path %></li>
        <li>»</li>
        <li><%= link_to 'Job Estimates', private_job_estimates_path %></li>
        <li>»</li>
        <li><%= @page_title %></li>
      </ul>
    <% end %>

    <%= content_for :submenu do %>
      <% if permitted_to? :create, :private_job_estimates -%>
        <li><%= active_link_to 'New Job Estimate', new_private_job_estimate_path %></li>
      <% end %>
    <% end %>

    <%= form_for @job_estimate, url: private_job_estimates_path, html: {multipart: true, class: 'job_estimate'} do |f| %>
      <%= f.error_messages %>
      <%= render partial: "form", object: f %>
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= f.submit "Save & Send", name: 'save_and_send', class: 'btn btn-primary' %>
      or <%= link_to 'Cancel', private_job_estimates_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
