<% if permitted_to?(:edit, :private_job_estimates) and !in_mobile_view? %>
  <div class="show_actions">
    <%= link_to "Edit", edit_private_job_estimate_path(@job_estimate.id), class: "edit" %>
    <%= link_to "Delete", private_job_estimate_path(@job_estimate.id), confirm: 'Are you sure? This cannot be undone!', method: :delete, class: "delete" %>
  </div>
<% end %>

<div class="container">
  <%= content_for :breadcrumb do %>
    <ul id="breadcrumb">
      <li><%= link_to 'Dashboard', private_home_path %></li>
      <li>»</li>
      <li><%= link_to 'Job Estimates', private_job_estimates_path %></li>
      <li>»</li>
      <li><%= @page_title %></li>
    </ul>
  <% end %>
  <%= content_for :submenu do %>
    <% if permitted_to? :create, :private_job_estimates -%>
      <li><%= active_link_to 'New Job Estimate', new_private_job_estimate_path %></li>
    <% end %>
  <% end %>
  <hr>
  <table>
    <tr>
      <th class="span-4">Client</th>
      <td style="border-top: solid 1px #ccc"><%= aaa_highlight(@job_estimate.client.try(:name)) %></td>
    </tr>
    <tr>
      <th class="span-4">Reference</th>
      <td><%= @job_estimate.reference %></td>
    </tr>
    <tr>
      <th class="span-4">Client notes</th>
      <td><%= @job_estimate.client_notes %></td>
    </tr>
    <tr>
      <th class="span-4">Terms and Conditions</th>
      <td><%= @job_estimate.terms_and_conditions %></td>
    </tr>
    <tr>
      <th class="span-4">Estimate</th>
      <td><%= @job_estimate.estimate_date.strftime("%B %d, %Y") %></td>
    </tr>
    <tr>
      <th class="span-4">Expiry Date</th>
      <td><%= @job_estimate.expiry_date.strftime("%B %d, %Y") %></td>
    </tr>
    <tr>
      <th class="span-4">Total amount</th>
      <td><%= @job_estimate.total_amount %></td>
    </tr>
  </table>

  <h2>Item Details</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
    <% @job_estimate.estimate_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price %></td>
        <td><%= item.total_price %></td>
      </tr>
    <% end %>
  </table>
</div>
