<% if permitted_to?(:edit, :private_job_estimates) and !in_mobile_view? %>
  <div class="show_actions">
    <%= link_to "Edit", edit_private_job_estimate_path(@job_estimate.id), class: "btn btn-warning" %>
    <%= link_to "Delete", private_job_estimate_path(@job_estimate.id), confirm: 'Are you sure? This cannot be undone!', method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= content_for :breadcrumb do %>
    <ul id="breadcrumb">
      <li><%= link_to 'Dashboard', private_home_path %></li>
      <li>»</li>
      <li><%= link_to 'Job Estimates', private_job_estimates_path %></li>
      <li>»</li>
      <li><%= @page_title %></li>
    </ul>
  <% end %>
  <%= content_for :submenu do %>
    <% if permitted_to? :create, :private_job_estimates -%>
      <li><%= active_link_to 'New Job Estimate', new_private_job_estimate_path %></li>
    <% end %>
  <% end %>
  <hr>
  <table class='table table-hover'>
    <tr>
      <th class="col-md-2">Client</th>
      <td style="border-top: solid 1px #ccc"><%= @job_estimate.name_client %></td>
    </tr>
    <tr>
      <th class="col-md-2">Reference</th>
      <td><%= @job_estimate.reference %></td>
    </tr>
    <tr>
      <th class="col-md-2">Emails</th>
      <td><%= @job_estimate.emails %></td>
    </tr>
    <tr>
      <th class="col-md-2">Estimate Date</th>
      <td><%= @job_estimate.estimate_date ? @job_estimate.estimate_date.strftime("%B %d, %Y") : 'Estimate Date missing' %></td>
    </tr>
    <tr>
      <th class="col-md-2">Expiry Date</th>
      <td><%= @job_estimate.expiry_date ? @job_estimate.expiry_date.strftime("%B %d, %Y") : 'Expiry Date missing' %></td>
    </tr>
  </table>

  <h2>Item Details</h2>
  <table class='table table-hover'>
    <tr>
      <th class='col-md-9'>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
    <% @job_estimate.estimate_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td class="center"><%= item.quantity %></td>
        <td class="center"><%= item.price %></td>
        <td class="right"><%= item.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2" class="right">Sub Total</td>
      <td colspan="2" class="right"><%= @job_estimate.sub_total_amount %></td>
    </tr>
    <tr>
      <td colspan="2" class="right">Discount(<%= @job_estimate.discount %>%)</td>
      <td colspan="2" class="right"> -<%= @job_estimate.sub_total_amount * @job_estimate.discount / 100 %></td>
    </tr>
    <tr>
      <td colspan="2" class="right">Shipping Charge</td>
      <td colspan="2" class="right"><%= @job_estimate.shipping_charges %></td>
    </tr>
    <tr>
      <td colspan="2" class="right">Total</td>
      <td colspan="2" class="right"><%= @job_estimate.total_amount %></td>
    </tr>
  </table>
  <p>Notes</p>
  <div><%=simple_format @job_estimate.client_notes %></div>

  <p>Terms & Conditions</p>
  <div><%=simple_format @job_estimate.terms_and_conditions %></div>

  </div>
</div>
