<div class="container">
<div class="span-6 append-bottom">
  <%= form.label :date, "Date" %><br>
  <%= form.date_select :date %>
</div>

<div class="span-10 append-bottom">
  <%= form.label :equipment_id, "Equipment" %><br>
  <%= form.select :equipment_id, @equipment.map {|u| ["#{u.unit} - #{u.name}",u.id]}, :include_blank => false %>
</div>

<div class="span-8 last append-bottom">
  <% if @crew && @crew.jobs.length != 0 %>
    <%= form.label :job_id, "Job" %><br>
    <%= form.select :job_id, @crew.jobs.map {|u| [job_label(u),u.id]}, :include_blank => true, :selected => params[:job_id] %>
  <% else %>
    <p class='error'>You cannot assign this load sheet to a job. This is either because you have no crew, or your crew has no jobs.</p>
  <% end %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :location_name, "Specific Location" %><br>
  <%= form.text_field :location_name, :class => "span-6" %>
</div>

<div class="span-18 last append-bottom">
  <%= form.label :note, "Additional Comments" %><br>
  <%= form.text_field :note, :class => "span-18" %>
</div>

<hr>

<h3>Material Usage</h3>
<div class="span-18">
  <%= form.fields_for :load_entries do |builder| %>
    <%= render 'load_entry_fields', :form => builder %>
  <% end %>

  <p><%= link_to_add_fields "Add Another Material", form, :load_entries %></p>
</div>

<div class="span-6 last">
  <div class="span-3 append-bottom">
    <%= form.label :yellow_dip_start, "Start Dip Yellow" %><br>
    <%= form.text_field :yellow_dip_start, :class => "span-3", :required => true %>
  </div>

  <div class="span-3 last append-bottom">
    <%= form.label :yellow_dip_end, "End Dip Yellow" %><br>
    <%= form.text_field :yellow_dip_end, :class => "span-3", :required => true %>
  </div>

  <hr>

  <div class="span-3 append-bottom">
    <%= form.label :white_dip_start, "Start Dip White" %><br>
    <%= form.text_field :white_dip_start, :class => "span-3", :required => true %>
  </div>

  <div class="span-3 last append-bottom">
    <%= form.label :white_dip_end, "End Dip White" %><br>
    <%= form.text_field :white_dip_end, :class => "span-3", :required => true %>
  </div>

</div>
    </div>
