<table class="sortable">
  <tr>
    <th class="center number">#</th>
    <th class="center">Date</th>
    <th class="number">Job</th>
    <th>Equipment</th>
    <th>Location</th>
    <th class="actions nosort"></th>
  </tr>

<% @load_sheets.each do |load_sheet| %>
  <tr>
    <td><%= load_sheet.id %></td>
    <td><%= load_sheet.date.strftime('%b-%d-%y') %></td>
    <td>
      <% if load_sheet.job %>
        <%= aaa_highlight(job_label(load_sheet.job)) %>
        <%= link_to image_tag("open-link.png"), private_job_path(load_sheet.job_id) %>
      <% end %>
    </td>
    <td><%= aaa_highlight(load_sheet.equipment.try(:name)) %></td>
    <td><%= aaa_highlight(load_sheet.location_name) %></td>
    <td class="actions">
    <%= link_to "Delete", private_load_sheet_path(load_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_load_sheet_path(load_sheet), :class => "edit" %>
    <%= link_to "Show", private_load_sheet_path(load_sheet), :class => "show" %>
    </td>
  </tr>
<% end %>
</table>
