<div class="span-8 append-bottom">
  <%= form.label :material_id, "Material" %><br>
  <%= form.select :material_id, @materials.map {|u| ["#{u.category} #{u.manufacturer.try(:abbreviation)} Batch ##{u.batch}",u.id]}, :include_blank => true %>
</div>

<div class="span-2 append-bottom">
  <%= form.label :tote_number, "Tote #" %>
  <%= form.text_field :tote_number, :class => "span-2" %>
</div>

<div class="span-2 append-bottom last">
  <%= form.label :tote_quantity, "Tote Qty" %>
  <%= form.text_field :tote_quantity, :class => "span-2" %>
</div>

<br class="clear">
