<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New Load Sheet', new_private_load_sheet_path %></p>

<table class="sortable">
  <tr>
    <th class="span-3">Name</th>
    <th>Equipment</th>
    <th>Job #</th>
    <th>Location</th>
    <th class="actions nosort"></th>
  </tr>

<% @load_sheets.each do |load_sheet| %>
  <tr>
    <td><%= link_to "Load Sheet ##{load_sheet.id}", private_load_sheet_path(load_sheet), :class => "show" %></td>
    <td><%= if load_sheet.equipment : load_sheet.equipment.name end %></td>
    <td><%= load_sheet.job_id %></td>
    <td><%= if load_sheet.location : load_sheet.location.name end %></td>
    <td class="actions">
    <%= link_to 'Delete', private_load_sheet_path(load_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_load_sheet_path(load_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>