<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <% if permitted_to? :create, :private_load_sheets -%>
  <ol>
    <li><%= active_link_to 'New Load Sheet', new_private_load_sheet_path %></li>
  </ol>
  <% end %>
<% end %>

<table class="sortable">
  <tr>
    <th class="span-2 center number">#</th>
    <th class="span-2 center">Date</th>
    <th class="number">Job</th>
    <th>Equipment</th>
    <th>Location</th>
    <th class="actions nosort"></th>
  </tr>

<% @load_sheets.each do |load_sheet| %>
  <tr>
    <td><%= link_to load_sheet.id, private_load_sheet_path(load_sheet), :class => "show" %></td>
    <td><%= load_sheet.date.strftime('%b-%d-%y') %></td>
    <td><%= if load_sheet.job_id : (link_to job_label(load_sheet.job), private_job_path(load_sheet.job), :class => "show") end %></td>
    <td><%= if load_sheet.equipment : load_sheet.equipment.name end %></td>
    <td><%= load_sheet.location_name %></td>
    <td class="actions">
    <%= link_to 'Delete', private_load_sheet_path(load_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_load_sheet_path(load_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>