<div class="container">
<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Load Sheets', private_load_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <% if permitted_to? :create, :private_load_sheets -%>
  <ol>
    <li><%= active_link_to 'New Load Sheet', new_private_load_sheet_path %></li>
  </ol>
  <% end %>
<% end %>

<% form_for [:private, @load_sheet] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <br class="clear">
  <hr>
  <%= f.submit "Create Load Sheet" %> or <%= link_to 'Cancel', private_home_path %>
<% end %>
</div>