<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Load Sheets', private_load_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <%= render :partial => 'menus/load_sheets_menu', :layout => false %>
<% end %>

<table>
  <tr>
    <th colspan="2"><%= job_label(@load_sheet.job) %></th>
  </tr>
  <tr class="odd">
    <td>Truck</td>
    <td class="right"><%= @load_sheet.equipment.try(:unit) || "Not Selected" %></td>
  </tr>
  <tr class="even">
    <td>Location</td>
    <td class="right"></td>
  </td>
  <tr class="odd">
    <td>Worked On</td>
    <td class="right"><%= @load_sheet.date.strftime("%B %d, %Y") %></td>
  </tr>
  <tr class="even">
    <td>Created On</td>
    <td class="right"><%= @load_sheet.created_at.strftime("%B %d, %Y") %></td>
  </tr>
  <tr class="odd">
    <td>Updated On</td>
    <td class="right"><%= @load_sheet.updated_at.strftime("%B %d, %Y") %></td>
  </tr>
</table>

<hr>

<h3>Comments</h3>
<p>
  <%= @load_sheet.note %>
</p>

<hr>

<h3>Load Sheet Entries</h3>
<table>
  <tr>
    <th>Category</th>
    <th>Manufacturer</th>
    <th>Batch #</th>
    <th>Tote #</th>
    <th class="right">Tote Qty</th>
    <th class="right">Amount</th>
  </tr>
  <% @load_sheet.load_entries.each do |entry| %>
  <% if entry %>
    <tr>
      <td><%= entry.category %></td>
      <td><%= entry.material.manufacturer.name rescue '' %></td>
      <td><%= entry.material.try(:batch) %></td>
      <td><%= entry.tote_number %></td>
      <td class="right"><%= entry.tote_quantity %></td>
      <td class="right"><%= entry.amount %> <%= if entry.category == "Bead" then "KG" else "L" end %></td>
    </tr>
    <% end %>
  <% end %>

</table>

<hr>

<h3>Dips</h3>
<table>
  <tr>
    <th>&nbsp;</th>
    <th class="right">Start</th>
    <th class="right">End</th>
  </tr>
  <tr class="even">
    <td>Yellow</td>
    <td class="right"><%= @load_sheet.yellow_dip_start %> cm</td>
    <td class="right"><%= @load_sheet.yellow_dip_end %> cm</td>
  </tr>
  <tr class="odd">
    <td>White</td>
    <td class="right"><%= @load_sheet.white_dip_start %> cm</td>
    <td class="right"><%= @load_sheet.white_dip_end %> cm</td>
  </tr>
</table>
