<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New client', new_private_client_path %></p>

<table class="sortable" id="clients_index">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Fax</th>
  </tr>

<% @clients.each do |client| %>
  <tr onclick="window.location='<%= private_client_path(client.id) %>'">
    <td><%= client.name %></td>
    <td><%= client.address %> <%= client.city %> <%= client.province %> <%= client.postal_code %></td>
    <td><%= [client.work_phone, client.cell_phone].join('<br>').html_safe %></td>
    <td><%= client.fax %></td></td>
  </tr>
<% end %>
</table>
