<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<hr>

<table class="sortable">
  <tr>
    <th class="center number">Job #</th>
    <th>Job Name</th>
    <th>&nbsp;</th>
    <th class="actions nosort"></th>
  </tr>
<% i = 0 %>
<% @jobs.each do |job| %>

  <% if i == 18 %>
    <tr class="hidden print-break">
      <th class="center">Job #</th>
      <th>Job Name</th>
      <th>&nbsp;</th>
      <th class="actions"></th>
    </tr>
    <% i = 0 %>
  <% else %>
    <% i += 1 %>
  <% end %>

  <tr>
    <td><%= job.id %></td>
    <td><%= job.name %></td>
    <td><%= hlpRsummaries_reconciliation_summary_action_link(job) %></td>
    <td class="actions">
      <%= link_to "Show", private_job_path(job), :class => "show" %>
    </td>
  </tr>
<% end %>
</table>
