<div class="container">

  <% content_for :submenu do %>
    <%= render :partial => 'menus/jobs_menu', :layout => false %>
  <% end %>


  <h3><%= "Reconciliation Summary (Job ##{@job.id} - #{@job.name})" %></h3>

  <table>
    <tr>
      <th>Marking</th>
      <th>Expected Production</th>
      <th>Actual Production</th>
      <th>Difference</th>
      <th>% Comp</th>
    </tr>
    <% @job.job_markings.each_with_index do |marking,index| %>
      <tr>
        <td>
          <%= "##{marking.id} (#{marking.gun_marking_category.name if marking.gun_marking_category})" %>
        </td>
        <td>
          <%= marking.amount %>
        </td>
        <td>
          <%= marking.actual_production %>
        </td>
        <td>
          <%= marking.amount - marking.actual_production %>
        </td>
        <td>
          <%= number_to_percentage(100 * marking.actual_production/marking.amount, :precision => 0) %>
        </td>
      </tr>
    <% end %>
  </table>

  <h3>Gun Sheets</h3>

  <% if permitted_to? :show, :private_gun_sheets -%>
    <% @job.gun_sheets.each do |gun_sheet| %>
      <h4><%= link_to gun_sheet.label, private_gun_sheet_path(gun_sheet), :class => "show plain" %></h4>
      <table>
        <tr>
          <th>Category</th>
          <th width="50%">Amount</th>
        </tr>
        <% gun_sheet.gun_markings.each do |marking| %>
          <tr>
            <td><%= if marking.gun_marking_category : marking.gun_marking_category.name end %></td>
            <td><%= marking.amount %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>

</div>
