<div class="container">

  <% content_for :breadcrumb do %>
    <ul id="breadcrumb">
      <li><%= link_to 'Dashboard', private_home_path %></li>
      <li>»</li>
      <li><%= link_to 'Jobs', private_jobs_path %></li>
      <li>»</li>
      <li><%= link_to @job.label, private_job_path(@job.id) %></li>
      <li>»</li>
      <li><%= @page_title %></li>
    </ul>
  <% end %>

  <% content_for :submenu do %>
    <%= render :partial => 'menus/jobs_menu', :layout => false %>
  <% end %>


  <h3><%= "Reconciliation Summary (Job ##{@job.id} - #{@job.name})" %></h3>

  <table>
    <tr>
      <th>Marking</th>
      <th>Expected Production</th>
      <th>Actual Production</th>
      <th>Difference</th>
    </tr>
    <% @job.job_markings.each_with_index do |marking,index| %>
      <tr>
        <td>
          <%= "##{marking.id} (#{marking.gun_marking_category.name if marking.gun_marking_category})" %>
        </td>
        <td>
          <%= marking.amount %>
        </td>
        <td>
          <%= marking.actual_production %>
        </td>
        <td>
          <%= marking.amount - marking.actual_production %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if permitted_to? :show, :private_gun_sheets -%>
  <br><br>

  <h3>Gun Sheets</h3>

  <table class="sortable">
    <tr>
      <th>Gun Sheet</th>
      <th>Category</th>
      <th>Amount</th>
    </tr>
    <% @job.gun_sheets.each do |gun_sheet| %>
      <% if gun_sheet.gun_markings.size != 0 %>
        <% gun_sheet.gun_markings.each do |marking| %>
          <tr>
            <td><%= link_to gun_sheet.label, private_gun_sheet_path(gun_sheet), :class => "show plain" %></td>
            <td><%= if marking.gun_marking_category : marking.gun_marking_category.name end %></td>
            <td><%= marking.amount %></td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td><%= link_to gun_sheet.label, private_gun_sheet_path(gun_sheet), :class => "show plain" %></td>
        <td>-</td>
        <td>-</td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <% end %>

</div>
