<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Material Reports', private_material_report_summaries_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/jobs_menu', :layout => false %>
<% end %>

<table>
  <tr>
    <th class="span-3">Job</th>
    <td colspan="2" style="border-top: solid 1px #ccc">
      <%= @job.label %>
      <%= link_to image_tag("open-link.png"), private_job_path(@job), :class => "noprint" %>
    </td>
  </tr>
  <tr>
    <th "span-3">Gun Sheets</th>
    <td>
      <table>
        <% @job.gun_sheets.each do |gun_sheet| %>
          <tr>
            <td>
              <%= gun_sheet.label %>
              <%= link_to image_tag("open-link.png"), edit_private_gun_sheet_path(gun_sheet), :class => "noprint" %>
            </td>
            <td>
              <% if gun_sheet.equipment_id %>
                <%= gun_sheet.equipment.name %>
                <%= link_to image_tag("open-link.png"), edit_private_equipment_path(gun_sheet.equipment), :class => "noprint" %><br />
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <th class="span-3">Load Sheets</th>
    <td>
      <table>
        <% @job.load_sheets.each do |load_sheet| %>
          <tr>
            <td>
              <%= load_sheet.label %>
              <%= link_to image_tag("open-link.png"), edit_private_load_sheet_path(load_sheet), :class => "noprint" %>
            </td>
            <td>
              <% if load_sheet.equipment %>
                <%= load_sheet.equipment.name %>
                <%= link_to image_tag("open-link.png"), edit_private_equipment_path(load_sheet.equipment), :class => "noprint" %><br />
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>

</table>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Y-1</th>
    <th class="right">Y-2</th>
    <th class="right">Y-3</th>
    <th class="right">W-4</th>
    <th class="right">W-5</th>
    <th class="right">W-6</th>
    <th class="right last">W-7</th>
  </tr>
  <tr>
    <th class="span-3">Solid</th>
    <td class="right"><%= @job.solid_y1_sum %></td>
    <td class="right"><%= @job.solid_y2_sum %></td>
    <td class="right"><%= @job.solid_y3_sum %></td>
    <td class="right"><%= @job.solid_w4_sum %></td>
    <td class="right"><%= @job.solid_w5_sum %></td>
    <td class="right"><%= @job.solid_w6_sum %></td>
    <td class="right"><%= @job.solid_w7_sum %></td>
  </tr>
  <tr>
    <th class="span-3">Skip</th>
    <td class="right"><%= @job.skip_y1_sum %></td>
    <td class="right"><%= @job.skip_y2_sum %></td>
    <td class="right"><%= @job.skip_y3_sum %></td>
    <td class="right"><%= @job.skip_w4_sum %></td>
    <td class="right"><%= @job.skip_w5_sum %></td>
    <td class="right"><%= @job.skip_w6_sum %></td>
    <td class="right"><%= @job.skip_w7_sum %></td>
  </tr>
    <tr>
      <th class="span-3">Total</th>
      <td class="right"><%= @job.solid_y1_sum + @job.skip_y1_sum %></td>
      <td class="right"><%= @job.solid_y2_sum + @job.skip_y2_sum %></td>
      <td class="right"><%= @job.solid_y3_sum + @job.skip_y3_sum %></td>
      <td class="right"><%= @job.solid_w4_sum + @job.skip_w4_sum %></td>
      <td class="right"><%= @job.solid_w5_sum + @job.skip_w5_sum %></td>
      <td class="right"><%= @job.solid_w6_sum + @job.skip_w6_sum %></td>
      <td class="right"><%= @job.solid_w7_sum + @job.skip_w7_sum %></td>
    </tr>
</table>

<br>

<table>
  <tr>
    <th class="span-3">&nbsp;</th>
    <th class="right">Total Used</th>
    <th class="right">Solid+Skip Line KM</th>
    <th class="right">Used/Line KM</th>
    <th class="right">Target</th>
  </tr>
  <tr>
    <th>Yellow</th>
    <td class="right"><span id="summary_total_yellow_used"></span> L</td>
    <td class="right" id="summary_yellow_length"><%= @job.summary_yellow_length %></td>
    <td class="right" id="summary_yellow_calculation"></td>
    <td class="right">38 L/KM</td>
  </tr>

  <tr>
    <th>White</th>
    <td class="right"><span id="summary_total_white_used"></span> L</td>
    <td class="right" id="summary_white_length"><%= @job.summary_white_length %></td>
    <td class="right" id="summary_white_calculation"></td>
    <td class="right">38 L/KM</td>
  </tr>

  <tr>
    <th>Bead</th>
    <td class="right"><span id="summary_bead_used"></span> KG</td>
    <td class="right" id="summary_bead_length"><%= @job.summary_bead_length %></td>
    <td class="right" id="summary_bead_calculation"></td>
    <td class="right">22.2 KG/KM</td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>Production</th>
    <th class="right">Amount</th>
  </tr>
  <tr>
    <td>Interchanges</td>
    <td class="right"><%= @job.total_interchanges %></td>
  </tr>
  <tr>
    <td>Sides</td>
    <td class="right"><%= @job.total_sides %></td>
  </tr>
</table>
