<table>
  <tr>
    <td><%= form.label :time_note_category_id, "Comment" %></td>
    <td><%= form.select (:time_note_category_id, @time_note_categories.map {|u| [u.name,u.id]}) %></td>
  </tr>
  <tr>
    <td><%= form.label :note, "Details" %></td>
    <td><%= form.text_field :note, :size => "25" %></td>
  </tr>
  <tr>
    <td><%= form.label :note, "Per Diem" %></td>
    <td><%= form.radio_button "per_diem", true %> Yes
    <%= form.radio_button "per_diem", false, :checked => true %> No</td>
  </tr>
  <tr>
    <td><%= form.label :fuel, "Purchased Fuel Liters" %></td>
    <td><%= form.text_field :fuel, :size => "10", :value => "0" %></td>
  </tr>
  <tr>
    <td><%= form.label :hotel, "Hotel Cost" %></td>
    <td><%= form.text_field :hotel, :size => "10", :value => "0" %></td>
  </tr>
  <tr>
  <td><%= form.label :lunch, "Lunch Break" %></td>
  <td><%= form.select ("lunch", @lunch_selections.map {|u| ["#{u} Minutes", u]}, :include_blank => false, :selected => "30") %></td>
  </tr>
</table>

<hr />

<h3>Tasks</h3>
<p>Describe what you did, from the beginning of the day to the end.</p>

<table>
<tr>
<td colspan="2"><hr /></td>
</tr>

<% form.fields_for :time_tasks do |builder| %>
  <%= render 'time_task_fields', :form => builder %>
<% end %>

</table>

<hr>

<h3>Time Spent per Job</h3>
<p>Estimate the amount of time spent on each job. Do not include travel time.</p>
<table>
  <tr>
    <th class="span-2">Time</th>
    <th>Job</th>
  </tr>
<% i = 0 %>
<% @jobs.each do |job| %>
<% i += 1 %>
<tr class="<%= cycle 'odd', 'even' %>">
  <td><%= text_field_tag "estimates[#{i}][hours]", nil, :class => "span-1" %> hrs</td>
  <td><%= job.label %> <%= hidden_field_tag "estimates[#{i}][job_id]", job.id %></td>
</tr>
<% end %>
</table>

<hr />

<h3>Users</h3>
<p>Select the users who should be included as part of this time sheet.</p>
<%- if @entries -%>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th class="right">Clock In</th>
    <th class="right">Clock Out</th>
    <th class="right">S/T</th>
    <th class="right">O/T</th>
  </tr>
  <%- @entries.each do |entry| -%>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td>
      <%- if entry.clock_in && entry.clock_out && entry.active && entry.time_sheet_id == nil -%>
        <%= check_box_tag "time_entry_ids[]", entry.id, :checked => true -%>
      <%- else %>
        <%= check_box_tag "user", "active", false, :disabled => true -%>
      <%- end -%>
    </td>
    <td><%= entry.user.name if entry.user %></td>
    <td class="right"><%= if entry.clock_in : entry.clock_in.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.clock_out : entry.clock_out.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.straight_time != 0 : "#{sprintf("%.2f", entry.straight_time)}" else '-' end %></td>
    <td class="right"><%= if entry.over_time != 0 : "#{sprintf("%.2f", entry.over_time)}" else '-' end %></td>
  </tr>
  <%- end -%>
</table>
<%- end -%>