<div class="container">
<div class="span-14 last append-bottom">
  <%= form.label :note, "Comments" %><br>
  <%= form.text_field :note, :class => "span-14" %>
</div>

<br class="clear">

<div class="span-4 append-bottom">
  <%= form.label :fuel, "Purchased Fuel Litres" %><br>
  <%= form.text_field :fuel, :class => "span-4", :required => true, :type => :number, :step => 'any' %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :hotel, "Hotel Cost" %><br>
  <%= form.text_field :hotel, :class => "span-4", :required => true, :type => :number, :step => 'any' %>
</div>

<div class="span-4 append-bottom">
  <%= form.label :per_diem_percent, "Apply per diem" %><br>
  <%= form.radio_button "per_diem_percent", 1 %> Full Day<br>
  <%= form.radio_button "per_diem_percent", 0.5 %> Half Day<br>
  <%= form.radio_button "per_diem_percent", 0, :checked => true %> None
</div>

<div class="span-4 append-bottom">
  <%= form.label :lunch, "Lunch Break" %><br>
  <%= form.select "lunch", @lunch_selections.map {|u| ["#{u} Minutes", u]}, :include_blank => false %>
</div>

<hr>

<%#= render :partial => 'time_task_fields', :locals => {:form => form} %>

<br>

<h3>Time Spent per Job</h3>
<p>Estimate the amount of time spent on each job. Do not include travel time.</p>
<table class="no-right-border">
  <tr>
    <th class="span-2">Time</th>
    <th>Job</th>
    <% if @estimates -%>
    <th>&nbsp;</th>
    <% end %>
  </tr>
  <% if @estimates -%>
    <% @estimates.each do |estimate| -%>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= estimate.hours %> hrs</td>
        <td><%= estimate.job.label %></td>
        <td class="right">
          <% if permitted_to? :manage, :private_estimates -%>
            <%= link_to 'Edit', edit_private_estimate_url(estimate) %>
          <% end %>
        </td>
      </tr>
    <% end -%>
  <% end %>

  <% if @jobs %>
    <% i = 0 %>
    <% @jobs.each do |job| %>
      <% i += 1 %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= text_field_tag "estimates[#{i}][hours]", nil, :class => "span-1" %> hrs</td>
        <td><%= job.label %> <%= hidden_field_tag "estimates[#{i}][job_id]", job.id %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br>

<h3>Users</h3>
<p>Select the users who should be included as part of this time sheet.</p>
<%- if @entries -%>
<table class="no-right-border">
  <tr>
    <th class="span-2">&nbsp;</th>
    <th>Name</th>
    <th class="right">Clock In</th>
    <th class="right">Clock Out</th>
    <th class="right">Hours</th>
  <% unless @time_sheet.new_record?%>
    <% if permitted_to? :manage, :private_time_entries -%>
  <% end %>
    <th>&nbsp;</th>
  <% end %>
  </tr>
  <%- @entries.each do |entry| -%>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td>
      <%- if entry.clock_in && entry.clock_out && entry.active && entry.time_sheet_id == nil -%>
        <%= check_box_tag "time_entry_ids[]", entry.id, :checked => true -%>
      <%- else %>
        <%= check_box_tag "user", "active", true, :disabled => true -%>
      <%- end -%>
    </td>
    <td><%= entry.user.try(:name) || entry.user_id %></td>
    <td class="span-5 right"><%= entry.clock_in.strftime( '%Y-%m-%d %I:%M %p') rescue '-' %></td>
    <td class="span-5 right"><%= entry.clock_out.strftime('%Y-%m-%d %I:%M %p') rescue '-' %></td>
    <td class="right"><%= sprintf("%.2f", entry.hours) %></td>
  <% unless @time_sheet.new_record? %>
  <% if permitted_to? :manage, :private_time_entries -%>
    <td class="right">
      <%= link_to 'Edit', edit_private_time_entry_url(entry) %>
    </td>
  <% end %>
  <% end %>
  </tr>
  <%- end -%>
</table>
<%- end -%>
</div>
