<div class="span-6 append-bottom">
  <%= form.label :time_note_category_id, "Comment" %><br>
  <%= form.select (:time_note_category_id, @time_note_categories.map {|u| [u.name,u.id]}) %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :note, "Additional Comments" %><br>
  <%= form.text_field :note, :class => "span-5" %>
</div>

<div class="span-4 append-bottom">
  <%= form.label :note, "Apply per diem" %><br>
  <%= form.radio_button "per_diem", true %> Yes
  <%= form.radio_button "per_diem", false, :checked => true %> No
</div>

<div class="span-4 append-bottom">
  <%= form.label :fuel, "Purchased Fuel Liters" %><br>
  <%= form.text_field :fuel, :class => "span-4" %>
</div>

<div class="span-4 last append-bottom">
  <%= form.label :hotel, "Total Hotel Cost" %><br>
  <%= form.text_field :hotel, :class => "span-4" %>
</div>

<hr>

<h3>Tasks</h3>
<p>Fill out a detailed summary of what you did today.</p>

<% form.fields_for :time_tasks do |builder| %>
  <%= render 'time_task_fields', :form => builder %>
<% end %>

<br class="clear">

<div class="append-bottom">
  <%= form.label :lunch, "Lunch Break" %><br>
  <%= form.select ("lunch", @lunch_selections.map {|u| ["#{u} Minutes", u]}, :include_blank => false, :selected => "30") %>
</div>

<hr>

<h3>Users</h3>
<p>Select the Clock In / Clock Out entries that should be included with this time sheet. Note that the paid Time will be reduced by the Lunch Break length.</p>
<%- if @entries -%>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th class="right">Clock In</th>
    <th class="right">Clock Out</th>
    <th class="right">S/T</th>
    <th class="right">O/T</th>
    <th class="right">T/T</th>
    <th>Note</th>
  </tr>
  <%- @entries.each do |entry| -%>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td>
      <%- if entry.clock_in && entry.clock_out && entry.active && entry.time_sheet_id == nil -%>
        <%= check_box_tag "time_entry_ids[]", entry.id, :checked => true -%>
      <%- else %>
        <%= check_box_tag "user", "active", false, :disabled => true -%>
      <%- end -%>
    </td>
    <td><%= entry.user.name %></td>
    <td class="right"><%= if entry.clock_in : entry.clock_in.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.clock_out : entry.clock_out.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.straight_time != 0 : "#{sprintf("%.2f", entry.straight_time)} Hours" else '-' end %></td>
    <td class="right"><%= if entry.over_time != 0 : "#{sprintf("%.2f", entry.over_time)} Hours" else '-' end %></td>
    <td class="right"><%= if entry.hours != 0 : "#{sprintf("%.2f", entry.hours)} Hours" else '-' end %></td>
    <td><%= entry.note %></td>
  </tr>
  <%- end -%>
</table>
<%- end -%>