<table>
  <tr>
    <td><%= form.label :time_note_category_id, "Comment" %></td>
    <td><%= form.select (:time_note_category_id, @time_note_categories.map {|u| [u.name,u.id]}) %></td>
  </tr>
  <tr>
    <td><%= form.label :note, "Details" %></td>
    <td><%= form.text_field :note, :size => "25" %></td>
  </tr>
  <tr>
    <td><%= form.label :note, "Per Diem" %></td>
    <td><%= form.radio_button "per_diem", true %> Yes<br>
    <%= form.radio_button "per_diem", false, :checked => true %> No</td>
  </tr>
  <tr>
    <td><%= form.label :fuel, "Purchased Fuel Liters" %></td>
    <td><%= form.text_field :fuel, :size => "10" %></td>
  </tr>
  <tr>
    <td><%= form.label :hotel, "Hotel Cost" %></td>
    <td><%= form.text_field :hotel, :size => "10" %></td>
  </tr>
</table>

<hr />

<h3>Tasks</h3>
<p>Fill out a detailed list of what you did today. You will be paid based on the difference between "Clock In" and "Clock Out".</p>

<table>
<tr>
<td><b><%= form.label :started_at, "Clock In" %></b><br />
<%= form.datetime_select :started_at, :minute_step => 15 %></td>
</tr>
<tr>
<td colspan="2"><hr /></td>
</tr>

<% form.fields_for :time_tasks do |builder| %>
  <%= render 'time_task_fields', :form => builder %>
<% end %>

<tr>
<td colspan="2"><hr /></td>
</tr>
<tr>
<td><b><%= form.label :lunch, "Lunch Break" %></b></td>
<td><%= form.select ("lunch", @lunch_selections.map {|u| ["#{u} Minutes", u]}, :include_blank => false, :selected => "30") %></td>
</tr>
<tr>
<td><b><%= form.label :completed_at, "Clock Out" %></b><br />
<td><%= form.datetime_select :completed_at, :include_blank => true %></td>
</tr>
</table>

<hr />

<h3>Users</h3>
<p>Adjust time for each person on the job. If everyone worked the full day, you do not need to make any changes. If a person did not work at all, adjust their drop down to the blank selection.</p>

<% form.fields_for :time_entries do |builder| %>
  <%= render 'time_entries_fields', :form => builder %>
<% end %>