<div class="span-10 append-bottom">
  <%= form.label :time_note_category_id, "Comment" %><br>
  <%= form.select (:time_note_category_id, @time_note_categories.map {|u| [u.name,u.id]}) %>
</div>

<div class="span-14 last append-bottom">
  <%= form.label :note, "Additional Comments" %><br>
  <%= form.text_field :note, :class => "span-14" %>
</div>

<br class="clear">

<div class="span-4 append-bottom">
  <%= form.label :fuel, "Purchased Fuel Litres" %><br>
  <%= form.text_field :fuel, :class => "span-4" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :hotel, "Hotel Cost" %><br>
  <%= form.text_field :hotel, :class => "span-4" %>
</div>

<div class="span-4 append-bottom">
  <%= form.label :note, "Apply per diem" %><br>
  <%= form.radio_button "per_diem", true %> Yes
  <%= form.radio_button "per_diem", false, :checked => true %> No
</div>

<hr>

<h3>Tasks</h3>
<% unless @time_sheet.new_record? %>
<p>If you require additional rows of tasks, save and re-edit. 2 new rows are added each time.</p>
<% end %>

<% form.fields_for :time_tasks do |builder| %>
  <%= render 'time_task_fields', :form => builder %>
<% end %>

<br class="clear">

<div class="append-bottom">
  <%= form.label :lunch, "Lunch Break" %><br>
  <%= form.select ("lunch", @lunch_selections.map {|u| ["#{u} Minutes", u]}, :include_blank => false) %>
</div>

<hr>

<h3>Users</h3>
<% unless @time_sheet.new_record? %>
<p>Time Entries cannot be added or removed once a time sheet has been created. You may manually Clock In, Clock Out users from a Job and then submit a new time sheet, or you may edit the individual time entries.</p>
<% else %>
<p>Select the Clock In / Clock Out entries that should be included with this time sheet. Note that the paid Time will be reduced by the Lunch Break length.</p>
<% end %>

<%- if @entries -%>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th class="right">Clock In</th>
    <th class="right">Clock Out</th>
    <th class="right">S/T</th>
    <th class="right">O/T</th>
    <th class="right">T/T</th>
    <th>&nbsp;</th>
  </tr>
  <%- @entries.each do |entry| -%>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td>
    <%- if entry.clock_in && entry.clock_out && entry.active && entry.time_sheet_id == nil -%>
      <%= check_box_tag "time_entry_ids[]", entry.id, :checked => true -%>
    <%- else %>
      <%= check_box_tag "user", "active", true, :disabled => true -%>
    <%- end -%>

    </td>
    <td><%= entry.user.name %></td>
    <td class="span-5 right"><%= if entry.clock_in : entry.clock_in.strftime('%Y-%m-%d %I:%M %p') else '-' end %></td>
    <td class="span-5 right"><%= if entry.clock_out : entry.clock_out.strftime('%Y-%m-%d %I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.straight_time != 0 : "#{sprintf("%.2f", entry.straight_time)} Hours" else '-' end %></td>
    <td class="right"><%= if entry.over_time != 0 : "#{sprintf("%.2f", entry.over_time)} Hours" else '-' end %></td>
    <td class="right"><%= if entry.hours != 0 : "#{sprintf("%.2f", entry.hours)} Hours" else '-' end %></td>
    <td class="right">
      <%= link_to 'Edit', edit_private_time_entry_url(entry) %>
    </td>
  </tr>
  <%- end -%>
</table>
<%- end -%>