<div class="span-4 append-bottom">
  <%= form.label :happened_at, "Starting at..." %><br>
  <%= form.time_select :happened_at, :minute_step => 15, :prompt => { :hour => "hh", :minute => "mm"} %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :time_task_category_id, "We were..." %><br>
  <%= form.select (:time_task_category_id, @time_task_categories.map {|u| [u.name,u.id]}, :include_blank => true) %>
</div>

<div class="span-14 last append-bottom">
  <%= form.label :note, "Notes" %>
  <%= form.text_field :note, :class => "span-14" %>
</div>