<div class="container">
<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Time Sheets', private_time_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= content_for :submenu do %>
  <%= render :partial => 'menus/time_sheets_menu', :layout => false %>
<% end %>

<%= form_for [:private, @job, @time_sheet] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <br class="clear">
  <hr>
  <%= f.submit "Save Time Sheet" %> or <%= link_to 'Cancel', private_home_path %>
<% end %>
    </div>
