<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<table class="sortable">
  <tr>
    <th class="span-4">Name</th>
    <th>Job</th>
    <th class="right">S/T</th>
    <th class="right">O/T</th>
    <th class="right">T/T</th>
    <th class="right">Lunch Break</th>
    <th class="right">Per Diem</th>
    <th class="actions nosort"></th>
  </tr>

<% @time_sheets.each do |time_sheet| %>
  <tr>
    <td><%= link_to "Time Sheet ##{time_sheet.id}", private_time_sheet_path(time_sheet), :class => "show" %></td>
    <td><%= job_label(time_sheet.job) %></td>
    <td class="right">
      <%= if time_sheet.total_straight_time != 0 : "#{sprintf('%.2f', time_sheet.total_straight_time)} Hours" else '-' end %>
    </td>
    <td class="right">
      <%= if time_sheet.total_over_time != 0 : "#{sprintf('%.2f', time_sheet.total_over_time)} Hours" else '-' end %>
    </td>
    <td class="right">
      <%= if time_sheet.total_hours != 0 : "#{sprintf('%.2f', time_sheet.total_hours)} Hours" else '-' end %>
    </td>
    <td class="right"><%= sprintf("%.2f", time_sheet.total_lunch_time) -%> Hours</td>
    <td class="right"><%= if time_sheet.total_per_diem != 0 then "$" + sprintf("%.2f", "#{time_sheet.total_per_diem}") else '-' end -%></td>
    <td class="actions">
    <%= link_to 'Delete', private_time_sheet_path(time_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_time_sheet_path(time_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>