<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<!-- <p id="new"><%= link_to 'New Time Sheet', new_private_time_sheet_path %></p> -->

<table class="sortable">
  <tr>
    <th class="span-3">Name</th>
    <th>Job #</th>
    <th>Average Hours</th>
    <th class="actions nosort"></th>
  </tr>

<% @time_sheets.each do |time_sheet| %>
  <tr>
    <td><%= link_to "Time Sheet ##{time_sheet.id}", edit_private_time_sheet_path(time_sheet), :class => "show" %></td>
    <td><%= time_sheet.job_id %></td>
    <td><%= time_sheet.hours %></td>
    <td class="actions"><%= link_to 'Delete', private_time_sheet_path(time_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %></td>
  </tr>
<% end %>
</table>