<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<table class="sortable">
  <tr>
    <th class="center span-2 number">#</th>
    <th class="center span-2">Date</th>
    <th class="number">Job</th>
    <th class="center">S/T</th>
    <th class="center">O/T</th>
    <th class="center">T/T</th>
    <th class="center">Lunch</th>
    <th class="center">Per Diem</th>
    <th class="actions nosort"></th>
  </tr>

<% @time_sheets.each do |time_sheet| %>
  <tr>
    <td><%= link_to time_sheet.id, private_time_sheet_path(time_sheet), :class => "show" %></td>
    <td><%= time_sheet.created_at.strftime('%b-%d-%y') %></td>
    <td><%= link_to job_label(time_sheet.job), private_job_path(time_sheet.job), :class => "show" %></td>
    <td class="right">
      <%= if time_sheet.total_straight_time != 0 : "#{sprintf('%.2f', time_sheet.total_straight_time)}" else '-' end %>
    </td>
    <td class="right">
      <%= if time_sheet.total_over_time != 0 : "#{sprintf('%.2f', time_sheet.total_over_time)}" else '-' end %>
    </td>
    <td class="right">
      <%= if time_sheet.total_hours != 0 : "#{sprintf('%.2f', time_sheet.total_hours)}" else '-' end %>
    </td>
    <td class="right"><%= sprintf("%.2f", time_sheet.total_lunch_time) -%></td>
    <td class="right"><%= if time_sheet.total_per_diem != 0 then "$" + sprintf("%.2f", "#{time_sheet.total_per_diem}") else '-' end -%></td>
    <td class="actions">
    <%= link_to 'Delete', private_time_sheet_path(time_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_time_sheet_path(time_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>