<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<!-- <p id="new"><%= link_to 'New Time Sheet', new_private_time_sheet_path %></p> -->

<table class="sortable">
  <tr>
    <th class="span-3">Name</th>
    <th>Job</th>
    <th>Average Hours</th>
    <th>Lunch Break</th>
    <th>Per Diem</th>
    <th class="actions nosort"></th>
  </tr>

<% @time_sheets.each do |time_sheet| %>
  <tr>
    <td><%= link_to "Time Sheet ##{time_sheet.id}", private_time_sheet_path(time_sheet), :class => "show" %></td>
    <td><%= job_label(time_sheet.job) %></td>
    <td><%= time_sheet.hours -%></td>
    <td><%= time_sheet.lunch -%> Minutes</td>
    <td>
      <%- if time_sheet.per_diem -%>
      Yes ($<%= time_sheet.per_diem_rate -%>)
      <%- else %> 
      No
      <%- end -%>
    </td>
    <td class="actions">
    <%= link_to 'Delete', private_time_sheet_path(time_sheet), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%= link_to "Edit", edit_private_time_sheet_path(time_sheet), :class => "edit" %>
    </td>
  </tr>
<% end %>
</table>