<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= link_to 'Time Sheets', private_time_sheets_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'menus/time_sheets_menu', :layout => false %>
<% end %>

<% content_for :versions do %>
<ol id="versions" class="noprint">
    <li>Version <%= @time_sheet.version %> of <%= @time_sheet.last_version %></li>
    <li><%= if @time_sheet.versioned_at : @time_sheet.versioned_at.strftime("%Y-%m-%d %H:%M") else @time_sheet.created_at.strftime("%Y-%m-%d %H:%M") end %></li>
  <% if @time_sheet.version > 1 %>
    <li><%= link_to "Older", :version => @time_sheet.version-1 %></li>
  <% else %>
    <li>Older</li>
  <% end %>
  <% if params[:version] %>
    <li><%= link_to "Newer", :version => @time_sheet.version+1 %></li>
    <li><%= link_to "Revert", revert_time_sheet_path(:version => @time_sheet.version) %></li>
  <% else %>
    <li>Newer</li>
    <li>Revert</li>
  <% end %>
</ol>
<% end %>


<table class="no-right-border">
  <tr>
    <th colspan="2"><% @time_sheet.jobs.each do |job| %><%= job.label %><br><% end %></td>
  </tr>
  <tr class="odd">
    <td>Created On</td>
    <td class="right"><%= @time_sheet.created_at.strftime("%B %d, %Y") %></td>
  </tr>
 <tr>
	<td>Created By</td>
	<td class="right">
		<% u_id = @time_sheet.created_by %>
		<% if u_id == 0 || u_id == nil %>
		<% else %>
		<% user = User.find(u_id) %>
		<%= user.first_name + " " + user.last_name %>
		<% end %>
	</tr>
	</td>
  <tr class="even">
    <td>Updated On</td>
    <td class="right"><%= @time_sheet.updated_at.strftime("%B %d, %Y") %></td>
  </tr>
  <tr class="odd">
    <td>Per Diem</td>
    <td class="right">
      <%= @time_sheet.per_diem_percent %> Day
    </td>
  </tr>
  <tr class="even">
    <td>Fuel</td>
    <td class="right">
      <%= if @time_sheet.fuel : "#{@time_sheet.fuel} L" else "-" end -%>
    </td>
  </tr>
  <tr class="odd">
    <td>Hotel</td>
    <td class="right">
      <%= if @time_sheet.hotel : "$#{@time_sheet.hotel}" else "-" end -%>
    </td>
  </tr>
</table>

<br>

<h3>Comments</h3>
<p>
  <%= @time_sheet.time_note_category.name %><br>
  <%= @time_sheet.note %>
</p>

<br>

<h3>Tasks</h3>
<table  class="no-right-border">
<tr>
  <th>Time</th>
  <th>Task</th>
</tr>
<% @time_sheet.time_tasks.each do |task| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= task.happened_at.strftime("%H:%M") %></td>
    <td>
      <%= task.time_task_category.name %>
      <% if task.note %>
        <br>
        <%= task.note %>
      <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="2" class="total">
    Lunch: <%= @time_sheet.lunch %> Minutes<br>
    Total: <%= @time_sheet.total_hours %> Hours
  </td>
</tr>
</table>

<br>

<h3>Time Spent per Job</h3>
<table class="no-right-border">
  <tr>
    <th class="span-2">Time</th>
    <th>Job</th>
  </tr>
<% @time_sheet.estimates.each do |estimate| %>
<tr class="<%= cycle 'odd', 'even' %>">
  <td><%= estimate.hours %></td>
  <td><%= estimate.job.label %></td>
</tr>
<% end %>
</table>

<br>

<h3>User Time Entries</h3>
<table class="no-right-border">
<tr>
  <th>User</th>
  <th class="right">Clock In</th>
  <th class="right">Clock Out</th>
  <th class="right">S/T</th>
  <th class="right">O/T</th>
  <th class="right">T/T</th>
</tr>
<% @time_entries_total = 0 %>
<% @time_sheet.time_entries.each do |entry| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= entry.user.name %></td>
    <td class="right"><%= if entry.clock_in : entry.clock_in.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.clock_out : entry.clock_out.strftime('%I:%M %p') else '-' end %></td>
    <td class="right"><%= if entry.straight_time != 0 : "#{sprintf("%.2f", entry.straight_time)}" else '-' end %></td>
    <td class="right"><%= if entry.over_time != 0 : "#{sprintf("%.2f", entry.over_time)}" else '-' end %></td>
    <td class="right"><%= if entry.hours != 0 : "#{sprintf("%.2f", entry.hours)}" else '-' end %></td>
  </tr>
<% end %>
</table>