<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<p id="new"><%= link_to 'New WorkOrder', new_private_work_order_path %></p>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %><br>
    <em>Searches within Work Orders</em>
  </td></tr>
<% end %>
</table>

<%= will_paginate @work_orders %>

<table class="sortable">
  <tr>
    <th class="span-2 center">Wo No</th>
    <th class="span-4 center">Client Name</th>
    <th class="span-4 center">Equipment</th>
    <th class="span-4 center">Contact name</th>
    <th class="span-4 center">Created date</th>
    <th class="span-4 center">Completed date</th>
    <th class="span-2 center">Labour Cost</th>
    <th class="span-2 center">Parts Cost</th>
    <th class="span-2 center">Shop Supplies</th>  
    <th class="span-2 center">Total cost</th> 
    <th class="actions nosort"></th>
  </tr>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
<% @work_orders.each do |work_order| %>
  <tr>
    <td><%= work_order.id %></td>
    <td><%= work_order.client_name %></td>
    <td><%=  work_order.equipment.name %></td>
    <td><%=  work_order.contact_name %></td>
    <td><%=  work_order.created_date.strftime('%b-%d-%y') if !work_order.created_date.blank? %></td>
    <td><%=  work_order.completed_date.strftime('%b-%d-%y') if !work_order.completed_date.blank?%></td>
    <td>$<%=  work_order.labour_cost %></td>
    <td>$<%=  work_order.parts_cost %></td>
    <td>$<%=  work_order.shop_supplies %></td>
    <td>$<%=  work_order.total_cost %></td>
    <td class="actions">
    <%#= link_to 'Delete', private_work_order_path(work_order), :confirm => 'Are you sure? This cannot be undone!', :method => :delete, :class => "delete" %>
    <%#= link_to "Edit", edit_private_work_order_path(work_order), :class => "edit" %>
    <%= link_to "Show", private_work_order_path(work_order), :class => "show" %>
    <%= link_to "Generate PDF", private_work_order_generate_report_path(work_order), :class => "show" %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @work_orders %>
