<% if !is_not_single_specific_role?(current_user, :service_advisor) %>
    <%= content_for :submenu do %>
      <ol class="noprint">
        <% if permitted_to? :manage, :private_equipments -%>
          <li><%= active_link_to 'Equipment', private_equipments_path %></li>
        <% end %>
        <% if permitted_to? :manage, :private_work_orders -%>
          <li><%= active_link_to 'Work Orders', private_work_orders_path %></li>
        <% end %>
      </ol>
    <% end %>
<% end %>

<%= content_for :breadcrumb do %>
 <% if is_not_single_specific_role?(current_user, :service_advisor) %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li>Settings</li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
  <% else %>
  <ul id="breadcrumb">
    <li><%= @page_title %></li>
  </ul>
  <% end %>
<% end %>

<p id="new"><%= link_to 'New WorkOrder', new_private_work_order_path %></p>

<hr>
<table>
<%= form_tag '', :method => 'get' do %>
  <tr class="no-border"><td class="no-border right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %><br>
    <em>Searches within Work Orders</em>
  </td></tr>
<% end %>
</table>

<%= will_paginate @work_orders %>

<%= render :partial => 'index', :locals => {:work_orders => @work_orders} %>

<%= will_paginate @work_orders %>
