<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<% form_tag :controller => 'private/clock_in', :action => "create", :method => :post do -%>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Clocked In at</th>
    <th>Comment</th>
  </tr>
  <% @job.users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <% unless @clocked_in_ids.include?(user.id) %>
      <td class="span-1"><%= check_box_tag "users[][active]", "true", :checked => true %></td>
      <td class="span-4"><%= user.name %></td>
      <td>-</td>
      <td>
        <%= text_field_tag "users[][note]" %>
        <%= hidden_field_tag "users[][user_id]", user.id %>
        <%= hidden_field_tag "users[][job_id]", @job.id %>
        <%= hidden_field_tag "users[][rate]", user.rate %>
        <%= hidden_field_tag "users[][bank_overtime_hours]", user.bank_overtime_hours %>
      </td>
    <% else %>
    <% @entry = TimeEntry.find(:first, :conditions => {:job_id => @job.id, :user_id => user.id, :clock_out => nil, :active => true}) %>
      <td class="span-1"><%= check_box_tag "user", "active", true, :disabled => true %></td>
      <td class="span-4"><span class="quiet"><%= user.name %></span></td>
      <td><span class="quiet"><%= if @entry : @entry.clock_in.strftime('%b-%d-%y at %I:%M %p') else "Error" end %></span></td>
      <td>-</td>
    <% end %>
    </tr>
  <% end %>
</table>

<%= hidden_field :job, :id, :value => @job.id %><br>

  <hr>
<% unless @clocked_in_ids.length == @job.users.length %>
  <p>Clock In at...
    <br><%= datetime_select 'job', :started_on, { :minute_step => 15, :discard_year => true } %>
  </p>

  <p>After Clock In...<br>
    <label><%= radio_button_tag "navigate", "show_job", :checked => true %> Take me to the Job</label><br>
    <label><%= radio_button_tag "navigate", "clock_in" %> Clock In additional users</label><br>
    <label><%= radio_button_tag "navigate", "clock_out" %> Clock Out users</label>
  </p>
  <p><%= submit_tag "Clock In Selected Users" %></p>
<% else %>
  <p>All assigned users are already clocked in.
    <%= link_to "Clock Out now", {:controller => "private/clock_out", :action => "new", :job_id => @job.id} %>.
  </p>
<% end %>

<% end -%>