<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<%= form_tag :controller => 'private/clock_in', :action => "create", :method => :post do -%>
<input type="button" onclick="toggleCheckboxes(true)" value="Select All"/>
<input type="button" onclick="toggleCheckboxes(false)" value="Select None"/>
  <table class="no-border">
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Clocked in at</th>
      <th>Clocked out at</th>
    </tr>
  <% @users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <% unless @clocked_in_ids.include?(user.id) %>
      <td class="span-1"><%= check_box_tag "users[#{user.id}][active]", true, false, :checked => true %></td>
      <td class="span-4"><%= user.name %></td>
      <td>-</td>
      <td>-
        <%= hidden_field_tag "users[#{user.id}][user_id]", user.id %>
        <%= hidden_field_tag "users[#{user.id}][rate]", user.rate %>
        <%= hidden_field_tag "users[#{user.id}][bank_overtime_hours]", user.bank_overtime_hours %>
      </td>
    <% else %>
      <% @entry = TimeEntry.where(:user_id => user.id, :time_sheet_id => nil, :active => true).first %>
      <td class="span-1"><%= check_box_tag "user", "active", true, :disabled => true %></td>
      <td class="span-4"><span class="quiet"><%= user.name %></span></td>
      <td><span class="quiet"><%= @entry.clock_in.strftime( '%b-%d-%y at %I:%M %p') rescue "-" %></span></td>
      <td><span class="quiet"><%= @entry.clock_out.strftime('%b-%d-%y at %I:%M %p') rescue "-" %></span></td>
    <% end %>
    </tr>
  <% end %>
  </table>

  <% unless @clocked_in_ids.length == @users.length %>
    <p>
      <label>Clock in at...</label>
      <br><%= datetime_select 'job', :started_on, { :minute_step => 15, :discard_year => true } %>
    </p>

    <p>
      <label>After Clock in...</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "home", :checked => true %> Go to Home</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "clock_in" %> Clock in users</label><br>
      <label class="normal"><%= radio_button_tag "navigate", "clock_out" %> Clock out users</label>
    </p>

    <p><%= submit_tag "Clock In Selected Users" %></p>
  <% else %>
  <p>There are no users who can clock in!
    <%= link_to "Clock out", {:controller => "private/clock_out", :action => "new", :job_id => @job.id} %> or
    <%= link_to "submit a time sheet", new_private_time_sheet_path %>.
  </p>
  <% end %>

<% end -%>

<script type="text/javascript" language="javascript">
	function toggleCheckboxes(checked_status) {

		var checkboxes = [];
		checkboxes = $$('input').each(function(e){ if(e.type == 'checkbox') checkboxes.push(e) });

		if(checked_status == true)
			checkboxes.each(function(e){ e.checked = 1 });
		else
			checkboxes.each(function(e){ e.checked = 0 });
	}

</script>
