<!DOCTYPE html>
<html>
<head>
  <title>
  <%- if @page_title -%>
    <%= @page_title %> | Private
  <%- else -%>
    Private
  <%- end -%>
  </title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <meta name="keywords" content="<%= @keywords %> aaa striping, triple a striping, edmonton, ab, alberta">
  <meta name="description" content="<%= @description %>">
  <meta name="robots" content="index, follow">
  <%= stylesheet_link_tag 'blueprint-0.9.1/screen.css', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint-0.9.1/print.css', :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint-0.9.1/ie.css', :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag :defaults, 'fastinit', 'tablesort' %>
  <%= stylesheet_link_tag 'private.css', :media => "screen, projection" %>
  <%= yield :javascripts -%>
  <%= yield :stylesheets -%>
</head>

<body>

  <div id="header">
    <p id="title">AAA Striping &amp; Seal Coating Service</p>
    <%= render :partial => 'menus/private', :layout => false %>

  </div><!-- header -->
  
  <div id="content">

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="<%= key %>"><%=h value %></div>
      <% end -%>
    </div>

    <% if @page_title %>
      <h1><%= @page_title %></h1>
    <% end %>

    <%= yield %>
  
  </div>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-1478414-21");
  pageTracker._trackPageview();
  } catch(err) {}</script>

</body>
</html>