<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>AAA Striping</title>
    <%= stylesheet_link_tag 'blueprint-0.9.1/screen.css', :media => "handheld, all" %>
    <%= stylesheet_link_tag 'mobile.css', :media => "handheld, all" %>
  </head>
  <body id="mobile">

    <%= render :partial => 'menus/private_menu', :layout => false %>
    
    <hr />

    <% flash.each do |key, value| -%>
      <p><%=h value %></p>
    <% end -%>

    <% if @page_title %>
      <h2><%= @page_title %></h2>
    <% end %>

    <%= yield %>
  </body>
</html>

