<!DOCTYPE html>
<html>
<head>
  <title>
  <%- if @page_title -%>
    <%= @page_title %> | Zebra Online
  <%- else -%>
    Zebra Online
  <%- end -%>
  </title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <meta name="robots" content="noindex, nofollow">
  <%= stylesheet_link_tag 'blueprint-0.9.1/screen.css', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint-0.9.1/print.css', :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint-0.9.1/ie.css', :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag 'private.css', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'print.css', :media => "print" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheets -%>
  <%= javascript_include_tag 'application.js' %>
  <%= yield :javascripts -%>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header_container">
  <div id="header">
    <%= render :partial => 'menus/private_menu', :layout => false %>
  </div>

  <div id="submenu">
    <%= yield :submenu %>
  </div>
</div>

<%= yield :breadcrumb %>

<div id="content">
  <%= yield :versions %>

  <% flash.each do |key, value| -%>
    <div class="<%= key %>"><p><%=h value %></p></div>
  <% end -%>

  <% if @page_title -%>
    <h1><%= @page_title.html_safe %></h1>
  <% end -%>

  <%= yield %>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1478414-21");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
