<!DOCTYPE html>
<html>
<head>
  <title>
  <%- if @page_title -%>
    <%= @page_title %> | AAA Striping &amp; Seal Coating Service
  <%- else -%>
    AAA Striping &amp; Seal Coating Service | Edmonton, Alberta
  <%- end -%>
  </title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <meta name="keywords" content="<%= @keywords %> aaa striping, triple a striping, edmonton, ab, alberta">
  <meta name="description" content="<%= @description %>">
  <meta name="robots" content="index, follow">
  <%= stylesheet_link_tag 'blueprint-0.9.1/screen.css', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint-0.9.1/print.css', :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint-0.9.1/ie.css', :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag 'public.css', :media => "screen, projection" %>
  <%= javascript_include_tag :all, :cache => true %>
  <%= yield :javascripts -%>
  <%= yield :stylesheets -%>
  <meta name="google-site-verification" content="twctBw50N5EhtCAEowG3YAD5QmIePEKNC3rKtAZTzsE">
  <meta name="y_key" content="3eaebb38588c061a">
  <meta name="msvalidate.01" content="FC8BA04646813199B5EAB9BF9D6DB19B">
</head>

<body>

  <div class="container">

    <a id="quoterequest" href="/contacts">Request More Information</a>

    <div id="header" class="clearfix">
      <%= render :partial => 'menus/main', :layout => false %>
    </div><!-- header -->

    <div id="content" class="clearfix edges <%= @content_classes %>">

      <div id="flash">
        <% flash.each do |key, value| -%>
          <div class="<%= key %>"><%=h value %></div>
        <% end -%>
      </div>

      <% if @page_title %>
        <h1><%= @page_title %></h1>
      <% end %>

      <%= yield %>

    </div><!-- content -->

    <div id="footer">
      <%= render :partial => 'menus/main', :layout => false %>
      <p>
        Copyright &copy; <%= Time.now.strftime("%Y") %> AAA Striping &amp; Seal Coating Service, a division of Swerdna Services.
        &nbsp;&nbsp;&nbsp;
      <% anonymous_only do %>
        <%= link_to "Register", new_user_path %> or 
        <%= link_to "Login", new_user_session_path %>.
      <% end %>
      <% authenticated_only do %>
        <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>.
      <% end %>
      </p>
    </div><!-- footer -->
  </div><!-- container -->

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-1478414-21");
  pageTracker._trackPageview();
  } catch(err) {}</script>

</body>
</html>